<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2013,2014,2015 Genome Research Ltd.%>

<table class="plate" id="<%= qc_type %>">
  <thead>
    <tr>
    <% num_rows = plate.height -%>
    <% num_columns = plate.width -%>
    <th></th>
    <% num_columns.times do |column| -%>
      <th><%= column+1 %></th>
    <% end -%>
    <th class='border' width='2%'class='border' width='2%'></th>
    </tr>
  </thead>
  <tbody>
  <% num_rows.times do |row| -%>
    <tr>
      <% rowchar = (65+row).chr %>
      <td class='border' width='2%'><strong><%= rowchar %></strong></td>
      <% (num_columns).times do |column| -%>
        <% well_name = "#{rowchar}#{column+1}" %>
        <% well = plate.find_well_by_name(well_name) %>
         <% if well %>
            <%= render partial: qc_type, locals: { value: well.well_attribute.send(:"#{ qc_type }") } %>
         <% else %>
           <td></td>
        <% end %>
      <% end -%>
      <td class='border' width='2%'><strong><%= rowchar %></strong></td>
    </tr>
  <% end -%>
  <tr>
    <td class='border'></td>
    <% num_columns.times do |column| -%>
      <td class='border'><strong><%= column+1 %></strong></td>
    <% end -%>
    <td class='border' width='2%'class='border' width='2%'></td>
  </tr>
  </tbody>
</table>

<% plate.wells.each do |well| %>
  <label for="well_<%= "#{well.id.to_s}" %>" style="display:none">Well <%= well.map.description %></label>
<% end %>
