<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015,2016 Genome Research Ltd.%>

<% add :menu, "Sample Management homepage" => lab_sample_logistics_path %>
<%= semantic_form_for(:plates, url: plates_path) do |form| %>
  <%= bs_column do %>
    <%= form.inputs name: "Create Plates" do %>
      <%= form.input :user_barcode,    input_html: {onkeypress: "return disable_cr_and_change_focus(event,'user_barcode','plates_source_plates')",class: 'form-control' } %>
      <%= form.input :source_plates,   as: :text,   required: false, input_html: { class: 'form-control'} %>
    <% end %>
  <% end %>
  <%= bs_column do %>
    <%= form.inputs name: "With Options" do %>
      <%= form.input :creator_id,      as: :select, collection: @plate_creators, label: 'Plate purpose', input_html: { class: 'form-control select2'} %>
      <%= form.input :dilution_factor, as: :select, label: 'Dilution factor', input_html: { class: 'form-control'} %>
      <%= form.input :barcode_printer, as: :select, collection: @barcode_printers, input_html: { class: 'form-control select2'} %>
      <%= form.action(:submit, disable_with: 'Please wait...') %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
(function($) {
  var plate_creator_parameters = {
    <% @plate_creators.each do |pc| %>
      "<%= pc.name %>": <%= pc.valid_options.to_json.html_safe %>,
    <% end %>
  };
  var dilutionFactorsNodes = $("#plates_dilution_factor");
  var defaultOption = "<option value='1.0'>1.0</option>";

  dilutionFactorsNodes.html(defaultOption);

  var updateFactorsFor = function(name) {
    dilutionFactorsNodes.html("");
    if (plate_creator_parameters[name] !== null) {
      var validDilutionFactors = plate_creator_parameters[name].valid_dilution_factors;
      for (var i=0; i<validDilutionFactors.length; i++) {
        var val = validDilutionFactors[i]
        dilutionFactorsNodes.append("<option value='"+val+"'>"+val+"</option>");
      }
    } else {
      dilutionFactorsNodes.append(defaultOption);
    }
  }

  $("#plates_creator_id").change(function() {
    updateFactorsFor(this.options[this.selectedIndex].text);
  });
  $("#plates_creator_id").change();
})(jQuery)
</script>
