
<h2>QC Results</h2>

<h3>Concentration</h3>
<%= render partial: "qc_table", locals: { plate: @plate, qc_type: "concentration" } %>

<h3>Measured Volume</h3>
<%= render partial: "qc_table", locals: { plate: @plate, qc_type: "volume" } %>

<h3>Quantity in ng</h3>
<%= render partial: "qc_table", locals: { plate: @plate, qc_type: "quantity_in_nano_grams" } %>

<h3>SNP Count</h3>
<%= render partial: "qc_table", locals: { plate: @plate, qc_type: "loci_passed" } %>

<h3>RIN</h3>
<%= render partial: "qc_table", locals: { plate: @plate, qc_type: "rin" } %>

