<a href="<%= labware_path(@plate) %>">&lt;&lt; Back to Labware <%= @plate.human_barcode %></a>

<h2>QC Results</h2>

<h3>
Concentration (ng/µl)
<small class="text-muted">Measured from QC File upload</small>
</h3>
<%= render partial: "plate_schematic", locals: { plate: @plate, well_values: ['qc_result_for', "concentration"] } %>

<h3>
Measured Volume (µl)
<small class="text-muted">Measured from QC File upload</small>
</h3>
<%= render partial: "plate_schematic", locals: { plate: @plate, well_values: ['qc_result_for', "volume"] } %>

<h3>
Current Volume (µl)
<small class="text-muted">Calculated after Bed Verification</small>
</h3>
<%= render partial: "plate_schematic", locals: { plate: @plate, well_values: ['well_attribute', "current_volume"] } %>

<h3>
Quantity (ng)
<small class="text-muted">Calculated after Bed Verification</small>
</h3>
<%= render partial: "plate_schematic", locals: { plate: @plate, well_values: ['well_attribute', "quantity_in_nano_grams"] } %>

<h3>SNP Count</h3>
<%= render partial: "plate_schematic", locals: { plate: @plate, well_values: ['qc_result_for', "loci_passed"] } %>

<h3>RIN</h3>
<%= render partial: "plate_schematic", locals: { plate: @plate, well_values: ['qc_result_for', "rin"] } %>
