
<%= page_title 'Convert plates to tubes' %>
<p class="lead">Convert plates into tubes so that they can progress to another lab. This will also print out the barcodes and register the tubes in the destination lab reception freezer. Scan plate barcodes or enter human readable barcodes, for example 'DN12345'.</p>
<%= semantic_form_for(:plates, url: create_sample_tubes_plates_path) do |form| %>
  <%= form.inputs name: "" do %>
    <%= form.input :source_plates, as: :text, input_html: { class: 'form-control' } %>
    <%= form.input :study, as: :select, collection: @studies, input_html: { class: 'form-control select2' } %>
    <%= form.input :barcode_printer, as: :select, collection: @barcode_printers, input_html: { class: 'form-control select2' } %>
    <%= form.action(:submit) %>
  <% end %>
<% end %>
