
<% group = group.blank? ? 'general' : group %>
<th class="property_group_<%= group %>" id="property_<%= field_name %>">
  <div class="collapse_property_group_<%= group %>" style="display:none;">
    <a title="Show columns" data-visible-toggle-group="<%= group %>" data-visible-toggle-direction="show"><%= icon('far', 'eye') %></a>
  </div>
  <div class="cell_property_group_<%= group %>">
    <%# TODO[xxx]: support field being required somehow %>
    <span class="property_edit_info"><%= raw(sections.edit_info) %></span><br/>
    <span class="label"><%= sections.label %></span><br/>
    <span>
      <a title="Show columns" data-visible-toggle-group="<%= group %>" data-visible-toggle-direction="hide"><%= icon('far', 'eye-slash') %></a>
      <% unless sections.help.blank? %>
        <% tooltip do %><%= raw(sections.help) %><% end %>
      <% end %>
    </span>
  </div>
</th>
