<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011 Genome Research Ltd.%>
<script language="javascript">
  document.observe('dom:loaded', function() {
    (function(undefined) {
      var hide = function(elements) {
        elements.each(function(index) {
          // TODO[xxx]: Ideally want to disable any input/select/textarea fields to prevent them being sent back
          $(this).hide();
        });
      };
      var show = function(elements) {
        elements.each(function(index) {
          // TODO[xxx]: Enable the input/select/textarea fields
          $(this).show();
        });
      };

      var valueFrom = function(element) {
        var value = element.value.toLowerCase().replace(/[^a-z0-9]+/, '_');
        return (value.length == 0) ? 'blank' : value;
      };

      observe = function(id) {
        var selectRelatedFor = function(value) { return jQuery('.related_to.' + id + '.' + value); }
        element = $('<%= root %>_' + id) || $('<%= root %>_' + id + '_id');

        // Hide all of the DIVs and then show the current value.  We assume that the first identified element
        // is the one we're supposed to be using and that, if there are multiple fields, then they have the
        // same initial value.
        hide(jQuery('.related_to.' + id));
        show(selectRelatedFor(valueFrom(element)));

        // Now we can delegate handling of the click to the body element of the document.  This enables us to
        // handle multiple different fields with the same identifier as though they were one, hopefully.
        selector = '[id=<%= root %>_' + id + '],[id=<%= root %>_' + id + '_id]';
        jQuery('body').delegate(selector, 'change', function() {
          hide(jQuery('.related_to.' + id));
          show(selectRelatedFor(valueFrom(this)));
        });
      };

    <% related.each do |field| %>
      observe("<%= field.to_s %>");
    <% end %>
    })();
  });

  (function($, undefined) {
<% changing_fields.reverse.each do |field, options| %>
    attach_option_updater("<%= field.to_s %>", "<%= options[:when].to_s %>", {<%= options[:values].map { |k,v| "#{k.inspect}:#{v.inspect}" }.join(',').html_safe %>});
<% end %>

    function attach_option_updater(target, source, values) {
      $('#<%= root %>_' + source).change(function() {
        select_to_change_options_in = $('#<%= root %>_' + target);
        selected_option = select_to_change_options_in.val();
        options = values[this.value].map(function(value) { return '<option value="' + value + '">' + value + '</option>'; });
        select_to_change_options_in.html(options.join('')).val(selected_option);
        select_to_change_options_in.trigger('change');
      }).trigger('change');
    };
  })(jQuery);
</script>
