
<% add :menu, "All Tag Layout Templates" => tag_layout_templates_path(@asset) %>

<p>
  <% unless @tag_layout_template.enabled %>
  <b><span style="background-color: #dc3545; color: white; padding: 2px;">DISABLED</span></b> this tag layout template is not enabled.
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%=h @tag_layout_template.name %>
</p>

<p>
  <b>Tag Group:</b>
  <% if @tag_layout_template.tag_group.nil? %>
 	<%=h 'na' %>
  <% else %>
  	<%=link_to "#{@tag_layout_template.tag_group&.name}", @tag_layout_template.tag_group %>
  <% end %>
</p>

<p>
  <b>Tag2 Group:</b>
  <% if @tag_layout_template.tag2_group.nil? %>
 	<%=h 'na' %>
  <% else %>
  	<%=link_to "#{@tag_layout_template.tag2_group&.name}", @tag_layout_template.tag2_group %>
  <% end %>
</p>

<p>
  <b>Direction the tags are laid out by:</b>
  <%=h @tag_layout_template.direction %>
</p>

<p>
  <b>Walking by:</b>
  <%=h @tag_layout_template.walking_by %>
</p>
<br>
<%= link_to 'To tag groups list', tag_groups_path %>
<br>
<%= link_to 'To tag layout templates list', tag_layout_templates_path %>
