<tr class="<%= cycle("rowodd", "roweven") %>">
  <td><%= link_to(h(asset.display_name), asset_url(asset), :target => "_blank") %></td>
  <td><%= asset.sanger_human_barcode %></td>
  <% unless asset.requests.empty? %>
    <td colspan="3">
      <table border="0" cellpadding="3" cellspacing="0" width="100%">
        <% asset.requests.each do |request| %>
          <tr>
            <td width="42%"><%= request.pipeline.name unless request.pipeline_id.nil? %></td>
            <td width="29%"><%= link_to request.id, "#{configatron.studies_url}/requests/#{request.id}" %></td>
            <td width="29%"><%= request.batch_ids %></td>
          </tr>
        <% end %>
      </table>
    </td>
  <% else %>
    <td colspan="3">No request</td>
  <% end %>
  <td><%= asset.sti_type %></td>
  <% if asset.location %>
    <td><%= asset.location.name %></td>
  <% else %>
    <td>Unknown location</td>
  <% end %>
</tr>
