<tr class="<%= cycle("rowodd", "roweven") %>">
  <td><%= link_to(h(asset.display_name), asset_url(asset), :target => "_blank") %></td>
  <td><%= asset.respond_to?(:sanger_human_barcode) ? asset.sanger_human_barcode : '' %></td>
  <td colspan="3">
    <% unless asset.requests.empty? %>
      <table border="0" cellpadding="3" cellspacing="0" width="100%">
        <% asset.requests.each do |request| %>
          <tr>
            <td width="42%"><%= request.pipeline.name unless request.pipeline_id.nil? %></td>
            <td width="29%"><%= link_to request.id, request_path(:id => request.id) %></td>
            <td width="29%"><%= request.batch.try(:id) %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      No request
    <% end %>
  </td>
  <td><%= asset.sti_type %></td>
  <td><%= asset.location ? asset.location.name : 'Unknown location' %></td>
</tr>
