
<%- add :about, "Role: #{@role_name.pluralize.humanize}" %>
<%- add :admin_option, "Back to roles management" => admin_roles_path %>
<%- add :admin_option, "Back to Admin Panel" => admin_path %>

<%= page_title 'Users', @role_name.pluralize.upcase %>

<div class="info" id='users'>
  <table class='sortable table table-striped'>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Login</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.find_each do |user| %>
        <tr>
          <td><%= user.name.humanize %></td>
          <td><%= user.login %></td>
          <td><%= link_to "Show profile", admin_users_path(user) %></td>
          <td><%= link_to "Edit profile", edit_admin_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
