<%= render_flashes %>

<div class="title-section">
  <%= page_title 'Sequencescape' %>
  <div class='subtitle-section'>
    <span class='subtitle-text'>Sample and study management for sequencing and genotyping</span>
  </div>
</div>
<div id="account_form">
  <%= form_tag do %>
    <div class='form-label-group'>
      <%= text_field_tag "login", "", required: true, placeholder: "Sanger username", class: "form-control" %>
      <%= label_tag 'login', 'Sanger username' %>
    </div>

    <div class='form-label-group'>
      <%= password_field_tag "password", "", required: true, placeholder: "Password", class: "form-control" %>
      <%= label_tag 'password', 'Password' %>
    </div>

    <div class="form-group">
      <%= submit_tag I18n.t('global_links.login') %>
    </div>
  <% end %>
</div>
