<%= panel :info, title:'Upload a Sample Manifest'  do %>
  <%= form_tag(sample_manifest_upload_with_tag_sequences_path, multipart: true) do -%>
    <fieldset>
      <div class="form-group">
        <%= label_tag :upload, 'File to upload', style: "display: none;" %>
        <%= file_field_tag :upload, required: true %>
      </div>
      <div class="form-group">
        <div class="form-check">
          <%= check_box_tag :override_samples, class: 'form-check-input'%>
          <%= label_tag :override_samples, 'Override previously uploaded samples', class: 'form-check-label' %>
        </div>

        <div class="ml-3"><%# Indent the volume and concentration checkboxes, since they depend on override_samples %>
          <div class="form-check">
            <%= check_box_tag :overwrite_volume, class: 'form-check-input', disabled: true %>
            <%= label_tag :overwrite_volume, 'Overwrite volume', class: 'form-check-label' %>
          </div>
          <div class="form-check">
            <%= check_box_tag :overwrite_concentration, class: 'form-check-input', disabled: true %>
            <%= label_tag :overwrite_concentration, 'Overwrite concentration', class: 'form-check-label' %>
          </div>
        </div>
      </div>
      <div class="form-group mb-0">
        <%= submit_tag 'Upload manifest', class: 'btn btn-success' %>
      </div>
    </fieldset>
  <% end -%>
<% end %>

<%= vite_javascript_tag 'sample_manifest_upload' %>
