<%= render :partial => "side_links" %>

<h2>Create sample manifest</h2>

<% semantic_form_for(@sample_manifest) do |form| %>
  <% form.inputs :name => "Manifest Type" do %>
    <%= form.input :template,  :as => :select, :collection => @templates%>
  <% end %>
  <% form.inputs :name => "Manifest For" do %>
    <%= form.input :study,  :as => :select, :collection => @studies %>
    <%= form.input :supplier,  :as => :select, :collection => @suppliers %>
  <% end %>
  <% form.inputs :name => "Barcodes" do %>
  <% if params[:type] == '1dtube' %>
      <%= form.input :count, :input_html => { :size => 3, :value => "1" } %>
      <%= form.input :barcode_printer,  :as => :select, :collection => @barcode_printers %>
  <% elsif params[:type] == '2dtube' %>
    <% 1.upto(params[:count].to_i) do |i| %>
      Rack <%= i %> <%= file_field_tag "2d_file_#{i}" %><br />
    <% end %>
  <% else %>
    <%= form.input :count, :input_html => { :size => 3, :value => "1" } %>
    <%= form.input :barcode_printer,  :as => :select, :collection => @barcode_printers %>
  <% end %>
  <% end %>
  <% form.buttons do %>
    <%= form.input :asset_type, :value => params[:type], :as => :hidden %>
    <%= form.commit_button 'Create manifest and print labels' %>
  <% end %>


<% end %>
