
<%= render partial: "side_links" %>

<%= page_title @sample_manifest.name, @sample_manifest.study.name %>

<% if @sample_manifest.user %>
  <p class="lead">Created by <%= link_to @sample_manifest.user.login, profile_path(@sample_manifest.user) %></p>
<% end %>

<%= panel :info, title:'Actions' do %>
  <% if @sample_manifest.generated_document %>
    <%= link_to "Download Blank Manifest", export_sample_manifest_path(@sample_manifest), class: 'btn btn-lg btn-primary' %>
  <% else %>
    <div>Spreadsheets may be missing for manifests created via the API</div>
    <span class="btn btn-lg btn-secondary disabled">No Spreadsheet available</span>
  <% end %>
  <% if @sample_manifest.uploaded_document %>
    <%= link_to 'Download Completed Manifest', uploaded_spreadsheet_sample_manifest_path(@sample_manifest), class: 'btn btn-lg btn-secondary' %>
  <% else %>
    <span class="btn btn-lg btn-secondary disabled">No Manifest Uploaded</span>
  <% end %>
<% end %>

<%= render partial: "upload" %>

<% if @sample_manifest.last_errors %>
  <%= alert(:warning) do %>
    <h2>Errors</h2>
    Since there are errors no samples have been updated. Please fix them and upload again.
    <ul>
    <% @sample_manifest.last_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<%= render partial: "pool", locals: { sample_manifest: @sample_manifest} %>

<%= panel :info, title:'Barcodes' do %>
  <%= tag.div(class: "row") do %>
    <%= tag.div(class: "col-md-3") do %>
      <%= form_for(@sample_manifest, url: {action: "print_labels"}, method: :post) do |f| %>

        <div class="form-group">
          <%= label_tag :barcode_printer, 'Barcode printer' %>
          <%= render partial: "shared/printer_list" %>
        </div>

        <div class="form-group mb-0">
          <%= f.submit "Reprint all #{@sample_manifest.barcodes&.size || ''} labels", class: 'btn btn-success' %>
        </div>

      <% end %>
    <% end %>
    <% if @sample_manifest.barcodes %>
      <%= tag.div(class: "col-md-9", style: "column-count: 4;") do %>
        <% @sample_manifest.barcodes.each do |barcode| %>
          <div><%= barcode %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= panel_no_body :info, title:'Samples' do %>
  <% if @samples.empty? %>
    <%= tag.div(class: 'p-3') { "Samples will be generated on upload" } %>
  <% else %>
    <%= render partial: "samples", locals: { samples: @samples} %>
  <% end %>
<% end %>
