<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015,2016 Genome Research Ltd.%>

<%= render partial: "side_links" %>
<% add :menu, "Download Blank Manifest" => export_sample_manifest_path(@sample_manifest) %>

<h2>Manifest "<%= @sample_manifest.name %>" for study <%= @sample_manifest.study.name %></h2>
<h3><%= link_to "Download Blank Manifest", export_sample_manifest_path(@sample_manifest) %></h3>

<% if @sample_manifest.uploaded_document %>
  <h3><%= link_to 'Download Completed Manifest', uploaded_spreadsheet_sample_manifest_path(@sample_manifest) %></h3>
<% end %>

<% if @sample_manifest.user %>
  <p>Created by <%= link_to @sample_manifest.user.login, profile_path(@sample_manifest.user) %></p>
<% end %>

<%= render partial: "upload" %>

<% if @sample_manifest.last_errors %>
  <h2>Errors</h2>
  <div class="help">
  Since there are errors no samples have been updated. Please fix them and upload again.
  </div>
  <ul>

    <% @sample_manifest.last_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if @sample_manifest.barcodes %>

  <%= bs_column do %>
    <h2>Barcodes</h2>
    <ul>
    <% @sample_manifest.barcodes.each do |barcode| %>
      <li><%= barcode %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<%= render partial: "samples", locals: { samples: @samples} %>
