<div class='info'>
  <h3>Studies <span class='badge'><%= @sample.studies.length %></span></h3>
  <%= form_for :sample, url: url_for({controller: "samples", id: @sample.id, action: :add_to_study}), html: {method: :put} do |form| -%>
  <table>
    <thead>
      <tr>
        <th width='70%'>Study name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @sample.studies.each do |study| %>
        <tr>
          <td><%= link_to study.name, study_path(study) %></td>
          <% if current_user.is_administrator? || current_user.is_manager?(@study) %>
            <td><%= link_to("Unlink", url_for({controller: "samples", id: @sample.id, action: :remove_from_study, study_id: study.id}), confirm: "Are you sure you want to unlink this sample from the '#{study.name}' study?\n\nThere is no undo.") -%></td>
          <% end %>
        </tr>
      <% end %>
      <% if current_user.is_administrator? || current_user.is_manager?(@study) %>
      <tr>
        <td>
          <%= label("study", "id", 'Add to study', style: 'display:none') %>
          <%= collection_select("study", :id, @studies, :id, :name, prompt: "Add to study") %>
        </td>
        <td><%= form.submit "Add" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
