<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<% add :title, "Samples must be registered with a study before requests can be made." -%>

<h1>Edit <%= @sample.name %></h1>

<div class='help'>
  <h2>Important notice</h2>
    Sample names need to be unique and can only contain letters and numbers.<br />
    Characters like spaces, underscores and hyphens are not allowed.<br />
    For any help editing or creating new samples, please email <%= help_email_link %>
</div>
<div class="info">
Edit your sample. Required fields are marked with <%= required_marker %>.
</div>
<div id="study">
  <%= form_for :sample, :url => sample_path(@sample), :html => {:method => :put} do |form| -%>
    <%= render :partial => "sample", :locals => { :read_only => false, :creation => false, :form => form } %>
  <% end -%>
</div>
