
<% add :about, "Samples are registered here for sequencing or other laboratory pipelines." -%>

<%= page_title 'Samples', 'Index' %>

<div style="text-align:center">
  <%= pagination @samples %>
</div>
<br />
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th><a>ID</a></th>
      <th><a>Sample Name</a></th>
      <th><a>Date Created</a></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @samples.each do |sample| -%>
      <tr class="<%= " withdrawn" if sample.consent_withdrawn? %>">
        <td width="5%"><%= link_to sample.id, sample_path(sample) %></td>
        <td><%= sample.name %>
          <% if sample.consent_withdrawn? %>
            - <%= render partial: 'consent_withdrawn', locals: { sample: sample } %>
          <% end %>
        </td>
        <td><%= sample.created_at.to_formatted_s(:day_full_with_time) %></td>
        <% if can? :edit, sample -%>
          <td><%= link_to "Edit", edit_sample_path(sample) -%></td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
<br />
<div style="text-align:center">
  <%= pagination @samples %>
</div>
