<% add :title, "Samples are registered here for sequencing or other laboratory pipelines." -%>

<h1>All Samples</h1>

<div style="text-align:center">
  <%= will_paginate @samples %>
</div>
<br />
<table cellpadding="4" cellspacing="0" width="100%" class="sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sample Name</th>
      <th>Date Created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @samples.each do |sample| -%>
      <tr class="<%= cycle("rowodd", "roweven") %><%= " withdrawn" if sample.consent_withdrawn? %>">
        <td width="5%"><%= link_to sample.id, sample_path(sample) %></td>
        <td><%= sample.name %><%= " - Consent withdrawn" if sample.consent_withdrawn? %></td>
        <td><%= sample.created_at.to_formatted_s(:day_full_with_time) %></td>
        <% if current_user.administrator? -%>
          <td><%= link_to "Edit", edit_sample_path(sample) -%></td>
          <% if ! sample.has_submission? %>
            <td><%= link_to "Delete", sample, :method => :delete, :confirm => "Are you sure?" -%></td>
           <% else %>
            <td>&nbsp;</td>
          <% end %>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
<br />
<div style="text-align:center">
  <%= will_paginate @samples %>
</div>
