<% add :menu, "Samples" =>  samples_path -%>
<h1>Automatic Sample MOVE using spreadsheet</h1>

<% form_tag move_upload_samples_path, :multipart =>true do -%>
<h2>Please select a spreadsheet to upload:</h2>

<p>Uploading a spreadsheet uses the data supplied to pre-fill the normal registration form.</p>
<p>An spreadsheet template in the format required is <%= link_to "available to download", root_path + "data/move_sample_schema.xls" %></p>

<%= display_user_guide "Only #{configatron.uploaded_spreadsheet.max_number_of_move_samples.to_s} samples in one spreadsheet are currently allowed" %>

<p>File: <%= file_field_tag "file", :size => 50, :class => "enhanced" %></p>
<br />

<p><%= submit_tag "Upload spreadsheet", :class => "enhanced" %>  <%= image_tag "ajax-loader.gif", :size => "10x10", :id => "update_loader", :style => "display: none;"%></p>
<% end -%>
