<% add :about, "Allows correction of tag errors for one or more libraries." %>
<%= page_title 'Tag Substitution', @tag_substitution.name %>
<p class="lead">This page allows you to perform tag substitutions for cases where an incorrect tag was either recorded for a particular library, or where a lab mistake resulted in an incorrect tag being applied.</p>
<p>This page should only be used in cases where a mistake occurred at the point at which tags were either applied or recorded. If the mistake occurred later in the library preparation process, such as mistake in pooling, or a tube swap, then this page will result in incorrect information being recorded.</p>
<p>This form will modify <em>all</em> instances of a particular library, including those on other sequencing lanes.</p>

<%= tabulated_error_messages_for('tag_substitution') %>

<%= form_for(@tag_substitution) do |form| %>
  <%# We redirect back to the asset we started from %>
  <%= hidden_field_tag :receptacle_id, @receptacle_id %>
  <%= form.hidden_field :name %>
  <%= field_set_tag 'Summary' do %>
    <div class="grid-form">
      <%= form.label :ticket, 'Ticket number' %>
      <div class="field"><%= form.text_field :ticket %></div>
    </div>
    <div class="grid-form">
      <%= form.label :comment, 'Reason' %>
      <div class="field">
        <%= form.select :comment, options_for_select(@suggested_reasons), prompt: 'Select a reason, or type a new one.', required: true %>
        <small class="form-help">If providing a custom reason, please double check that a suitable reason is not already available in the drop-down. Please double check the guidelines above to confirm that this is the correct action.</small>
      </div>
    </div>
  <% end %>
  <%= field_set_tag 'Substitutions' do %>
    <p>The lists of tags below only contain those in the tag group used for the original pool. If you wish to add additional tag groups to the list select the tag group from the list below and click 'Add tags to list'</p>
    <div class="simple-inline-form">
      <label for="tag_group_list">Tag groups</label>
      <select id="tag-group-list" name="tag_group_list"></select>
      <button id="add-tag-group-list" class='btn btn-default' type='button'>Add tags to list</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Sample</th><th>Library id</th><th>Original Tag</th><th>Substitute Tag</th><th>Original Tag 2</th><th>Substitute Tag 2</th></tr>
        </tr>
      </thead>
      <tbody>
        <% @tag_substitution.substitutions.each_with_index do |substitution, index| %>
          <%= form.fields_for :substitutions, substitution, index: nil do |sub| %>
            <tr>
              <td>
                <%= sub.hidden_field :sample_id, id: "ts_s_id_#{index}" %>
                <%= substitution.sample_id %>: <%= substitution.sample_friendly_name %>
              </td>
              <td><%= sub.hidden_field :library_id, id: "ts_l_id_#{index}"  %><%= substitution.library_id %></td>
              <td>
                <%= sub.hidden_field :original_tag_id, id: "ts_ot_id_#{index}" %>
                <%= tag_name(substitution.original_tag_id) %>
              </td>
              <td><%= sub.select :substitute_tag_id, tag_options_for(substitution.substitute_tag_id),
                                 {},
                                 class: 'tag-list', id: "ts_st_id_#{index}"  %></td>
              <td>
                <%= sub.hidden_field :original_tag2_id, id: "ts_ot2_id_#{index}" %>
                <%= tag_name(substitution.original_tag2_id) %>
              </td>
              <td><%= sub.select :substitute_tag2_id, tag_options_for(substitution.substitute_tag2_id),
                                 {},
                                 class: 'tag-list' , id: "ts_st2_id_#{index}" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= form.submit 'Substitute Tags', disable_with: 'Substituting...', class: 'btn-success btn-lg btn' %>
  <% end %>
<% end %>


<%= legacy_javascript_tag do %>
  $(function() {
    var tagGroupsList = <%= tags_in_groups.to_json.html_safe %>;

    $("#tag-group-list").select2({
      theme: "bootstrap4",
      data: $.map(tagGroupsList, function (obj, key) {
        return { id: key, text: key };
      })
    });

    $('#add-tag-group-list').click(function(){
      var tagGroup = $("#tag-group-list").val();
      var optgroup = document.createElement('optgroup');
      optgroup.label = tagGroup;
      $.each(tagGroupsList[tagGroup], function (index, obj) {
        optgroup.append(new Option(obj[0], obj[1]));
      });
      $(".tag-list").append(optgroup);
    });

    // We don't use the default .select2 binding here for performance reasons.
    // With very high plexed lanes we end up rendering a LOT of select elements.
    // Without this optimization select2 takes about 140s to update the DOM.
    // The majority of this is spent in the select2 _resolveWidth function, which
    // tries to match the width of the select2 element, to that of the original
    // element. Providing a fixed width overrides this.
    // It still takes about 30s to render, which isn't great, but somewhat more
    // tolerable.
    $(".tag-list").select2({
      theme: "bootstrap4",
      width: '175px',
      minimumResultsForSearch: 10
    });
  });
<% end %>
