<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<h1>Plate Templates</h1>
<div class="newtemplate">
  <ul>
    <li><%= link_to "New 96 Template", new_plate_template_path(rows: 8, cols: 12) %></li>
    <li><%= link_to "New 384 Template", new_plate_template_path(rows: 16, cols: 24) %></li>
  </ul>
</div>

<table width=100%>
  <thead>
  <th>Template Name</th>
  <th>Size</th>
  <th>Control Well</th>
  <th>Delete</th>
  </thead>
<% @patterns.each do |pattern| %>
<tr>
  <td><%= link_to pattern.name, edit_plate_template_path(pattern.id) %></td>
  <td><%= pattern.size %></td>
  <td><%= pattern.control_well? ? "Control": "" %></td>
  <td><%= link_to 'Delete', pattern, confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>
