
<%= render partial: "side_links" %>

<%= page_title "Sample Manifests", "New and upload" %>

<% if @uploader %>
  <%= alert(:danger) do %>
    <% @uploader.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>

   <% if flash[:warnings].present? %>
      <%= alert(:warning) do %>
        <% flash[:warnings].each do |message| %>
          <p><%= message %></p>
        <% end %>
      <% end %>
    <% end %>


  <% end %>
<% end %>

<%= render partial: "upload" %>

<%= pagination @sample_manifests %>
<%= render partial: 'shared/manifests', locals: { manifests: @display_manifests, show_uploaded: true} %>
<%= pagination @sample_manifests %>
