<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<% add :menu, "All Tag Groups" => tag_groups_path(@asset) %>

<h1>Editing tag_group</h1>

<%= form_for(@tag_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

<%= render partial: "shared/tags_list", locals: { tag_group: @tag_group, tags: @tag_group.tags } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tag_group %> |
<%= link_to 'Back', tag_groups_path %>
