
<div class="page-header"><h1>Listing Tag Groups</h1></div>

<table class="table">
  <thead>
    <th>Name</th>
    <th>No. of Tags</th>
    <th>Adapter Type</th>
    <th></th>
  </thead>
  <tbody>
  <% for tag_group in @tag_groups %>
    <tr>
      <td><%= tag_group.name %></td>
      <td><%= tag_group.tags.count %></td>
      <td><%= tag_group.adapter_type_name %></td>
      <td><%= link_to 'Show', tag_group %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if can? :create, TagGroup %>
  <%= link_to 'Create a new Tag Group', new_tag_group_path %>
<% end %>
