
<div class="page-header"><h1>New Tag Group</h1></div>

<%= form_for(@form_object) do |f| %>
  <%= error_messages_for(f.object) %>
  <div class='form-group'>
    <%= f.label :name, 'Tag Group name' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :adapter_type_id, 'Adapter Type' %><br/>
    <%= f.select(:adapter_type_id, TagGroup::AdapterType.pluck(:name, :id), { prompt: 'Unspecified' }, class: 'form-control select2' )%>
  </div>

  <div class="form-group">
    <%= f.label :oligos_text, 'List of oligos (new line for each)' %><br/>
    <%= f.text_area :oligos_text, {prompt: 'Enter oligos...', size: '50x10', class: 'form-control'} %>
  </div>

  <div class="form-group actions-group">
    <%= f.submit('Create tag group', class: 'btn btn-success') %>
  </div>
<% end %>

<%= link_to 'Back to tag groups list', tag_groups_path %>
