<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015,2018 Genome Research Ltd.%>

<h1>New Tag Group</h1>

<%= form_for(@form_object, html: {class: 'submit_once'}) do |f| %>
  <%= f.error_messages %>
  <div class='form-group'>
    <%= f.label :name, 'Tag Group name' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :oligos_text, 'List of oligos (new line for each)' %><br/>
    <%= f.text_area :oligos_text, {prompt: 'Enter oligos...', size: '50x10', class: 'form-control'} %>
  </div>

  <div class="form-group actions-group">
    <%= f.submit('Create tag group', class: 'disable_on_submit btn btn-success') %>
  </div>
<% end %>

<%= link_to 'Back to tag groups list', tag_groups_path %>
