<h1>Billing events for <%= @project.name %></h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Reference</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Refunded</th>
      <th>Entry date</th>
      <th>Created by</th>
    </tr>
  </thead>
  <tbody>
  <% @billing_events.each do |billing_event| -%>
    <tr class="<%= cycle("rowodd", "roweven") %>">
      <td><%= billing_event.kind %></td>
      <td><%= link_to billing_event.reference, project_billing_event_path(@project, billing_event) %></td>
      <td><%= billing_event.description %></td>
      <td><%= billing_event.quantity %></td>
      <% if billing_event.charge? -%>
        <td><%= billing_event.quantity_refunded %></td>
      <% else -%>
        <td>&nbsp;</td>
      <% end -%>
      <td><%= billing_event.entry_date %></td>
      <td><%= billing_event.created_by %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<p><%= link_to "Create a new billing event", new_project_billing_event_path(@project) %></p>
