<h1>Billing Event &quot;<%= @billing_event.reference %>&quot; from <%= @project.name %></h1>

<p>See all billing events for <%= link_to @project.name, project_billing_events_path(@project) %></p>

<table>
  <tr>
    <th>Kind</th>
    <td><%= @billing_event.kind %></td>
    <td></td>
  </tr>
  <tr>
    <th>Reference</th>
    <td><%= @billing_event.reference %></td>
    <td></td>
  </tr>
  <tr>
    <th>Request id</th>
    <td><%= @billing_event.request_id %></td>
    <td></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @billing_event.description %></td>
    <td></td>
  </tr>
  <tr>
    <th>Quantity</th>
    <td><%= @billing_event.quantity %></td>
    <td></td>
  </tr>
  <tr>
    <th>Entry date</th>
    <td><%= @billing_event.entry_date %></td>
    <td></td>
  </tr>
  <tr>
    <th>Created by</th>
    <td><%= @billing_event.created_by %></td>
    <td></td>
  </tr>
</table>

<% if @billing_event.charge? -%>
  <h2>Refunds issued...</h2>

  <% unless @refunded_events.empty? -%>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Entry date</th>
          <th>Created by</th>
        </tr>
      </thead>
      <tbody>
      <% @refunded_events.each do |refunded_event| -%>
        <tr class="<%= cycle("rowodd", "roweven") %>">
          <td><%= refunded_event.description %></td>
          <td><%= refunded_event.quantity %></td>
          <td><%= refunded_event.entry_date %></td>
          <td><%= refunded_event.created_by %></td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  <% else -%>
    <p>No refunds have yet been issued</p>
  <% end -%>
<% end -%>
<% if @billing_event.refund? -%>
  <p>This is a refund for event <%= link_to @charged_event.reference, project_billing_event_path(@project, @charged_event) %></p>
<% end -%>
