<h1>Editing submission_workflow</h1>

<% form_for(@submission_workflow) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @submission_workflow %> |
<%= link_to 'Back', submission_workflows_path %>
