<h1>Listing submission_workflows</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for submission_workflow in @submission_workflows %>
  <tr>
    <td><%=h submission_workflow.name %></td>
    <td><%= link_to 'Show', submission_workflow %></td>
    <td><%= link_to 'Edit', edit_submission_workflow_path(submission_workflow) %></td>
    <td><%= link_to 'Destroy', submission_workflow, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New submission_workflow', new_submission_workflow_path %>
