<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2013 Genome Research Ltd.%>
<% add :title, I18n.t("studies.about") -%>
<% add :menu, "Register without spreadsheet" => new_study_sample_registration_path -%>

<h1>Sample Registration using spreadsheet</h1>
<div class='help'>
  <h2>Important notice</h2>
    For any help about Reference Genome list, please email <%= help_email_link %><br />
    The Reference Genome list is <%= link_to "here", reference_genomes_path %>
</div>
<%= form_tag spreadsheet_study_sample_registration_index_path, :multipart =>true do -%>
<h2>1. Please select a spreadsheet to upload:</h2>

<% unless @workflow.nil? %>
  <p>Uploading a spreadsheet uses the data supplied to pre-fill the normal registration form.</p>
  <p>An spreadsheet template in the format required is <%= link_to "available to download",'root' + "data/#{@workflow.key}/sample_information.xls" %></p>
<% end %>

<%= display_user_guide "Only #{configatron.uploaded_spreadsheet.max_number_of_samples.to_s} samples in one spreadsheet are currently allowed" %>

<p>
  <%= label_tag(:file, 'File to upload') %>:
  <%= file_field_tag(:file, :size => 50, :class => "enhanced") %>
</p>

<h2>2. Upload the spreadsheet</h2>

<p>You can review and amend the data before samples are registered at the next stage.</p>

<p><%= submit_tag "Upload spreadsheet", :class => "enhanced" %>  <%= image_tag "ajax-loader.gif", :size => "10x10", :id => "update_loader", :style => "display: none;"%></p>

<% end -%>
