
<% add :about, I18n.t("studies.about") -%>
<% add :menu, "Register without spreadsheet" => new_study_sample_registration_path -%>

<div class="page-header"><h1>Sample Registration using spreadsheet</h1></div>
<div class='help'>
  <h2>Important notice</h2>
    For any help about Reference Genome list, please email <%= help_email_link %><br />
    The Reference Genome list is <%= link_to "here", reference_genomes_path %>
</div>
<%= deprecate_section(
   date: Date.parse('2021-02-01'),
   message:'<p class="lead">The preferred method of registering samples is sample manifests.</p>
  <ul>
    <li>Sample manifests support both plates and tubes</li>
    <li>Sample manifests let you register pre-tagged libraries</li>
    <li>Sample manifests have no limit on the number of tubes which can be registered in one go</li>
    <li>Sample manifests provide additional support, such as drop down lists to assist you
    in filling out the spreadsheet.</li>
  </ul>
  <p>If there is functionality you need that is not provided by sample manifests
  then please let us know. This page will be automatically removed at the end of January 2021.</p>'.html_safe,
   replaced_by: sample_manifests_study_path(@study)) do %>
    <%= form_tag spreadsheet_study_sample_registration_index_path, multipart: true do -%>
    <h2>1. Please select a spreadsheet to upload:</h2>

    <p>Uploading a spreadsheet uses the data supplied to pre-fill the normal registration form.</p>
    <%= link_to "Download template for sequencing samples", '/data/short_read_sequencing/sample_information.xls' %>
    <%= link_to "Download template for genotyping samples", '/data/microarray_genotyping/sample_information.xls' %>

    <%= display_user_guide "Only #{configatron.uploaded_spreadsheet.max_number_of_samples.to_s} samples in one spreadsheet are currently allowed" %>

    <p>
      <%= label_tag(:file, 'File to upload') %>:
      <%= file_field_tag(:file, size: 50, class: "enhanced") %>
    </p>

    <h2>2. Upload the spreadsheet</h2>

    <p>You can review and amend the data before samples are registered at the next stage.</p>

    <p><%= submit_tag "Upload spreadsheet", class: "enhanced" %>  <%= image_tag "ajax-loader.gif", size: "10x10", id: "update_loader", style: "display: none;"%></p>

    <% end -%>
<% end %>
