Dear developer,

  <p>This request was sent on <%= @user_query.date %>, from <%= @user_query.url %>.</p>
  <p>User was logged in as <%= @user_query.user.login %>.</p>
  <p>What user was trying to do: <%= @user_query.what_was_trying_to_do %>.</p>
  <p>What has happened: <%= @user_query.what_happened %>.</p>
  <p>What user expected to happen: <%= @user_query.what_expected %>.</p>

Please, respond asap
