<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<h1>Listing tasks</h1>

<table>
  <tr>
  </tr>

<% @tasks.each do |task| -%>
  <tr>
  <td><%= task.name %></td>
  <td><%= task.workflow.name %></td>
    <td><%= link_to 'Show', task_path(task) %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task_path(task), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New task', new_task_path %>
