<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<%= render_title 'New task' %>
<%= render_help 'Create your new definition here.'%>

<%= form_for(:task, url: tasks_path, html: {id: 'task_form'}) do |f| %>
<div id='yield'>
  <div id='main-items'>
    <div id='template'>
      <%= error_messages_for :task %>
      <%= f.hidden_field :workflow_id, value: @workflow.id %>
      <%= f.hidden_field :sorted, value: @workflow.tasks.size %>
      <p>
        <strong>Name</strong><br />
        <%= f.text_field :name, size: '42' %>
      </p>
      <p>
        <strong>Location</strong><br />
        <%= f.text_field :location, size: '42' %>
      </p>
      <p>
      <%= f.check_box :interactive %> <strong>Interactive laboratory task</strong>
      </p>
      <p>
      <%= f.check_box :batched %> <strong>Process entire batch of samples</strong>
      </p>
      <%= render partial: 'descriptors' %>
      <p>
        <%= submit_tag "Create" %> or <%= link_to 'cancel', workflows_url %>
      </p>
    </div>
  </div>

  <br clear='all' />
</div>


<% end %>

