<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2013,2014,2015 Genome Research Ltd.%>

<% add :title, I18n.t("requests.about") -%>
<%- add :back_menu, "Back to request" => request_path(@request) -%>
<% @request.associated_studies.each do |study| %>
  <% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(study) -%>
<% end %>
<% add :admin_option, "Administer studies" => admin_studies_path -%>

<%= page_title("Request #{@request.id}",'Comments') %>
<div class='subtitle'>
  Request <%= @request.id %> &middot; Created on <%= @request.created_at.to_formatted_s(:long) %> &middot; <%= @request.state.capitalize %>
</div>

<div class='info'>
  <%= render partial: "list", locals: {study: @request } %>
  <% if current_user.privileged? @request %>
    <div>
      <%= form_tag(request_comments_path(@request), data: { update: "#request_annotations_#{@request.id}", remote: true }, class:'remote-form') do %>
        <label for='comment'>Type your comment</label>
        <div class="input-group">
          <%= text_field_tag "comment", '',  class:'form-control' %><span class="input-group-btn"><%= submit_tag 'Add comment', class: 'btn btn-success' %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
