<% add :title, I18n.t("studies.about") -%>
<%- add :back_menu, "Back to request" => request_path(@request) -%>
<% @request.asset.studies.uniq.each do |study| %>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(study) -%>
<% end %>
<% add :admin_option, "Administer studies" => index_studies_path -%>

<h1>Request <%= @request.id %> : Comments</h1>
<div class='subtitle'>
  Request <%= @request.id %> &middot; Created on <%= @request.created_at.to_formatted_s(:long) %> &middot; <%= @request.state.capitalize %>
</div>

<div class='info'>
  <%= render :partial => "list", :locals => {:study => @request } %>
  <% if current_user.privileged? @request %>
    <div>
      <p>Type your comment:</p>
      <%= form_remote_tag(:url => request_comments_path(@request), :update => "request_annotations_#{@request.id}") %>
      <%= text_field_tag "comment", '', :size  => 65 %><%= submit_tag 'Add comment' %>
    </div>
  <% end %>
</div>
