
<%= page_title('Labware',"Edit #{@asset.display_name}") %>

<%= form_for(@asset,url: labware_path(@asset),as:'labware') do |f| %>
  <%= alert do %>
    <%= f.error_messages %>
  <% end %>

  <% if can? :rename, @asset %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :name %>
      <%= h(@asset.display_name) %>
    </div>
  <% end %>

  <% if can? :change_purpose, @asset %>
    <div class="form-group">
      <%= f.label :plate_purpose_id %>
      <%= f.select(:plate_purpose_id, options_for_select(@valid_purposes_options, @asset.purpose.try(:id)), {}, class: 'select2' ) %>
    </div>
  <% end %>

  <div class="form-group"><%= f.submit "Update", class:'btn btn-success' %></div>
<% end %>

 <div class="form-group"><%= link_to 'Show', action: :show, id: @asset.id %></div>
