
<%= page_title('Retention Instruction', "#{@asset.display_name}") %>

<% if @asset.retention_instruction.blank? %>
  <!-- This doesn't necessarily set the retention instruction. It will just prevent displaying the warning message
   if the retention instruction is there in custom_metadata but isn't populated (yet) in labware table.
   This should be fixed after executing the script in story #4095 -->
  <% unless @asset.custom_metadatum_collection.present? && @asset.metadata.key?('retention_instruction') %>
    <div class="alert alert-warning">
      <strong>Warning!</strong> This asset does not currently have a retention instruction.
    </div>
  <% end %>
<% end %>

<%= form_for(@asset,url: labware_path(@asset),as:'labware') do |f| %>
  <%= alert do %>
    <%= render_error_messages(@asset) %>
  <% end %>

  <div class="form-group">
    <%= f.label :retention_instruction %>
    <%= f.select(:retention_instruction,
                 options_for_select(
                   @retention_instruction_options,
                   find_retention_instruction_to_display(@asset)
                 ),
                 {}, class: 'select2' ) %>
  </div>


  <div class="form-group"><%= f.submit "Update", class:'btn btn-success' %></div>
<% end %>

 <div class="form-group"><%= link_to 'Show', action: :show, id: @asset.id %></div>
