
<%- add :about, "This page displays details of a piece of labware" %>
<% add :menu, (pluralize @asset.comments.size, "comment") => labware_comments_path(@asset) -%>
<% if @asset.printable? %>
  <% add :menu, "Print label" => print_labware_path(@asset) -%>
<% end %>

<% if @asset.is_a?(Plate) %>
  <% add :menu, "QC results" => plate_path(@asset) %>
<% end %>

<% add :menu, "Event history" => history_labware_path(@asset) -%>

<% add(:menu, 'Request additional sequencing' => new_request_receptacle_path_in_context(@asset)) if current_user_can_request_additional_sequencing_on?(@asset) -%>
<% add(:menu, 'Request a new library' => new_request_receptacle_path_in_context(@asset)) if current_user_can_request_additional_library_on?(@asset) -%>

<% if can? :edit, @asset %>
  <% add :menu, "Edit" => edit_labware_path(@asset) -%>
<% end %>

<% add :menu, "Edit Retention Instruction" => retention_instruction_labware_path(@asset) %>

<% @asset.studies.each do |study| %>
  <% add :menu, "Back to study #{study.name}" => study_path(study) -%>
<% end %>

<%= page_title('Labware',@asset.display_name) %>
<div class="row">
  <%= render partial: 'asset_summary', locals: {asset: @asset} %>
  <nav class="toc">
    <ul>
      <li><a href="#asset-summary">Summary</a></li>
      <li><a href="#samples-table">Samples</a></li>
      <li><a href="#relations-table-container">Parents and Children</a></li>
      <li><a href="#requests-table-container">Requests</a></li>
      <li><a href="#metadata-table-container">Metadata</a></li>
      <li><a href="#qc_files-table-container">QC Files</a></li>
    </ul>
  </nav>
</div>
<%= render partial: @asset.sample_partial, locals: {asset: @asset} %>
<%= render partial: 'relations', locals: { asset: @asset } %>
<%= render partial: 'requests', locals: { asset: @asset } %>
<%= render partial: 'metadata', locals: {asset: @asset} if @asset.respond_to?(:custom_metadatum_collection) %>
<%= render partial: 'qc_files', locals: {asset: @asset} %>
