<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2012,2015 Genome Research Ltd.%>

<%= page_title "Bait Library Type", "Edit" %>

<%= form_for([:admin,@bait_library_type]) do |f| %>
  <%= f.error_messages %>

  <%= render partial: "edit_form", locals: {f: f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', admin_bait_libraries_path %>
