<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<% add :menu, "Pulldown Home" => '/pulldown/plates' %>
<% add :menu, "Verify Plates" => '/pulldown/verifies' %>

<h2>Create new plates</h2>
<p>Scan some plates to create the next plates in the pipeline.
</p>
<%= semantic_form_for(:plates, :url => '/pulldown/plates/create') do |form| %>
  <%= form.inputs :name => "" do %>
    <%= form.input :source_plates,   :as => :text,   :required => false %>
    <%= observe_field("plates_source_plates",
          :url => { :action => :lookup_plate_purposes },
          :frequency => 0.5,
          :update => :plate_purposes,
          :with => "'plates[source_plates]='+ escape($('plates_source_plates').value)") %>
    <%= form.input :barcode_printer, :as => :select, :collection => @barcode_printers %>
    <div id="plate_purposes"></div>
    <%= form.action(:submit) %>
  <% end %>
<% end %>

