<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<% add :title, I18n.t("studies.about") -%>
<%- add :back_menu, "Back to sample" => sample_path(@sample) -%>
<% add :admin_option, "Administer studies" => studies_path -%>

<%= page_title("Sample #{@sample.name}",'Comments') %>
<div class='subtitle'>
  Sample <%= @sample.id %> &middot; Created on <%= @sample.created_at.to_formatted_s(:long) %>
</div>

<div class='info'>
  <%= render partial: "list", locals: {item: @sample } %>
  <% if current_user.privileged? @sample %>
    <div>
      <%= form_tag(sample_comments_path(@sample), data: { update: "#sample_annotations_#{@sample.id}", remote: true }, class:'remote-form') do %>
        <label for='comment'>Type your comment</label>
        <div class="input-group">
          <%= text_field_tag "comment", '',  class:'form-control' %><span class="input-group-btn"><%= submit_tag 'Add comment', class: 'btn btn-success' %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
