<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<% add :title, I18n.t("studies.about") -%>
<%- add :back_menu, "Back to sample" => sample_path(@sample) -%>
<% add :admin_option, "Administer studies" => studies_path -%>

<h1>Sample <%= @sample.name %> : Comments</h1>
<div class='subtitle'>
  Sample <%= @sample.id %> &middot; Created on <%= @sample.created_at.to_formatted_s(:long) %>
</div>

<div class='info'>
  <%= render :partial => "list", :locals => {:item => @sample } %>
  <% if current_user.privileged? @sample %>
    <div>
      <p>Type your comment:</p>
      <%= form_tag(:url => sample_comments_path(@sample), :update => "sample_annotations_#{@sample.id}", :remote => true) %>
      <%= text_field_tag "comment", '', :size  => 65 %><%= submit_tag 'Add comment' %>
    </div>
  <% end %>
</div>
