<h2>Labware Location Reports</h2>
<p>
	Generates a report listing plates and tubes by barcodes, with their locations, studies and owners. 
</p>
<div class="row justify-content-between">
	<div class="col-md">
	<%= panel(:info,title: "Create a report from a LabWhere location",class: "creation",id: "new_location_report_from_labwhere_location") do %>
	<%= render partial: 'location_labwhere_form', locals: { location_report_form: @location_report_form } %>
	<% end %>
	</div>
  
	<div class="col-md">
	<%= panel(:info,title: "Create a report by selection",class: "creation",id: "new_location_report_from_selection") do %>
	  <%= render partial: 'location_labware_selection_form', locals: { location_report_form: @location_report_form } %>
	<% end %>
	</div>
</div>

<h2>Location Reports</h2>
<%= pagination @location_reports %>
<%= render partial: 'location_reports', locals: { location_reports: @location_reports } %>
<%= pagination @location_reports %>
