<%= page_title 'Programs', 'List' %>
<table id="program_list" class="sortable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Studies</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  <% for program in @programs %>
    <tr>
      <td><%= link_to program.name, admin_program_path(program), title: "View #{program.name}" %></td>
      <td><%= program.studies.count %></td>
      <td><%= link_to 'Edit', edit_admin_program_path(program), title: "Edit #{program.name}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Program', new_admin_program_path %>
