<div class="page-header"><h1>New Program</h1></div>

<%= form_for([:admin,@program]) do |f| %>
  <%= error_messages_for(f.object) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_programs_path %>
