<p>
  <b>Name:</b>
  <%=h @program.name %>
</p>

<h2>Studies</h2>
<table id="study_list" class="sortable table table-striped">
  <thead>
  <tr>
      <th>Study name</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  <% for study in @program.studies %>
    <tr>
      <td><%= link_to study.name, study_path(study), title: "View #{study.name}" %></td>
      <td><%= link_to 'Edit', edit_study_path(study), title: "Edit #{study.name}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_admin_program_path(@program) %> |
<%= link_to 'Back', admin_programs_path %>
