
Hello,

<p><%= @eventful.class %> <%= @eventful.id %>: <%= @message %></p>

<pre><%= @content %></pre>

<p>
You can manage this asset here:<br />

<% link = url_for(host: configatron.site_url, controller: 'assets', action: 'edit', id: @eventful) %>
</p>
<a href="<%= link %>"><%= link %></a></p>
<% study_ids = Receptacle.find(@eventful.id).aliquots.pluck(:study_id) %>
<p>The studies are:
  <ul>
    <% study_ids.each do |study_id| %>
      <li><%= study_id %></li>
    <% end %>
  </ul>
</p>
<p>Many thanks,<br />
<em>Sequencescape</em></p>
