<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

Hello,

<p>The following activity has been recorded for <strong><%= @eventful.name %></strong></p>
<p><%= @eventful.class %> <%= @eventful.id %>: <%= @message %></p>

<pre><%= @content %></pre>

<p>
You can manage this project here:<br />

<% link = project_url(@eventful, host: configatron.site_url) %>
<%= link_to link, link %>
</p>

<p>Many thanks,<br />
<em>Sequencescape</em></p>
