<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

Hello,

<p>This is to let you know that Sequencescape has just failed one of your requests:</p>

<p>Item: <%= @item.name %>, Request ID: <%= @request.id %> (<%= @request.request_type.name %>).</p>

<p>The reason for failure is: <%= @message %></p>

<p>You can view the request details here:<br />
<a href="<%= url_for(host: configatron.site_url, controller: 'requests', action: 'show', id: @request.id) %>"><%= url_for(host: configatron.site_url, controller: 'requests', action: 'show', id: @request.id) %></a>
</p>

<p>Many thanks,<br />
<em>Sequencescape</em></p>
