<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

Hello,

<p>The following activity has been recorded for <strong><%= @study.name %></strong></p>
<p>Study <%= @study.id %>: <%= @message %></p>

<pre><%= @content %></pre>

<p>
You can view this study's status here:<br />

<% link = url_for(host: configatron.site_url, controller: 'studies', action: 'show', id: @study.id) %>
<a href="<%= link %>"><%= link %></a>
</p>

<p>Many thanks,<br />
<em>Sequencescape</em></p>
