<%= form_for @task, url: { action: "stage", id: @stage, workflow_id: @workflow.id, batch_id: @batch.id, next_stage: true }, html: { id: "stage_form"} do |form| %>

  <%= panel_no_body do %>
    <%= render partial: "shared/batch", locals: { requests: @batch.ordered_requests, edit: false, stage: true } %>
  <% end %>

  <%= panel do %>
    <h3 class="card-title">Task details</h3>
    <p class="lead">
      Please scan the barcode of the aliquot of spiked hybridization buffer that will be used for the selected lane.
    </p>

    <%= render @task.fields_for(@batch.requests) %>
  <% end %>

  <%= render partial: "next_stage_submit" %>
<% end %>
