<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2014,2015 Genome Research Ltd.%>

<%= javascript_include_tag "assign-tubes-to-wells-task" %>
<div id='error_messages'></div>
<script type="text/javascript">
  (function(window, $, undefined){
    "use strict";
    if (window.SCAPE == undefined) window.SCAPE = {};
    SCAPE.preventMatchingSamplePooling = false;
  })(window, jQuery);
</script>
<%= form_for @workflow, url: { action: "stage", id: @stage, workflow_id: @workflow.id, batch_id: @batch.id, next_stage: true }, html: { id: "stage_form", multipart: true} do |form| %>
  <%# This isn't ideal. We pass in certain aspects of the pipeline configuration %>
  <h2>Wells</h2>
  <%= render partial: 'source_asset_requests', locals: { requests: @requests, type: 'wells' } %>
  <h2>Target Plate</h2>
  <div id="target_plate_selector" class="interface_group">
  <%= render partial: 'target_plate_selector', locals: { plate_purpose_options: @plate_purpose_options}  %>
  </div>
  <div id="target_plate_selected">
  <%= render partial: 'target_plate' %>
  <%= render partial: 'cherrypick_sorting_assistance', locals: { with: [:pool_matching] } %>
  </div>
  <h2>Pick Options</h2>
  <%= render partial: 'pick_options' %>
  <%= render partial: 'next_stage_submit' %>
<% end %>
