<% count = 0 -%>
<% auto_batch_id = 0 -%>
<% @new_items.in_groups_of(7).each do |auto_batch| -%>
  <% auto_batch_id += 1 -%>
  <% passed = "" -%>
  <% auto_batch.each do |item| -%>
    <% unless item.nil? -%>
      <% passed = passed + "#{item.id.to_s}/" -%>
    <% end -%>
  <% end -%>
    <table width='100%' cellpadding='4' cellspacing='0'>
      <tr class="">
        <td colspan="9"><%= link_to "Create batch #{auto_batch_id}", :controller => "workflows", :action => "autobatch", :id => @batch.id, :items => "#{passed}"  %></td>
      </tr>
      <tr class='header'>
        <td class="auto_batch">&nbsp;</td>
        <td class="auto_batch"><%= link_to_sort 'Name', 'name', @batch.id %></td>
        <td class="auto_batch"><%= link_to_sort 'Study', 'study', @batch.id %></td>
        <td class="auto_batch"><%= link_to_sort 'Lanes', 'lanes', @batch.id %></td>
        <td class="auto_batch"><%= link_to_sort 'Ended', 'ended', @batch.id %></td>
        <td class="auto_batch"><%= link_to_sort 'Concentration', 'concentration', @batch.id %></td>
        <td class="auto_batch"><%= link_to_sort 'Start', 'start', @batch.id %></td>
        <td class="auto_batch"><%= link_to_sort 'End', 'end', @batch.id %></td>
      </tr>
    <% lane = 0 -%>
    <% auto_batch[0..2].each do |item| -%>
      <% unless item.nil? -%>
        <tr class="<%= cycle("alternate", "") -%>">
          <% lane += 1 -%>
          <td>Lane <%= lane %></td>
          <% if @batch.workflow.source_is_internal? -%>
            <td><%= item.id %>: <%= link_to item.name, { :controller => 'items', :action => 'show', :id => item.ident, :batch_id => @batch.id }, :title => render(:partial => 'tooltip', :locals => { :item => item })  %></td>
          <% else -%>
            <td><%= item.id %>: <%= link_to item.name, { :controller => 'items', :action => 'show', :id => item.id, :batch_id => @batch.id }, :title => render(:partial => 'tooltip', :locals => { :item => item })  %></td>
          <% end -%>
          <td class='small'><%= item.studies.last.nil? ? "Unclassified" : shorten(item.studies.last.name) %></td>
          <td><%= item.count %></td>
          <td><%= item.descriptor_value('Ended') %></td>
          <td><%= item.descriptor_value('Concentration') %></td>
          <td><%= item.descriptor_value('Fragment size required (from)') %></td>
          <td><%= item.descriptor_value('Fragment size required (to)') %></td>
        </tr>
      <% end -%>
    <% end -%>
    <tr class="auto_batch_control">
      <td>Lane 4</td><td colspan="6">Control sample</td>
    </tr>
    <% lane = 4 -%>

    <% auto_batch[3..6].each do |item| -%>
      <% unless item.nil? -%>
        <tr class="<%= cycle("alternate", "") -%>">
          <% lane += 1 -%>
          <td>Lane <%= lane %></td>
          <% if @batch.workflow.source_is_internal? -%>
            <td><%= item.id %>: <%= link_to item.name, { :controller => 'items', :action => 'show', :id => item.ident, :batch_id => @batch.id }, :title => render(:partial => 'tooltip', :locals => { :item => item })  %></td>
          <% else -%>
            <td><%= item.id %>: <%= link_to item.name, { :controller => 'items', :action => 'show', :id => item.id, :batch_id => @batch.id }, :title => render(:partial => 'tooltip', :locals => { :item => item })  %></td>
          <% end -%>
          <td class='small'><%= item.studies.last.nil? ? "Unclassified" : shorten(item.studies.last.name) %></td>
          <td><%= item.count %></td>
          <td><%= item.descriptor_value('Ended') %></td>
          <td><%= item.descriptor_value('Concentration') %></td>
          <td><%= item.descriptor_value('Fragment size required (from)') %></td>
          <td><%= item.descriptor_value('Fragment size required (to)') %></td>
        </tr>
      <% end -%>
    <% end -%>
  </table>
  <br /><br />
<% end -%>
