<%# locals: (form) -%> <%# <-- this is Rails 7.1 magic %>

<div id='pick_by_nano_grams'>

  <%= cherrypick_strategy_radio_button :cherrypick, :strategy, :nano_grams, 'Pick by concentration (ng/µl)' %>

  <%= form.fields_for :nano_grams do |nano_grams_fields| %>
    <%= cherrypick_form_group_text nano_grams_fields, :total_nano_grams, 'Quantity to pick (ng)', '1000' %>
    <%= cherrypick_form_group_text nano_grams_fields, :minimum_volume, 'Minimum Volume (µl)', '10' %>
    <%= cherrypick_form_group_text nano_grams_fields, :maximum_volume, 'Maximum Volume (µl)', '50' %>
    <%= cherrypick_form_group_text nano_grams_fields, :robot_minimum_picking_volume, 'Robot Minimum Picking Volume (µl)', 5.0, type: 'number', step: 0.1, min: 1, max: 9 %>
  <% end %>

</div>
