<div class="card-columns">
<div id='pick_by_nano_grams_per_micro_litre'>
<fieldset>
  <strong>Either</strong>
    <table cellspacing='0' cellpadding='0'>
      <tr>
        <td><label for="cherrypick_action_nano_grams_per_micro_litre">Pick by concentration (ng/&micro;l)</label>:</td>
        <td><%= radio_button("cherrypick", "action", "nano_grams_per_micro_litre", checked: true) %></td>
      </tr>
      <%= fields_for :nano_grams_per_micro_litre do |ff|%>
        <tr>
          <td><%= ff.label 'volume_required', 'Volume Required' %> (&micro;l):</td>
          <td><%= ff.text_field 'volume_required', value: '65', size: 5 %></td>
        </tr>
        <tr>
          <td><%= ff.label 'concentration_required', "Concentration Required" %> (ng/&micro;l):</td>
          <td><%= ff.text_field 'concentration_required', value: '50', size: 5  %></td>
        </tr>
        <tr>
          <td><%= ff.label 'robot_minimum_picking_volume', 'Robot Minimum Picking Volume' %> (&micro;l):</td>
          <td><%= ff.text_field 'robot_minimum_picking_volume', value: 5.0, size: 5, type: 'number', step: 0.1, min: 1, max: 9 %></td>
        </tr>
      <% end %>
    </table>
</fieldset>
</div>

<div id='pick_by_nano_grams'>
<fieldset>
  <strong>Or</strong>
    <table cellspacing='0' cellpadding='0'>
      <tr>
        <td><label for="cherrypick_action_nano_grams">Pick by amount (ng)</label></td>
        <td><%= radio_button("cherrypick", "action", "nano_grams") %></td>
      </tr>
      <%= fields_for :nano_grams do |ff|%>
        <tr>
          <td><%= ff.label 'total_nano_grams', 'Quantity to pick' %> (ng):</td>
          <td><%= ff.text_field 'total_nano_grams', value: '1000', size: 5  %></td>
        </tr>
        <tr>
          <td><%= ff.label 'minimum_volume', 'Minimum Volume' %> (&micro;/l):</td>
          <td><%= ff.text_field 'minimum_volume', value: '10', size: 5  %></td>
        </tr>
        <tr>
          <td><%= ff.label 'maximum_volume', 'Maximum Volume' %> (&micro;/l):</td>
          <td><%= ff.text_field 'maximum_volume', value: '50', size: 5 %></td>
        </tr>
        <tr>
          <td><%= ff.label 'robot_minimum_picking_volume', 'Robot Minimum Picking Volume' %> (&micro;l):</td>
          <td><%= ff.text_field 'robot_minimum_picking_volume', value: 5.0, size: 5, type: 'number', step: 0.1, min: 1, max: 9 %></td>
        </tr>
      <% end %>
    </table>
</fieldset>
</div>

<div id='pick_by_micro_litre'>
<fieldset>
  <strong>Or</strong>
    <table cellspacing='0' cellpadding='0'>
      <tr>
        <td><label for="cherrypick_action_micro_litre">Pick by volume (&micro;l)</label>:</td>
        <td><%= radio_button("cherrypick", "action", "micro_litre") %></td>
      </tr>
      <%= fields_for :micro_litre do |ff|%>
        <tr>
          <td><%= ff.label 'volume_required', 'Volume' %> (&micro;l):</td>
          <td><%= ff.text_field 'volume_required', value: '13', size: 5 %></td>
        </tr>
      <% end %>
    </table>
</fieldset>
</div>
</div>
