<%# locals: { form: } -%> <%# <-- this is Rails 7.1 magic %>

<div id='pick_by_nano_grams_per_micro_litre'>

  <%= cherrypick_strategy_radio_button :cherrypick, :strategy, :nano_grams_per_micro_litre, 'Pick by concentration (ng/µl)', checked: true %>

  <%= fields_for :nano_grams_per_micro_litre do |nano_grams_per_micro_litre_fields| %>
    <%= cherrypick_form_group_text nano_grams_per_micro_litre_fields, :volume_required, 'Volume Required (µl)', '65' %>
    <%= cherrypick_form_group_text nano_grams_per_micro_litre_fields, :concentration_required, 'Concentration Required (ng/µl)', '50' %>
    <%= cherrypick_form_group_text nano_grams_per_micro_litre_fields, :robot_minimum_picking_volume, 'Robot Minimum Picking Volume (µl)', 5.0, type: 'number', step: 0.1, min: 1, max: 9 %>
  <% end %>

</div>
