<div id='pick_by_nano_grams'>

  <%= render partial: 'form_group_radio', locals: { field_name: 'cherrypick', category: 'strategy', field_value: 'nano_grams', label_text: 'Pick by amount (ng)' } %>

  <%= fields_for :nano_grams do |ff| %>
    <%= render partial: 'form_group_text', locals: { field_name: 'total_nano_grams', label_text: 'Quantity to pick (ng)', field_value: '1000' } %>
    <%= render partial: 'form_group_text', locals: { field_name: 'minimum_volume', label_text: 'Minimum Volume (µl)', field_value: '10' } %>
    <%= render partial: 'form_group_text', locals: { field_name: 'maximum_volume', label_text: 'Maximum Volume (µl)', field_value: '50' } %>
    <%= render partial: 'form_group_text', locals: { field_name: 'robot_minimum_picking_volume', label_text: 'Robot Minimum Picking Volume (µl)', field_value: 5.0, options: { type: 'number', step: 0.1, min: 1, max: 9 } } %>
  <% end %>

</div>
