<h4><%= table_name %></h4>
<table class="plate" width="100%">
    <tr id="<%= "control_[#{row_number}" %>]">
      <% 4.times do |control_row| %>
        <% wells.each do |well| %>
            <td id="control[<%= well.id %>]" class="<%= plate_class[control_plate.barcode] %>"><%= control_plate.barcode%><br /><%= well.map.description %></td>
        <% end %>
      <% end %>
    </tr>
</table>
