<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% @count = 0 if @count.nil? %>
<% @count += 1 %>
<% prefix = '' %>
<% if request %>
  <tr>
  <td width='35%' class='request'><%= descriptor.name %>: <%= required_marker if descriptor.is_required? %></td>
  <td width='65%'>
    <% value = descriptor_value descriptor %>
    <% if descriptor.kind == 'Selection' %>
      <% if descriptor.key == "tag_number" %>
        <%= select_tag "requests[#{request.id}][descriptors][#{descriptor.name}]", options_for_select(descriptor.selection.values.sort{|x, y| x.to_i <=> y.to_i}, value) %>
      <% else %>
        <%= select_tag "requests[#{request.id}][descriptors][#{descriptor.name}]", options_for_select(descriptor.selection.values, value) %>
      <% end %>
    <% elsif descriptor.kind == 'File upload' %>
      <%= file_field_tag "requests[#{request.id}][upload][#{descriptor.name}" %>
    <% else %>
      <%= text_field "requests[#{request.id}][descriptors]", u(descriptor.name), value: value %>
    <% end %>
    <%= hidden_field "requests[#{request.id}][fields]", @count, value: descriptor.name %>
  </td>
  </tr>
<% else %>
<tr>
<td width='35%' class='request'><%= descriptor.name %>: <%= required_marker if descriptor.is_required? %></td>
<td width='65%'>
  <% value = descriptor_value descriptor %>
  <% if descriptor.kind == 'Selection' %>
    <% if descriptor.key == "tag_number" %>
      <%= select_tag "descriptors[#{descriptor.name}]", options_for_select(descriptor.selection.values.sort{|x, y| x.to_i <=> y.to_i}, value) %>
    <% else %>
      <%= select_tag "descriptors[#{descriptor.name}]", options_for_select(descriptor.selection.values, value) %>
    <% end %>
  <% elsif descriptor.kind == 'File upload' %>
    <%= file_field_tag "upload[#{descriptor.name}]" %>
  <% else %>
    <%= text_field 'descriptors', u(descriptor.name), value: value %>
  <% end %>
  <%= hidden_field 'fields', @count, value: descriptor.name %>
</td>
</tr>
<% end %>
