<div class='confirm_title'>Fail samples</div>
<div class='confirm_message'>
  Select the samples from <strong>Batch <%= @batch.id %></strong> that have failed:
</div>
<div class='confirm_action'>
  <form name='fail' id='fail' method='post' action='/workflows/failed_samples'>
    <input type='hidden' name='batch' value="<%= @batch.id %>" />
    <input type='hidden' name='workflow' value="<%= @batch.workflow.id %>" />
    <input type='hidden' name='stage' value="<%= @stage %>" />

    <table width='100%' cellpadding='0' cellspacing='0'>
      <% @batch.items.each do |item| %>
      <tr>
        <td width='10%'><input type='checkbox' name='samples[<%= item.id %>]' /></td>
        <td><%= item.name %></td>
      </tr>
      <% end %>
    </table>
  </form>
</div>
<div class='confirm_buttons' id='confirm_buttons'>
  <ul>
    <li><a href='javascript:void(0);' onclick='hide_overlay();' class='button'>Cancel</a></li>
    <li><a href='javascript:void(0);' onclick="$('fail').submit();" class='button'>FAIL SAMPLES</a></li>
  </ul>
</div>
