<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2014,2015,2016 Genome Research Ltd.%>

<%= form_for @batch, url: {controller: :batches, action: :qc_batch, id: @batch.id }, html: { id: 'stage_form'} do |form| %>
  <% requests.each do |request| %>
    <div style="padding:5px;font-size:18px;background:grey;font-weight:bold;color:white;">
      Library: <%= request.asset.barcode %>
    </div>
    <div id="boxContainer">
      <table cellpadding="2" cellspacing="0">
        <tr>
          <th width="5%">&nbsp;</th>
          <th width="15%">Sample</th>
          <th width="7%">Library ID</th>
          <th width="15%">Library</th>
          <th width="7%">Request</th>
          <th width="4%">Cycles</th>
          <th width="4%">Order</th>
          <th width="4%">From</th>
          <th width="4%">To</th>
          <th width="4%">Conc.</th>
        </tr>
        <tr>
          <% unless request.nil? || request.target_asset.nil? %>
            <td>
              <%= qc_select_box(request, request.target_asset.qc_state) %>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <td>
            <%= link_to request.asset.barcode, asset_url(request.asset) %>
          </td>
          <td>
            <%= request.asset.barcode %>
          </td>
          <td>
            <%= h(request.asset.display_name) %>
          </td>
          <td>
            <%= request.id %>
          </td>
          <td>
            <%= request.value_for("Read length") %>
          </td>
          <td>
            <%= request.position %>
          </td>
          <td>
            <%= request.value_for("Fragment size required (from)") %>
          </td>
          <td>
            <%= request.value_for("Fragment size required (to)") %>
          </td>
          <td>
            <%= request.value_for("Concentration") %>
          </td>
        </tr>
        <%= render partial: "qc_results", locals: {batch: @batch, request: request} %>
      </table>
    </div>
    <br />
  <% end %>
  <%= render partial: "next_stage_submit" %>
<% end %>
