<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2013,2014,2015 Genome Research Ltd.%>

<h2>Plate <%= plate.barcode %></h2>

<table class="plate">
  <thead>
    <% num_rows = plate.width -%>
    <% num_columns = plate.height -%>
    <th></th>
    <% num_columns.times do |column| -%>
      <th><%= column+1 %></th>
    <% end -%>
    <th class='border' width='2%'></th>
  </thead>
  <tbody>
    <% num_rows.times do |row| -%>
      <tr>
        <% rowchar = (65+row).chr %>
        <th class='border' width='2%'><%= rowchar %></th>
        <% (num_columns).times do |column| -%>
          <td>
            <%= render partial: well_partial, locals: {well_request: @request_wells[plate.id]["#{rowchar}#{column+1}"], plate: plate, well_description: "#{rowchar}#{column+1}" } %>
          </td>
        <% end -%>
        <th class='border' width='2%'><%= rowchar %></th>
      </tr>
    <% end -%>
    <tr>
      <th></th>
      <% num_columns.times do |column| -%>
        <th><%= column+1 %></th>
      <% end -%>
     <th class='border' width='2%'class='border' width='2%'></th>
    </tr>
  </tbody>
</table>
