<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% @workflow.assets.each do |family|%>
<% unless family.assets.empty? -%>
  <div id='filter'>
    <div id='filter_menu'>
      <div class='filter_title'>
        <span id='item_list_title'><%= Inflector.pluralize family.name %></span>
      </div>
      <div id='filter_view'>
        <a href='javascript:void(0);' onclick='toggle_fragments();' id="toggle_fragments_link">Expand</a>
      </div>
      <br clear='all' />
    </div>
  </div>
  <div id='<%= Inflector.pluralize family.name.downcase %>' style="display:none;">
    <table width='100%' cellpadding='5' cellspacing='0'>
      <tr class='header'>
        <th>Asset ID</th>
        <th>Sample ID</th>
        <th>Library ID</th>
        <th>Sample</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th>&nbsp;</th>
      </tr>
      <% family.assets.each do |asset| -%>
        <% if asset.item -%>
        <tr>
          <td><%= asset.id %></td>
          <td><%= asset.item.ident %></td>
          <td><%= asset.item.id %></td>
          <td><%= asset.item.name %></td>
          <td><%= asset.descriptor_value('Start') %></td>
          <td><%= asset.descriptor_value('End') %></td>
          <td><%= asset.descriptor_value('Location') %></td>
          <td><%= link_to'Add', update: 'selected_samples', url: { action: 'add_resource', id: asset.id, resource: false, batch_id: @batch.id }, remote: true  %></td>
        </tr>
        <% end -%>
      <% end -%>
    </table>
  </div>
  <br /><br />
<% end %>
<% end %>
<script type="text/javascript">
  function toggle_fragments(){
    if ($('#fragments').style.display == 'none'){
      $('#fragments').show();
      $('#toggle_fragments_link').innerHTML = 'Hide';
    } else{
      $('#fragments').hide();
      $('#toggle_fragments_link').innerHTML = 'Expand';
    }
  }
</script>
