
<%# TODO: Rename the classes here to be less asset-type specific %>
<ul class="tube_source tube_receiver interface_group" id='tube_source'>
  <h3>Unsorted <%= type.capitalize %></h3>
  <p>Drag <%= type %> onto the wells of the plate, or drop them back here.</P>
<% requests.each do |request| %>
  <% tag =  tag_index_for(request) %>
  <% shared_attributes = request.shared_attributes %>
  <% sample_list = request.asset.samples.map(&:id).join(',') %>
  <li class='library_tube' data-tag-index='<%= tag %>' data-request-id='<%= request.id %>' data-asset-id='<%= request.asset_id %>' data-sample-id='<%= sample_list %>' title='<%= shared_attributes %>'><%= request.asset.display_name %><span class='tube_tag'><%= tag %></span></li>
<% end %>
</ul>
<% requests.each do |request| %>
  <input type='hidden' class='tube_location' id='locations_for_<%= request.id %>' name='request_locations[<%= request.id %>]' autocomplete="off" value='' required='required'>
<% end %>
