<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <%= tabulated_error_messages_for "workflow" %>
  </tr>
  <tr>
    <td width="35%" class="item">Workflow name: <%= required_marker %></td>
    <td width="65%"><%= form.text_field :name %></td>
  </tr>
  <tr>
    <td width="35%" class="item">Limit:</td>
    <td width="65%"><%= form.text_field :item_limit %></td>
  </tr>
  <tr>
    <td width="35%" class="item">Locale:</td>
    <td width="65%"><%= form.select :locale, [ 'Internal', 'External' ] %>
    </td>
  </tr>

  <tr>
    <td width="35%" class="item">&nbsp;</td>
    <td width="65%">
      <% if @workflow.new_record? -%>
        <%= submit_tag "Create" %> or
        <%= link_to "cancel", workflows_path %>
      <% else -%>
        <%= submit_tag "Update" %> or
        <%= link_to "cancel", workflow_path(@workflow) %>
      <% end -%>
    </td>
  </tr>
</table>
