<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015,2016 Genome Research Ltd.%>

<% add :title, "Process samples through a new run of this automated pipeline." %>
<% add :back_menu, "Back to pipeline" => pipeline_path(@workflow.pipeline.id) %>

<h1><%= @workflow.name %> pipeline</h1>
<div class='info'>
  <strong>Batch <%= @batch.id %></strong>
</div>

<div class='info'>
  <div id='submission'><strong>QC status: <span style="color: green"><%= @batch.qc_state.humanize %></span></strong></div>
</div>

<div class='info'>
<% @workflow.tasks.each do |task| %>
  <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
      <td class='boxed_left'><%= task.name %></td>
      <td class='boxed_right right'>
        <% if @batch.qc_state == "qc_pending" %>
          <%= button_to "Submit", {controller: :batches, action: :start_automatic_qc, id: @batch.id, task_id: task.id}, method: :post %>
        <% else %>
          QC state: <%= @batch.qc_state.humanize %>
        <% end %>
      </td>
    </tr>
  </table>
<br />
<table width="100%" cellspacing="0" cellpadding="4">
  <thead>
    <tr>
      <th>Library</th>
      <% task.descriptors.sort_by {|d| d.name }.each do |descriptor| %>
        <th><%= descriptor.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @batch.requests.each do |request| %>
      <tr>
        <td width="35%">
          <% if request.asset %>
            <%= request.asset.barcode %>
          <% end %>
        </td>
        <% @event_custom = nil %>
        <% task.descriptors.sort_by {|d| d.name }.each do |descriptor| %>
          <% @event_custom = request.event_with_key_value("check_key", task.name) %>
            <% if @event_custom.nil? %>
              <td>?</td>
            <% else %>
              <td>
                <%= @event_custom.descriptor_value descriptor.key %>
              </td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />
<% end %>
</div>
<h1>EVENTS</h1>
<%= render partial: "events", locals: { events: @batch.lab_events } %>
