<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<%= render_title "#{@workflow.name}: Batches" %>
<%= render_help 'Sequencing batches' %>

<div id='yield'>
  <div id='main-items'>
    <% unless flash[:notice].nil? -%>
    <div class='notice'><%= flash[:notice] %></div>
    <% end %>

    <div id='filter'>
      <div id='filter_menu'>
        <div class='filter_links'>
          <strong><%= link_to "Your batches", :controller => "batches", :action => "index" %></strong> &bull; <%= link_to "Show All",  :controller => "batches", :action => 'all' %>
        </div>
      </div>
    </div>
    <div id='details'>
      <table width='100%' cellpadding='4' cellspacing='0'>
        <tr class='header'>
          <th width='10%'><%= link_to 'ID', { :update => 'batches', :remote => true , :url => { :action => 'list', :search => 'id' } }, { :class => 'header'} %></th>
          <th width='10%'><%= link_to 'Samples', { :update => 'batches', :remote => true , :url => { :action => 'list', :search => 'samples' } }, { :class => 'header'} %></th>
          <th width='35%'><%= link_to 'Pipeline', { :update => 'batches', :remote => true , :url => { :action => 'list', :search => 'pipeline' } }, { :class => 'header'} %></th>
          <th width='10%'><%= link_to 'User', { :update => 'batches', :remote => true , :url => { :action => 'list', :search => 'user' } }, { :class => 'header'} %></th>
          <th width='20%'><%= link_to 'Created', { :update => 'batches', :remote => true , :url => { :action => 'list', :search => 'created' } }, { :class => 'header'} %></th>
          <th width='15%'>&nbsp;</th>
        </tr>
      <table width='100%' cellpadding='4' cellspacing='0' id='batches'>
        <%= render :partial => 'batch', :collection => @batches %>
      </table>
    </div>
    <br />

  </div>

  <div id='main-links'>
    <div>
      Find batch by user:
      <%= form_tag ({:controller => :batches, :action => :index, :id => 'user'}) do -%>
        <div class='entry'>
          <%= hidden_field_tag :id, 'user' %>
          <%= text_field :user_id, {} , :size => "25" %>
          <%= submit_tag 'Go' %>
        </div>
        <% end -%>
    </div>
    <br /><br />
    <div>
      Scan sample ID:
      <form action="/items/show_scanned_sample" method="post">
        <div class='entry'>
          <%= text_field_tag :scanned_sample, '', :size => "25" %>
          <%= submit_tag 'Go' %>
        </div>
      </form>
    </div>
    <br /><br />
    <div>
      Find sample by sample ID:
      <form action="/items/show_sample" method="post">
        <div class='entry'>
          <%= text_field_tag :id, '', :size => "25" %>
          <%= submit_tag 'Go' %>
        </div>
      </form>
    </div>
    <br /><br />
    <div>
      Find sample by Library ID:
      <form action="/items/show_library" method="post">
        <div class='entry'>
          <%= text_field_tag :id, '', :size => "25" %>
          <%= submit_tag 'Go' %>
        </div>
      </form>
    </div>
    <br /><br />
    <div>
      Find batch by batch ID:
      <form action="/batches/show" method="post">
        <div class='entry'>
          <%= text_field_tag :id, {}, {:size => "25"} %>
          <%= submit_tag 'Go'  %>
        </div>
      </form>
    </div>
    <br /><br />
    <div>
      Find sample by name:
      <form action="/items/show_named_sample" method="post">
        <div class='entry'>
          <%= text_field_with_auto_complete :item, :name, {:size => '25'} %>
          <%= submit_tag 'Go'  %>
        </div>
      </form>
      <div class="auto_complete" id="item_name_auto_complete">

      </div>
    </div>
  </div>

  <br clear='all' />
</div>
