<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% if @workflow.source_is_external? -%>
<%= render_title "Samples and requests" %>
<% else -%>
<%= render_title "Samples" %>
<% end -%>

<%= render_help "Samples available for the '#{@workflow.name}' pipeline"%>

<div id='yield'>
  <div id='main-items'>
    <div id='filter'>
      <div id='filter_menu'>
        <div class='filter_title'>
          <span id='item_list_title'>Samples</span> <span id='list_loading' style='display: none;'><%= image_tag 'ajax-loader.gif', size: "10x10", alt: 'Loading' %></span>
        </div>
        <div id='filter_view'>
          <% if @workflow.source_is_external? -%>
            View: <a href='javascript:void(0);' onclick='show_samples_by_request();'>Requests</a> &middot; <a href='javascript:void(0);' onclick='show_samples();'>Samples</a>
          <% else -%>
            <%= link_to 'New samples', 'javascript:void(0);', { onclick: 'show_new_samples_int();'}%> &middot; <%= link_to 'Partial', 'javascript:void(0);', { onclick: 'show_partial_samples_int(); '} %> &middot; <%= link_to 'Completed', 'javascript:void(0);', { onclick: 'show_processed_samples_int(); '} %>
          <% end -%>
        </div>
        <br clear='all' />
      </div>
    </div>
    <div id='remote_items'>
      <table width='100%'>
        <tr>
          <td class='item'><%= image_tag 'ajax-loader.gif', size: "10x10", alt: 'Loading' %> Loading</td>
        </tr>
      </table>
    </div>
  </div>
  <div id='main-links'>
    <div id='callouts'>
      <span class='bullet'>&raquo;</span> <%= link_to 'Refresh sample list', {controller: 'workflows', action: 'refresh_samples', id: @workflow.id } %><br /><br />
      <span class='bullet'>&raquo;</span> <%= link_to 'Back to pipeline', workflow_path(@workflow) %>

      <br /><br />
    </div>
  </div>
  <br clear='all' /><br />
  <div>
    <span class='bullet'>&uarr;</span> <a href='#top'>Back to top</a>
  </div>
</div>

<script language='javascript'>
  update_requests(<%= @workflow.id %>, 'basic_requests');
</script>

<div id='confirm' class='overlay_panel' style='display: none;'>
</div>
