
<% add :about, "Workflows group tasks together to define laboratory processes or automated pipelines." -%>
<% add :back_menu, "Back to workflows" => url_for(controller: :workflows, action: :index) -%>
<% add :menu, "Start workflow" => url_for(controller: :workflows, action: :auto, id: @workflow) -%>

<div class="page-header"><h1><%= @workflow.name %></h1></div>
<div class='info'>
  This workflow comprises <%= pluralize @workflow.tasks.size, "task" %>.
</div>
<div class='info'>
  <table width='100%'>
    <% @workflow.tasks.each do |task| -%>
    <tr>
      <td colspan='2' class='center boxed_title'><%= task.interactive? ? "Laboratory" : "Automated" %></td>
    </tr>
    <tr>
      <td class='boxed_left'><strong><%= task.name %></strong></td>
      <td class='boxed_right'>
      <% task.descriptors.sort_by{ |d| d.sorter }.each do |descriptor| -%>
      <%= descriptor.name %><br />
      <% end -%>
      </td>
    </tr>
    <tr>
      <td colspan='2' class='center separator'>&darr;</td>
    </tr>
    <% end -%>
    <tr>
      <td colspan='2' class='center separator'><strong>COMPLETE</strong></td>
    </tr>
  </table>
</div>
