<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Batch" -%>
<% add :menu, "Back to all batches" => batches_path -%>
<% add :back_menu, "Back to all pipelines" => pipelines_url -%>

<h1>BATCH <%= @batch.id %></h1>
<div class="info">
  This batch belongs to pipeline: <%= @batch.pipeline.name %>
</div>

<%= render partial: "batch", locals: { items: @batch.items } %>
<h1>CONTROLS</h1>
<div class="info">
  Available controls for this batch
</div>

<%= render partial: "controls", locals: { assets: @workflow.assets } %>
<%= link_to 'Start', url: { action: :confirm, id: @workflow.id, batch_id: @batch.id }, remote: true  %>

<div id='confirm' class='overlay_panel' style='display: none;'>
</div>
