<h1>Listing All Bait Library Suppliers</h1>
<table id="bait_library_supplier_list" width="100%" class="sortable" cellpadding="3" cellspacing="0">
  <thead>
    <tr>
      <th><%= link_to "Name", "javascript:void(0);" %></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% for bait_library_supplier in @bait_library_suppliers %>
    <tr>
      <td><%= bait_library_supplier.name %></td>
      <td><%= link_to 'Edit', edit_bait_library_supplier_path(bait_library_supplier), :title => "Edit #{bait_library_supplier.name}" %></td>
      <td><%= link_to 'Delete', bait_library_supplier, :title => "Delete #{bait_library_supplier.name}", :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Bait Library Supplier', new_bait_library_supplier_path %>