<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2012,2015 Genome Research Ltd.%>

<%= page_title 'Bait Library Suppliers', 'Index' %>
<table id="bait_library_supplier_list" class="sortable table table-striped">
  <thead>
    <tr>
      <th><a>Name</a></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% for bait_library_supplier in @bait_library_suppliers %>
    <tr>
      <td><%= bait_library_supplier.name %></td>
      <td><%= link_to 'Edit', edit_admin_bait_library_supplier_path(bait_library_supplier), title: "Edit #{bait_library_supplier.name}" %></td>
      <td><%= link_to 'Delete', admin_bait_library_supplier_path(bait_library_supplier), title: "Delete #{bait_library_supplier.name}", confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Bait Library Supplier', new_admin_bait_library_supplier_path %>
