
<%= page_title 'Bait Library Types', 'Index' %>
<table id="bait_library_types_list" class="sortable table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% for bait_library_type in @bait_library_types %>
    <tr>
      <td><%= bait_library_type.name %></td>
      <td><%= link_to 'Edit', edit_admin_bait_library_type_path(bait_library_type), title: "Edit #{bait_library_type.name}" %></td>
      <td><%= link_to 'Delete', admin_bait_library_type_path(bait_library_type), title: "Delete #{bait_library_type.name}", confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Bait Library Type', new_admin_bait_library_type_path %>
