
<%= page_title 'Bait Library', 'Edit' %>

<%= form_for([:admin,@bait_library]) do |f| %>
  <%= error_messages_for(f.object) %>

  <%= render partial: "edit_form", locals: {f: f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', admin_bait_libraries_path %>
