<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2012,2015 Genome Research Ltd.%>

<%= page_title 'Bait Libraries', 'Index' %>
<table id="bait_library_list" class="sortable table table-striped">
  <thead>
    <tr>
      <th><a>Name</a></th>
      <th><a>Supplier Identifier</a></th>
      <th><a>Supplier</a></th>
      <th><a>Target Species</a></th>
      <th><a>Bait Library Type</a></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% for bait_library in @bait_libraries %>
    <tr>
      <td><%= bait_library.name %></td>
      <td><%= bait_library.supplier_identifier %></td>
      <td><%= bait_library.bait_library_supplier.name %></td>
      <td><%= bait_library.target_species %></td>
      <td><%= bait_library.bait_library_type.name %></td>
      <td><%= link_to 'Edit', edit_admin_bait_library_path(bait_library), title: "Edit #{bait_library.name}" %></td>
      <td><%= link_to 'Delete', admin_bait_library_path(bait_library), title: "Delete #{bait_library.name}", confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Bait Library', new_admin_bait_library_path %>
<br />
<%= render partial: "supplier_index" %>
<br />
<%= render partial: "type_index" %>
