<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :workflow_id %><br />
  <%= f.collection_select(:workflow_id, Submission::Workflow.all, :id, :name) %>
</p>
<p>
  <%= f.label :order %><br />
  <%= f.text_field :order %>
</p>
<p>
  <%= f.label :asset_type %><br />
  <%= f.text_field :asset_type %>
</p>
<p>
  <%= f.label :initial_state %><br />
  <%= f.text_field :initial_state %>
</p>
