<h1>Listing request_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Workflow</th>
    <th>Order</th>
    <th>Asset type</th>
    <th>Initial state</th>
  </tr>

<% for request_type in @request_types %>
  <tr>
    <td><%=h request_type.name %></td>
    <td><%=h request_type.workflow_id %></td>
    <td><%=h request_type.order %></td>
    <td><%=h request_type.asset_type %></td>
    <td><%=h request_type.initial_state %></td>
    <td><%= link_to 'Show', request_type %></td>
    <td><%= link_to 'Edit', edit_request_type_path(request_type) %></td>
    <td><%= link_to 'Destroy', request_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New request_type', new_request_type_path %>
