<p>
  <b>Name:</b>
  <%=h @request_type.name %>
</p>

<p>
  <b>Workflow:</b>
  <%=h @request_type.workflow_id %>
</p>

<p>
  <b>Order:</b>
  <%=h @request_type.order %>
</p>

<p>
  <b>Asset type:</b>
  <%=h @request_type.asset_type %>
</p>

<p>
  <b>Initial state:</b>
  <%=h @request_type.initial_state %>
</p>


<%= link_to 'Edit', edit_request_type_path(@request_type) %> |
<%= link_to 'Back', request_types_path %>
