
<%= page_title 'Bulk Submission', 'Created' %>

<p class="lead">Your bulk submission has been processed.</p>

<% if @bulk_submission.warnings.present? %>
  <%= render partial: 'bulk_submissions/warnings', locals: {presenter: @bulk_submission} %>
<% end %>

<% @these_subs.each do |submission| %>
  <%= render partial: 'submissions/warnings', locals: { presenter: submission } %>
<% end %>
<%= panel do %>
  <h2 class="card-title">Submissions</h2>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
      </tr>
    </thead>
    <% @these_subs.each do |submission| %>
      <tr>
        <td><%= link_to submission.id, submission_path(submission.id) %></td>
        <td><%= link_to submission.name, submission_path(submission.id) %></td>
        <td><%= @sub_details[submission.id] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
