<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2011,2015 Genome Research Ltd.%>

<%= page_title 'Bulk Submission', 'Created' %>

<p class="lead">Your bulk submission has been processed.</p>

<% @these_subs.each do |submission| %>
  <%= render partial: 'submissions/warnings', locals: { presenter: submission } %>
<% end %>
<%= panel do %>
  <h2 class="card-title">Submissions</h2>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
      </tr>
    </thead>
    <% @these_subs.each do |submission| %>
      <tr>
        <td><%= link_to submission.id, submission_path(submission.id) %></td>
        <td><%= submission.name %></td>
        <td><%= @sub_details[submission.id] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
