<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2011,2012,2015 Genome Research Ltd.%>
<%= page_title "Bulk Submission", "New" %>

<%= alert(:info) do %>
  Please note that <strong>all</strong> submissions in your file will be processed, or if there are any errors,
  <strong>none</strong> of them will be processed. You will get feedback about any problems.</p>
<% end %>
<%= semantic_form_for @bulk_submission, html: {multipart: true } do |form|  %>
  <%= form.semantic_errors :base %>
  <%= form.inputs do %>
    <%= form.input :spreadsheet, as: :file %>
    <%= form.input :encoding, as: :select, collection: Encoding.list.map(&:to_s) %>
    <span id="helpBlock" class="help-block">
      Encoding describes the way special characters are stored in the CSV. By default Excel uses 'Windows-1252' format
      on English language Windows systems. In most cases you can leave this option unchanged.</span>
  <% end %>
  <%= form.actions do %>
    <%= form.action(:submit, button_html: { class:'btn btn-success btn-lg', disable_with: 'Processing' }) %>
  <% end %>
  <div id="being_created" style="display: none;">
    <p>Your spreadsheet is being processed...</p>
    <%= loading_bar %>
  </div>
<% end %>

<h3>Templates &amp; Guidance</h3>
<%= link_to "Download Blank Template", "/data/bulk_submission/blank_template.xls", class: 'btn btn-info btn-lg' %>
<div class='row'>
<div class='col-md-6'>
<p>
  The template contains the following columns:
</p>
<dl>
  <dt>User login</dt>
  <dd>Your login, or the person requesting the submission.</dd>
  <dt>Template name</dt>
  <dd>The submission template name that you would normally select from the submission drop down. A list is provided on
    the right.</dd>
  <dt>Project name</dt>
  <dd>The project to use. Must be the same for all samples in an order.</dd>
  <dt>Study name</dt>
  <dd>The study to use. Must be the same for all samples in an order.</dd>
  <dt>Submission name</dt>
  <dd>The name of the submission, is mandatory. A submission can contain several orders.</dd>
  <dt>Fragment size from - fragment size to</dt>
  <dd>The maximum and minimum insert size. (do not specify for pulldown templates)</dd>
  <dt>Library type</dt>
  <dd>The library type to create (do not specify for pulldown templates)</dd>
  <dt>Read length</dt>
  <dd>the read length being requested</dd>
  <dt>Number of lanes</dt>
  <dd>The number of lanes of sequencing requested per pool.</dd>
  <dt>Bait library name</dt>
  <dd>The name of the bait library to apply (ISC templates only)</dd>
  <dt>Comments</dt><dd>Any comment to add to the submission</dd>
</dl>
<p>The remaining columns are mutually exclusive, although they are all present in the template and the unused ones can
  be left blank or removed completely</p>
<dl>
  <dt>Plate barcode - plate well</dt>
  <dd>Used in tandem when submitting plates: the first is the human barcode (so 'DN1234567K' for example) of the plate,
    and the latter is the well location (as in 'A1' or 'G5').</dd>
  <dt>Asset ids</dt>
  <dd>One (or more, if comma separated) asset IDs to use.  Note that asset IDs are the unique identifiers either found
    on the asset page or in the URL for the asset and <em>not</em> the name or the barcode, as some people have referred
    to.</dd>
  <dt>Asset names</dt>
  <dd>One (or more, if comma separated) asset names to use.  Be wary of this as there are some assets that have
    identical names but are physically different (although the interface should error if it finds these cases).</dd>
</dl>
<p>
  The complexity comes between these 3 columns: you can specify asset IDs, or asset names, or plate/well combinations.
</p>
<p>Finally there is:</p>
<dl>
  <dt>Asset group name</dt>
  <dd>The name of a pre-existing asset group to use, in which case you cannot use the asset columns described above,
    or the name of the asset group to create if one does not exist, in which case the asset group is populated with
    the submitted assets.</dd>
</dl>
<p>The important thing is that a single submission can be described on one row, where you list the asset IDs or asset
  names, or across multiple rows, which you must currently do for the plate/well combinations.  If your submission spans
  multiple rows then the 'asset group name' is used to group them together, so must be identical for each row that forms
  a submission.  In this latter case the submission details must be duplicated on each line.</p>
</div>
<div class='col-md-6'>
  <h4>All submission templates</h4>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% open = 'in' %>
  <% @submission_template_groups.each do |group,templates| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= group.gsub(' ','_').camelize %>" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= group.gsub(' ','_').camelize %>">
        <h5 class="panel-title"><%= group %></h5>
        <span class="caret pull-right"></span>
      </div>
      <div id='collapse<%= group.gsub(' ','_').camelize %>' class="panel-collapse collapse <%= open %>" role="tabpanel" aria-labelledby="heading<%= group.gsub(' ','_').camelize %>">
        <ul class='list-group'><% templates.each do |template| %>
          <li class='list-group-item'><%= template.name %></li>
        <% end %></ul>
      </div>
    </div>
    <% open = '' %>
  <% end %>
  </div>
</div>
</div>
<script>
(function($, undefined) {
  $(document).on('dom:loaded', function() {
    $('#new_bulk_submission').on('submit', function() {
      $('#bulk_submission_submit').hide();
      $('#being_created').show();
      $('#loading').show();
    });
  });
})(jQuery);
</script>
