<%= page_title "Bulk Submission", "New" %>

<div class="columnize">
  <%= panel(:form) do %>
    <%= render 'upload' %>
  <% end %>

  <%= panel do %>
    <%= render 'bulk_submission_template' %>
  <% end %>

  <%= panel(:help) do %>
    <%= render 'guidance' %>
  <% end %>

  <%= panel(:templates) do %>
    <%= render 'submission_templates' %>
  <% end %>
</div>
