
<tr class="<%= cycle("rowodd", "roweven") %>">
  <td><%= link_to(h(asset.display_name), asset_url(asset), target: "_blank") %></td>
  <td><%= asset.respond_to?(:human_barcode) ? asset.human_barcode : '' %></td>
  <td colspan="3">
    <% unless asset.requests.empty? %>
      <table border="0" cellpadding="3" cellspacing="0" width="100%">
        <% asset.requests.each do |request| %>
          <tr>
            <td><%= request.pipeline&.name %></td>
            <td><%= link_to request.id, request_path(id: request.id) %></td>
            <td><%= request.batch&.id %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      No request
    <% end %>
  </td>
  <td><%= asset.sti_type %></td>
</tr>
