
<% add :about, "Your user profile." -%>
<% add :menu, "Edit profile" => edit_profile_path(@user) -%>
<% add :menu, "View Projects" => projects_profile_path(@user) -%>
<% add :menu, "Qc Reports" => study_reports_profile_path(@user)  -%>
<% add :menu, "Administer users" => admin_users_path if can? :administer, User -%>

<%= page_title @user.name, @user.login %>

<% if @user.profile_complete? %>
  <%= alert(:success) do %>
    Your profile is up to date and complete.
  <% end %>
<% else %>
  <%= alert(:warning) do %>
    Your profile not complete!
  <% end %>
<% end %>
<div class="card-columns">
<%= summary do
 [
  ['First name', @user.first_name.blank? ? "Unknown" : @user.first_name ],
  ['Last name',  @user.last_name.blank? ? "Unknown" : @user.last_name ],
  ['Preferred email', @user.email.blank? ? "Unknown" : @user.email ]
 ]
end %>

<% logged_in_user?(@user) do -%>
  <%= panel(:info, title:'API access') do %>
    <dl>
      <dt>API Key</dt>
      <dd><code><%= @user.api_key %></code></dd>
    </dl>
    <p>You can use your API key to access your studies, samples and requests programmatically.</p>
  <% end %>
<% end %>
</div>
<div class="card-default">
<%= panel(:default, title: 'Print Swipecard Barcode') do %>
  <form onkeypress="return event.keyCode != 13;">
    <table>
      <tr>
        <th><label for="swipecard">Swipecard</label></th>
        <th><label for="barcode-printer-list">Printer</label></th>
        <th></th>
      </tr>
      <tr>
        <td><input type="password" id="swipecard" /></td>
        <td>
          <select name="printer" id="barcode-printer-list", class="form-control select2">
            <% @printer_list.each do |printer| %>
              <option value="<%= printer.name %>"><%= printer.name %></option>
            <% end %>
          </select>
        </td>
        <td>
          <input type="button" value="Print Barcode" id="print-btn" class="btn btn-success" <% if @label_template_id.nil? %>disabled<% end %> />
        </td>
      </tr>
    </table>
    <div
      id="pmb-data"
      data-pmb-api="<%= configatron.pmb_api %>"
      data-swipecard_pmb_template="<%= configatron.swipecard_pmb_template %>"
    >
    </div>
    <div id="usr-data" data-usr-login="<%= @user.login.truncate(10, omission: '..') %>"></div>
  <%= javascript_include_tag 'print_swipecard.js' %>
  </form>
<% end %>
</div>
