<% add :title, "Your user profile." -%>
<% add :menu, "<strong>Edit profile</strong>" => edit_profile_path(@user) -%>
<% add :menu, "View Projects" => projects_profile_path(@user) -%>
<% add :menu, "Qc Reports" => study_reports_profile_path(@user) -%>
<% add :admin_option, "Administer users" => users_path -%>

<h1><% unless @user.name.empty? %><%= @user.name %><% end %> : <%=h @user.login %></h1>

<% if @user.profile_complete? %>
<div class='callout'>
  Your profile is up to date and complete.
</div>
<% else %>
<div class='callout_alert'>
  Your profile not complete!
</div>
<% end %>

<div class="info">
  <table width='100%'>
    <tr>
      <td class="item" width="40%">First name:</td>
      <td><strong><%=h @user.first_name.blank? ? "Unknown" : @user.first_name %></strong></td>
    </tr>
    <tr>
      <td class="item" width="40%">Last name:</td>
      <td><strong><%=h @user.last_name.blank? ? "Unknown" : @user.last_name %></strong></td>
    </tr>
    <tr>
      <td class="item" width="40%">Preferred email:</td>
      <td><strong><%=h @user.email.blank? ? "Unknown" : @user.email %></strong></td>
    </tr>
    <tr>
      <td class="item" width="40%">Workflow:</td>
      <td><strong><%=h @user.workflow_name %></strong></td>
    </tr>
  </table>
</div>

<% logged_in_user? do -%>
<div class='callout'>
  <h2>Your API key is:</h2>
  <code><%= @user.api_key %></code>
  <p>You can use your API key to access your studies, samples and requests programmatically.</p>
<% end %>
