
<%= page_title 'Bait Library Supplier', 'New' %>

<%= form_for([:admin,@bait_library_supplier]) do |f| %>
  <%= error_messages_for(f.object) %>

  <%= render partial: "edit_form", locals: {f: f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_bait_libraries_path %>
