<h1>ACTIONS</h1>
<input type="hidden" id="underrun" value="<%= @batch.underrun %>" />
<% if @batch.has_limit? -%>
  <input type="hidden" id="batch_item_limit" value="<%= @batch.item_limit %>" />
<% end -%>
<div class="info">
  <ul>
    <% unless @batch.released? || @batch.failed? -%>
      <li><%= link_to "Start batch", {:controller => "workflows", :action => "stage", :id => 0, :batch_id => @batch.id, :workflow_id => @batch.workflow.id}, :onclick => "if (!check_count_before_start()) {return false;} " %></li>
    <% end -%>
    <% @batch.workflow.tasks.each_with_index do |task, index| -%>
    <li><%= link_to task.name, :controller => :workflows, :action => :stage, :id => index, :batch_id => @batch.id, :workflow_id => @batch.workflow.id %></li>
    <% end -%>
    <li><%= link_to "Fail batch or items", :action => "fail", :id => @batch.id %></li>
  </ul>
  <p>
    <% if @pipeline.next_pipeline and not @pipeline.genotyping?-%>
      Continue processing this batch:
      <ul>
        <li><%= link_to "#{@pipeline.next_pipeline.name} &rarr;", :controller => "workflows", :action => "auto_batch", :batch_id => @batch.id, :id => @pipeline.next_pipeline.workflow.id %></li>
      </ul>
    <% else -%>
      No additional processing steps for this batch have been specified.
    <% end -%>
  </p>
</div>

<script type="text/javascript">
  function check_count_before_start(){
    var item_limit = $('batch_item_limit').value;
    var underrun = $('underrun').value;
    var mod = Math.abs(underrun);

    if ($('batch_item_limit')) {
      if (underrun > 0) {
        alert('Batch size is limited to ' + item_limit + '.  Please edit the batch and add ' + mod + ' or more libraries before continuing');
        return false;
      }

      else if (underrun < 0) {
        alert('Batch size is limited to ' + item_limit + '.  Please edit the batch and remove ' + mod + ' or more libraries before continuing');
        return false;
      }

      else if (underrun == 0) {
      return true;
      }
    }
    else {
      return true;
    }
  }
</script>
