<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2013,2014,2015,2016 Genome Research Ltd.%>

<div class="info">
  <table class="sortable table table-stripped">
    <thead>
      <tr>
        <% if edit -%>
          <th width="3%"><%= link_to 'Drag', "javascript:void(0);" %></th>
        <% elsif stage %>
          <th class="nosort" width="7%"><input type='checkbox' class='select_all'></th>
        <% end -%>
        <th>Position</th>
        <th>Sample</th>
        <th>Request</th>
        <th>Source</th>
        <th>Source barcode</th>
        <th>Target Type</th>
        <th>Target barcode</th>
        <% if @batch.display_tags? %>
          <th>Tag #</th>
        <% end %>
        <% @rits.each do |rit| %>
          <th><%= rit.label %></th>
        <% end %>
        <th>State</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody id="requests_list">
      <% requests.each_with_index do |request, i| -%>
        <tr id="request_<%= request.id %>" class="<%= cycle("rowodd", "roweven") %> row<%= i %>">
          <% if edit -%>
            <td class="center" style="cursor:move;"><%= image_tag "arrow_out.png", size: "13x13" %></td>
          <% elsif stage %>
              <td><input name='request[<%= request.id %>]' id="sample <%= i+1  %> checkbox" class='sample_check select_all_target' value="on" type='checkbox' checked></td>
          <% end -%>
          <td><%= request.position %></td>

          <% if request.asset %>
            <td><%= h(request.asset.display_name) %></td>
          <% else %>
            <td></td>
          <% end %>

          <td><%= link_to request.id, request_url(request) %></td>
          <% if request.asset  %>
            <td><%= link_to request.asset.sti_type, asset_url(request.asset) %></td>
            <td><%= request.asset.barcode %></td>
            <% if request.target_asset %>
              <td><%= link_to request.target_asset.sti_type, asset_url(request.target_asset) %></td>
              <td><%= request.target_asset.barcode %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
            <td ></td>
            <td></td>
          <% end %>
          <% if @batch.display_tags? -%>
            <% tag = request.target_asset.primary_aliquot.try(:tag) %>
            <% unless tag.blank? %>
              <td><%= link_to tag.map_id, tag_group_path(tag.tag_group) %></td>
            <% else %>
              <td> - </td>
            <% end %>
          <% end %>

          <% @rits.each do |rit| %>
            <td><%= request.value_for(rit.name, @batch) %></td>
          <% end %>
          <td><%= request.state.humanize %></td>
          <% unless request.comments.blank? -%>
          <td><%= link_to (pluralize request.comments.size, 'comment'),  request_comments_url(request) %></td>
          <% else -%>
          <td>None</td>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <br />
</div>
<% if edit %>
  <script type="text/javascript">
    (function() {
      function batchListPostParametersFromSortable(node) {
        return $(node).sortable('toArray').map(function(s) {return s.replace(/request_/,'requests_list[]=');}).join('&');
      }
      $( "#requests_list" ).sortable({
        update: function(event, elem) {
          $.post('/batches/sort?batch_id=' + <%= @batch.id %>, batchListPostParametersFromSortable(event.target));
        }
      });
      $( "#requests_list" ).disableSelection();
    }());
  </script>
<% end %>
