<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<h3>Ethical approval</h3>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" class="item"><%= form.label :ethically_approved, "HMDMC approved" %></td>
    <td width="60%"><%= form.check_box :ethically_approved, disabled: !current_user.data_access_coordinator? %></td>
  </tr>
</table>
<%= fields_for(@study) do |f| %>
  <%= f.fields_for(:study_metadata, builder: Metadata::FormBuilder) do |metadata_fields| %>
    <%= metadata_fields.text_field :hmdmc_approval_number %>
  <% end %>
<% end %>
<table width="100%" cellspacing="0" cellpadding="0">
  <% unless study.documents.empty? %>
    <tr>
      <td width="40%" class="item">Listing <%= pluralize(study.documents.size, "document") %>:</label></td>
      <td width="60%">
        <% study.documents.each do |document| %>
          <div id='<%= document.filename.underscore %>_listing' class="ListingDocuments">
            <%= display_file_icon(document) %>
            <%= link_to document.filename, study_document_path(study, document) %>
            <% if current_user.administrator? %>
              <%= link_to(image_tag("delete.png", id: "delete_file_#{document.id}"), [study, document], method: :delete, title: "Delete #{ document.filename }", alt: "Delete") %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td width="40%" class="item"><%= form.label :uploaded_data, "Attach HMDMC approval" %></td>
    <td width="60%"><%= form.file_field :uploaded_data %></td>
  </tr>
</table>
