
<div class="user-session-controls">
  <ul>
  <% if logged_in? -%>
    <li><%= I18n.t('global_links.welcome') %> <%= link_to current_user.name, profile_path(current_user) %></li>
    <li><%= link_to I18n.t('global_links.edit_profile'), edit_profile_path(current_user) %></li>
    <li><%= link_to I18n.t('global_links.logout'), logout_path -%></li>
  <% end -%>
  </ul>
</div>

<nav class="main-nav">
  <div id="logo_container">
    <div id="sequencescape_logo"><%= link_to image_tag("sequencescape.gif"), '/' %></div>
    <div id="app_name">
      <% if Rails.env.production? %>
        <%= link_to t('application.name').upcase, '/' %>
      <% else %>
        <%= link_to Rails.env.humanize, '/' %>
      <% end %>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-items" aria-controls="main-nav-items" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <!-- The main body of the navbar. Collapses at low resolutions -->
  <div id="main-nav-items" class="<%= phantom_js? ? 'legacy' : 'modern' %>">
    <ul><%= render partial: 'shared/tab', collection: @tabs.items %></ul>
    <%= form_tag searches_path, method: :get, role: "search" do %>
      <div class="input-group">
        <%= select_tag :type, options_for_select(search_options,""), id: 'layout_search_options' %>
        <%= search_field_tag :q, "", size: 20, type: "search", placeholder: "name, id, barcode", id: 'layout_search' %>
      </div>
    <% end %>
  </div><!-- /.navbar-collapse -->
</nav>

<%- unless custom_text("app_info_box", 1).blank? -%>
  <div id="app-info-box" class="well well-sm">
    <span><%= custom_text("app_info_box", 1) %></span>
  </div>
<%- end -%>
