<nav class="main-nav">
  <div id="logo-container">
    <% environment = Rails.env %>
    <%= link_to vite_image_tag("images/logo-gradient-#{environment}.svg"), '/' %>
    <div id="app_name">
      <% if Rails.env.production? %>
        <%= link_to t('application.name').upcase, '/' %>
      <% else %>
        <%= link_to Rails.env.humanize, '/' %>
      <% end %>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-items" aria-controls="main-nav-items" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <!-- The main body of the navbar. Collapses at low resolutions -->
  <div id="main-nav-items">
    <ul><%= render partial: 'shared/tab', collection: @tabs.items %></ul>
    <div class="navbar-nav">
    <%= form_tag searches_path, method: :get, role: "search" do %>
      <div class="input-group">
        <%= select_tag :type, options_for_select(search_options,""), id: 'layout_search_options' %>
        <%= search_field_tag :q, "", size: 20, type: "search", placeholder: "name, id, barcode", id: 'layout_search' %>
      </div>
    <% end %>
    <% if logged_in? -%>
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= icon('fas', 'user') %>
          </a>
          <div class="dropdown-menu dropdown-menu-right text-dark" aria-labelledby="navbarDropdown">
            <%= link_to current_user.name, profile_path(current_user), class: 'dropdown-item' %>
            <%= link_to I18n.t('global_links.edit_profile'), edit_profile_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to I18n.t('global_links.logout'), logout_path, class: 'dropdown-item' -%>
          </div>
      </div>
    <% else %>
      <%# User is not logged in %>
      <div class="nav-item"><%= icon('fas', 'user-alt-slash') %></div>
    <% end %>
  </div>
  </div><!-- /.navbar-collapse -->
</nav>

<%- unless custom_text("app_info_box", 1).blank? -%>
    <div id="app-info-box" class="well well-sm">
      <span><%= custom_text("app_info_box", 1) %></span>
    </div>
<%- end -%>
