<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<table id="study_list" width="100%" class="sortable" cellpadding="4" cellspacing="0">
  <thead>
  <tr>
    <th><%= link_to "Name", "javascript:void(0);" %></th>
    <th><%= link_to "Contains", "javascript:void(0);" %></th>
    <th><%= link_to "Study", "javascript:void(0);" %></th>
    <th><%= link_to "Supplier", "javascript:void(0);" %></th>
    <th><%= link_to "Created", "javascript:void(0);" %></th>
    <th><%= link_to "Created by", "javascript:void(0);" %></th>
    <th><%= link_to "Manifest", "javascript:void(0);" %></th>
    <th><%= link_to "Upload", "javascript:void(0);" %></th>
    <th><%= link_to "Errors", "javascript:void(0);" %></th>
    <th><%= link_to "State", "javascript:void(0);" %></th>
    </tr>
  </thead>
  <tbody>
  <% manifests.each do |manifest| %>
    <tr>
      <td><%= link_to manifest.name, sample_manifest_path(manifest), title: "Manifest for #{manifest.study.name}" %></td>
      <td><%= pluralize(manifest.count, manifest.asset_type || "plate") %></td>
      <td><%= link_to manifest.study.name, study_path(manifest.study) %></td>
      <td><%= link_to manifest.supplier.name, supplier_path(manifest.supplier) %></td>
      <td class="strong faint"><span style="display:none"><%= manifest.created_at %></span><%= manifest.created_at.to_formatted_s(:sortable) %></td>
      <td>
        <% if manifest.user %>
          <%= link_to manifest.user.login, profile_path(manifest.user) %>
        <% end %>
      </td>
      <td><%= link_to "Blank manifest", export_sample_manifest_path(manifest) %></td>
      <td>
        <% if manifest.failed? || (! manifest.uploaded_document) %>
          <%= link_to 'Upload manifest', sample_manifest_path(manifest) %>
        <% else %>
          <%= link_to 'Completed manifest', uploaded_spreadsheet_sample_manifest_path(manifest) %>
        <% end %>
      </td>
      <td>
      <% if manifest.last_errors %>
        <%= link_to 'Errors', sample_manifest_path(manifest), title: "Errors for manifest for #{manifest.study.name}" %>
      <% end %>
      </td>
      <td><% if ! manifest.uploaded_document %>
        No manifest uploaded
        <% else %>
          <%= manifest.state.titleize %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
