<div class="sidebar-links">
  <% if @manager_menu -%>
    <% if logged_in? && current_user.manager_or_administrator? -%>
    <ul id="manager_menu" class="link-list">
      <%= render partial: '/item', collection: @manager_menu.items %>
    </ul>
    <% end -%>
  <% end -%>

  <% if @menu -%>
  <ul id="base-Menu" class="link-list">
    <%= render partial: '/item', collection: @menu.items %>
  </ul>
  <% end -%>

  <% if @admin_menu -%>
    <% if logged_in? && current_user.administrator? -%>
    <ul id="admin_menu" class="link-list">
      <%= render partial: '/item', collection: @admin_menu.items %>
    </ul>
    <% end -%>
  <% end -%>

  <% if @back_menu -%>
  <ul id="back_menu" class="link-list">
    <%= render partial: '/item', collection: @back_menu.items %>
  </ul>
  <% end -%>
</div>

<% if @legend -%>
  <%= panel(:default) do %>
    <ul id="legend" class="link-list">
      <%= render partial: '/item', collection: @legend.items %>
    </ul>
  <% end %>
<% end -%>
