
<table id="study_list"class="sortable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Studies</th>
    <th>Manifests</th>
    </tr>
  </thead>
  <tbody>
  <% suppliers.each do |supplier|  %>
    <tr>
    <td><%= link_to supplier.name, supplier_path(supplier) %></td>
    <td><%= supplier.contact_name%></td>
    <td><%= mail_to supplier.email, supplier.email %></td>
    <td><%= supplier.phone_number %></td>
    <td><%= link_to "#{supplier.studies.count} studies", studies_supplier_path(supplier)%></td>
    <td><%= link_to "#{supplier.sample_manifests.count} manifests", sample_manifests_supplier_path(supplier)%></td>
    </tr>
  <% end %>
  </tbody>
</table>
