<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2013,2014,2015,2016 Genome Research Ltd.%>

<table class="sortable table table-striped" id="pipeline_inbox">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th id="priority_flag"><a><%= image_tag("icon_0_flag.png", size: "16x16") %></a></th>

      <% @inbox_presenter.each_field_header do |field_name| %>
        <th><a><%= field_name %></a></th>
      <% end %>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @inbox_presenter.each_line do |line| -%>

      <% line.groupless? do -%>
        <tr><td colspan="<%= @inbox_presenter.field_count+2 %>">Null Group</td></tr>
      <% end -%>

      <% line.standard_fields? do %>
        <tr>
          <!-- Shared fields. -->
          <td class="request center" width='5%'>
            <%= label_tag(line.request_group_id, "Select #{ line.parent.sanger_human_barcode } for batch", style: 'display:none') %>
            <%= label_tag(line.request_group_id, "Include request #{line.index+1}", style: 'display:none') %>
            <%= check_box(:request_group, line.group_id, id: line.request_group_id, class: 'grouped_checkbox', :'data-count' => line.wells) %>
            <%= hidden_field_tag("#{line.request_group_id}_size", "",  value: line.wells)  %>
          </td>
          <td  style='text-align: center'>
            <!-- TODO: Restore priority toggle for grouped submissions -->
            <%= image_tag "icon_#{line.priority}_flag.png", 'alt' => line.priority, size: '16x16', class: "flag_image #{current_user.is_lab_manager? ? 'as_manager' : ''}", "data-priority" => line.priority %>
          </td>

          <!-- Custom fields -->
          <% line.each_field do |value| %>
            <td><%= value %></td>
          <% end %>

          <td><%= link_to 'Show plate', show_plate_asset_url(line.parent) %></td>
        </tr>
      <% end %>

      <% line.parentless? do %>
        <tr>
          <!-- Shared Fields -->
          <td class="bg-danger">&nbsp;</td>
          <td class="bg-danger">&nbsp;</td>
          <!-- Custom Fields -->
          <td class="request center" width='5%' colspan="3" style="background:red;font-weight:bold;">Empty parent ID set</td>
          <td class="bg-danger"><%= line.wells %></td>
          <% (@inbox_presenter.field_count-2).times do %>
            <td class="bg-danger">&nbsp;</td>
          <% end %>
        </tr>
      <% end -%>
    <% end -%>
  </tbody>
</table>
