
<td class='request' style='text-align: left' width='15%'><%= link_to (pluralize comments_count, 'comment'), receptacle_comments_path(request.asset_id) %>
  <%= link_to '+', receptacle_comments_path(request.asset_id), remote: true, class: 'show-comment', data: {
    :'comment-field' => "#comment_for_asset_#{request.id}",
    update: "#comment_for_asset_#{request.id}",
    throbber: "#loader_for_asset_#{request.id}"
  } %>/
  <%= content_tag :a, '-', class: 'hide-comment', data: { :'comment-field' => "#comment_for_#{request.id}" } %>
  <%= loading_bar("loader_for_asset_#{request.id}") %>
  <div id="<%= "comment_for_asset_#{request.id}" %>" style="display:none;"></div>
</td>
