
<% tabs = ["Pending", "In progress", "Completed (unreleased)", "Released", "Failed", "Last 5"] %>
<div class='batch-statuses'>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <% tabs.each_with_index do |type, index|-%>
        <%= tab type, active: index.zero? %>
      <% end -%>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <%= tab_pane('pending', active: true) do %>
      <%= render partial: "shared/batches", locals: { batches: @pending_batches, in_progress: false, showing_all: false, batch_state: 'pending' } %>
    <% end %>
    <%= tab_pane('in progress') do %>
      <%= render partial: "shared/batches", locals: { batches: @batches_in_progress, in_progress: true, showing_all: false, batch_state: 'in progress' } %>
    <% end %>
    <%= tab_pane('Completed (unreleased)') do %>
      <%= render partial: "shared/batches", locals: { batches: @completed_batches, in_progress: false, showing_all: false, batch_state: 'completed' } %>
    <% end %>
    <%= tab_pane('Released') do %>
      <%= render partial: "shared/batches", locals: { batches: @released_batches, in_progress: false, showing_all: false, batch_state: 'released' } %>
    <% end %>
    <%= tab_pane('Failed') do %>
      <%= render partial: "shared/batches", locals: { batches: @failed_batches, in_progress: false, showing_all: false, batch_state: 'failed' } %>
    <% end %>
    <%= tab_pane('Last 5') do %>
      <%= render partial: "shared/batches", locals: { batches: @last5_batches, in_progress: false, showing_all: false, batch_state: 'last 5' } %>
    <% end %>
  </div>
</div>
