<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012,2013,2014 Genome Research Ltd.%>
<h2>Input requests</h2>
<%= render :partial => "batch_statuses" %>
<%= render :partial => 'pipeline_limit' %>
<% unless @requests_waiting == 0  -%>
  <%= render :partial => 'pipeline_paginate' %>
  <!-- _default_inbox.html.erb -->
  <%= form_tag({:controller => :batches, :action => :create, :id => @pipeline.id}, :id => "requests_to_batch_form") do -%>
    <% if @pipeline.item_limit -%>
      <input type="hidden" id="batch_item_limit" value="<%= @pipeline.item_limit %>" />
    <% end -%>
    <%= render :partial => "requests", :locals => {:requests => @requests} %>
    <%= render :partial => 'inbox_submission_button' %>
  <% end -%>

 <%= render :partial => 'pipeline_paginate' %>
<% else -%>
  There are no outstanding requests for this pipeline.
<% end -%>

<%= render :partial => 'show_held_requests' %>
