
<table class="table table-striped sortable table-dense-information" id="pipeline_inbox">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th id="priority_flag"><%= image_tag("icon_0_flag.png", size: "16x16") %></th>
      <th>Submission</th>
      <th>Request ID</th>
      <th>Name</th>
      <th>Request comments</th>
      <th>Asset</th>
      <th>Asset comments</th>
      <% if @pipeline.multiplexed? %>
        <th>Scanned in (Y-M-D)</th>
      <% end %>
      <% @information_types.each do |information_type| %>
        <th style='text-align: left'><%= information_type.label %></th>
      <% end %>
      <th>Concentration</th>
      <th>Study</th>
    </tr>
  </thead>
  <tbody>
    <% grouped_requests.each_with_index do |(grouping, requests), index| %>
        <tr>
          <% request = requests.first %>
          <td>
          <%= hidden_label_tag_for_testing("select_all_group_#{index}", "Select Request Group #{index}") %>
            <% if request.ready? %>
              <input type="checkbox" name="selectAll" onclick="select_requests_by_group(<%=  request.submission_id %>,<%= requests.size %>, this.checked);" id="select_all_group_<%= index %>"></a>
            <% else %>
              <%= icon('fas', 'exclamation-circle', class: 'text-danger', title: I18n.t("requests.status.not_ready")) %>
            <% end %>
          </td>
          <td><a href="javascript:void(0)" onclick="showElement(<%=  request.submission_id %>,<%= requests.size %>); return false;"><%= icon('fas', 'info-circle', class: 'text-info') %></a></td>
          <td>
            <%= image_tag "icon_#{request.priority}_flag.png", 'alt' => request.priority, size: '16x16', class: "flag_image #{current_user.lab_manager? ? 'as_manager' : ''}", "data-priority" => request.priority, 'data-request-id' => request.id, 'data-submission-id' => request.submission_id %>
          </td>
          <td><%= link_to request.submission_id,submission_path(request.submission) %></td>
          <td>&nbsp;</td>
          <td><%= h(request.asset.display_name) %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <% if @pipeline.multiplexed? %>
            <td style='text-align: left'><%= request.asset.scanned_in_date %></td>
          <% end %>
          <% @information_types.each do |information_type| %>
            <td><%= h(request.request_metadata[information_type.key]) %></td>
          <% end %>
          <td><%= request.asset.concentration -%></td>
          <td><%= request.submission.study_names %></td>
        </tr>

      <tr class="nested" id="<%= request.submission_id %>_0" style="display:none">
         <td>&nbsp;</td>
         <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan=12><%= requests.size %> out of <%= Request.number_expected_for_submission_id_and_request_type_id(request.submission_id, request.request_type_id) %> scanned in.</td>
      </tr>
        <%- requests.each_with_index do |request, indice| -%>
          <% request_comments_count = @requests_comment_count.fetch(request.id,0) -%>
          <% request_asset = request.asset -%>
          <% asset_comments_count = @assets_comment_count.fetch(request.asset_id,0)-%>
          <% progr = indice + 1 %>
        <tr class="nested" id="<%= request.submission_id %>_<%= progr.to_s %>" style="display:none">
          <td width='2%'>&nbsp;</td>
          <td>
          <%= label(:request, request.id, 'Select Request', style: 'display:none') %>
            <% if request.ready? %>
              <%= check_box :request, request.id, value: request.id %>
            <% else %>
              <%= icon('fas', 'exclamation-circle', class: 'text-danger', title: I18n.t("requests.status.not_ready")) %>
            <% end %>
          </td>
          <td style='text-align: center' width='5%'>
            <%= image_tag "icon_#{request.priority}_flag.png", 'alt' => request.priority, size: '16x16', class: 'related_flag_image', 'data-submission-id' => request.submission_id %>
          </td>
          <td><%= link_to request.submission_id, submission_path(request.submission_id) %></td>
          <td><%= link_to request.id, request_path(request) %></td>
          <td><%= link_to(h(request_asset.display_name), receptacle_path(request.asset)) %></td>
          <%= render partial: "request_comments", locals: { request: request, comments_count: request_comments_count } %>
          <td><%=  link_to "#{request_asset.sti_type} #{request_asset.try(:human_barcode)}", receptacle_path(request.asset) %></td>
          <% unless asset_comments_count.zero? -%>
            <%= render partial: "asset_comments", locals: { request: request, comments_count: asset_comments_count } %>
          <% else -%>
            <td>&nbsp;</td>
          <% end -%>
          <td>&nbsp;</td>
          <% @information_types.each do |information_type| %>
            <td><%= h(request.request_metadata[information_type.key]) %></td>
          <% end %>
          <td><%= request.asset.concentration || "&nbsp;".html_safe -%></td>
          <td><%= request.submission.study_names %></td>
        </tr>
        <% end -%>
    <% end %>
  </tbody>
</table>

<%= javascript_include_tag 'pipeline.js' %>
