
<% actions ||= [["Create Batch","create_batch"], ["Cancel Requests","cancel_requests"], ["Hide from Inbox","hide_from_inbox"]] %>
<% select_scope ||= 'body' %>

<div class="batch-controls">
  <div class="batch-actions">
    <div class="input-group">
    <%= label_tag('action_on_requests', 'Action to perform', style: 'display:none;') %>
    <%= select_tag("action_on_requests", options_for_select(actions), {class: 'action_on_request'}) %>
    <%= submit_tag "Submit", disable_with: "Please wait..." %>
    </div>
  </div>
  <div class="select-deselect" role="group" aria-label="Select/Deselect">
    <%= button_tag "Select all", type: "button", name: "select", class: "select-all-behaviour", data: { scope: select_scope } %>
    <%= button_tag "Deselect all", type: "button", name: "unselect", class: "deselect-all-behaviour", data: { scope: select_scope } %>
  </div>
</div>
