
<%= render partial: "batch_statuses" %>
<%= render partial: 'pipeline_limit', locals: { requests_waiting: @requests_waiting } %>

<% if @requests_waiting == 0 -%>
  There are no outstanding requests for this pipeline.
<% else -%>
  <!-- _pacbio_sequencing_inbox.html.erb -->
  <%= form_tag({controller: :batches, action: :create, id: @pipeline.id}, id: "requests_to_batch_form") do -%>
    <% if @pipeline.item_limit -%>
      <input type="hidden" id="batch_item_limit" value="<%= @pipeline.item_limit %>" />
    <% end -%>

    <!-- _pac_bio_sequencing_inbox.html.erb -->
    <table class="sortable table table-stripped" id='request_inbox'>
      <thead>
        <tr>
          <th style='text-align: left' width='2%'>&nbsp;<!-- Checkboxes --></th>
          <th style='text-align: left' width='2%'>&nbsp; <!-- Notify --></th>
          <th>Request ID</th>
          <th>Nam</th>
          <th>Asse</th>
          <th>Ta</th>
          <% @information_types.each do |information_type| %>
            <th style='text-align: left'><%= information_type.label %></th>
          <% end %>
          <th>Study</th>
        </tr>
      </thead>
      <tbody>

        <% @grouped_requests.each_with_index do |(submission_id, requests), index| %>
          <tr class="request_group">
            <% request = requests.first %>

            <td class="request" width='2%'><!-- Checkboxes -->
              <%= hidden_label_tag_for_testing("select_all_group_#{index}", "Select Request Group #{index}") %>
              <% if request.ready? %>
                <input type="checkbox" name="selectAll" onclick="select_requests_by_group('<%=  index %>',<%= requests.size %>, this.checked);" id="select_all_group_<%= index %>"></a>
              <% else %>
                <%= icon('fas', 'exclamation-circle', class: 'text-danger', title: I18n.t("requests.status.not_ready")) %>
              <% end %>
            </td>

            <td class="request" width='2%'><!-- Notify -->
              <a href="javascript:void(0)" onclick="showElement('<%=  index %>',<%= requests.size %>); return false;"><%= icon('fas', 'info-circle', class: 'text-info') %></a>
            </td>
            <td class="request">&nbsp; <!-- Request ID--></td>
            <td class='request'><!-- Name --><%= h(request.asset.display_name) %></td>
            <td class='request'><!-- Asset -->&nbsp;</td>
            <td class='request'><!-- Tag -->&nbsp;</td>
            <% @information_types.each do |information_type| %>
              <td class='request'><%= h(request.request_metadata[information_type.key]) %></td>
            <% end %>
            <td class='request'><%= request.submission.study_names %></td>
          </tr>

          <tr class="nested" id="<%= index  %>_0" style="display:none">
            <td>&nbsp;<!-- Checkboxes --></td>
            <td>&nbsp;<!-- notify --></td>
            <td>&nbsp;<!-- request_id --></td>
            <td class="request" colspan=3><%= requests.size %> out of <%= Request.number_expected_for_submission_id_and_request_type_id(request.submission_id, request.request_type_id) %> scanned in.</td>
          </tr>
          <%- requests.each_with_index do |request, indice| -%>

            <% request_asset = request.asset -%>

            <% request_tag = request_asset.aliquots.map {|a| a.tag.present? ? "#{a.tag.tag_group.name}:#{a.tag.map_id}" : "Untagged" }.join(',') -%>
            <% progr = indice + 1 %>
            <tr class="nested request<%= indice %>" id="<%= index %>_<%= progr.to_s %>" style="display:none">
              <td class="request">&nbsp;<!-- Checkboxes (grp) --></td>
              <td> <!-- Notify/ Checkboxes (ind) -->
                <%= label(:request, request.id, "Select Request #{indice}", style: 'display:none') %>
                <% if request.ready? %>
                  <%= check_box :request, request.id, value: request.id %>
                <% else %>
                  <%= icon('fas', 'exclamation-circle', class: 'text-danger', title: I18n.t("requests.status.not_ready")) %>
                <% end %>
              </td>
              <td class='request'> <!-- Request id -->
                <%= link_to request.id, request_path(request) %>
              </td>
              <td class='request'> <!-- Name -->
                <%= link_to request_asset.name, receptacle_path(request.asset_id) %>
              </td>
              <td class='request'> <!-- Asset -->
                <%=  link_to "#{request_asset.sti_type} #{request_asset.human_barcode}", receptacle_path(request.asset_id) %>
              </td>
              <td class='request'>
                <%= request_tag %>
              </td>
              <% @information_types.each do |information_type| %>
                <td class='request'><%= h(request.request_metadata[information_type.key]) %></td>
              <% end %>
              <td class='request'><%= request.submission.study_names %></td>
            </tr>
          <% end -%>
        <% end %>
      </tbody>
    </table>



    <%= render partial: 'inbox_submission_button' %>
  <% end -%>
<% end -%>

<%= render partial: 'show_held_requests' %>

<%= vite_javascript_tag 'pipeline.js' %>
