<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <%= tabulated_error_messages_for "pipeline" %>
  </tr>
  <tr>
    <td width="35%" class="item">Pipeline name: <%= required_marker %></td>
    <td width="65%"><%= form.text_field :name %></td>
  </tr>
  <tr>
    <td width="35%" class="item">Automated?:</td>
    <td width="65%"><%= form.check_box :automated %></td>
  </tr>
  <tr>
    <td width="35%" class="item">Group by parent:</td>
    <td width="65%"><%= form.check_box :group_by_parent %></td>
  </tr>
  <tr>
    <td width="35%" class="item">Show summary on release page?:</td>
    <td width="65%"><%= form.check_box :summary %></td>
  </tr>

  <tr>
    <td width="35%" class="item">Workflow:</td>
    <% if @pipeline.workflow -%>
      <td width="65%"><%= select :workflow, :id, @workflows.map {|w| [w.name, w.id]}, :selected => @pipeline.workflow.id %></td>
    <% else -%>
      <td width="65%"><%= select :workflow, :id, @workflows.map {|w| [w.name, w.id]} %></td>
    <% end -%>
  </tr>


  <tr>
    <td width="35%" class="item">Next pipeline:</td>
      <td width="65%"><%= form.select :next_pipeline_id, @pipelines.map {|p| [p.name, p.id]}, { :include_blank => true }%></td>
  </tr>

  <tr>
    <td width="35%" class="item">Location:</td>
      <td width="65%"><%= form.collection_select :location_id, Location.all, :id, :name %></td>
  </tr>
  <tr>
    <td width="35%" class="item">Request type:</td>
    <td width="65%"><%= form.collection_select :request_type_id, RequestType.all, :id, :name %></td>
  </tr>


  <tr>
    <td width="35%" class="item">Request information type:</td>
      <td width="65%">
        <ol>
          <% @all_rits.each do |rit| %>
            <li>
              <label for="request_information_type_id"><%= rit.name %></label>:
              <% unless @rits.include?(rit) %>
                <%= check_box :request_information_type_id, rit.id %>
              <% else %>
                <%= check_box :request_information_type_id, rit.id, {:checked => true} %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </td>
  </tr>


  <tr>
    <td width="35%" class="item">&nbsp;</td>
    <td width="65%">
      <%= submit_tag :pipeline, :value => "Next" %> or
      <% if @pipeline.new_record? -%>
        <%= link_to "cancel", pipelines_url %>
      <% else -%>
        <%= link_to "cancel", pipeline_url(@pipeline) %>
      <% end -%>
    </td>
  </tr>
</table>
