<table width="100%" cellpadding="5" cellspacing="0" class="sortable">
  <thead>
    <tr>
      <th class="label" width="8%"><%= link_to "Batch", "javascript:void(0);" %></th>
      <th class="label" width="8%"><%= link_to "Items", "javascript:void(0);" %></th>
      <th class="label" width="10%"><%= link_to "Created by", "javascript:void(0);" %></th>
      <th class="label" width="10%"><%= link_to "Assigned to", "javascript:void(0);" %></th>
      <th class="label" width="12%"><%= link_to "Created at", "javascript:void(0);" %></th>
      <th class="label" width="17%"><%= link_to "Lab Status", "javascript:void(0);" %></th>
      <th class="label" width="17%"><%= link_to "QC Status", "javascript:void(0);" %></th>
      <th class="label" width="15%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% unless batches.empty? %>
      <% batches.each do |batch| %>
      <tr class="<%= cycle("rowodd", "roweven") %>">
        <td><%= batch.id %></td>
        <td><%= batch.request_count%></td>
        <td><%= batch.user.blank? ? "Unknown" : batch.user.login %></td>
        <td><%= batch.assigned_user %></td>
        <td><%= batch.created_at.to_date.to_formatted_s(:rfc822) %></td>
        <% if batch.failed? %>
          <td>
            <%= batch.state.capitalize %>
            <% unless batch.failures.empty? %>
              (<%= batch.failures.first.reason  %>) <!-- TODO: Make sure a reason is being saved when failing a batch -->
            <% end %>
          </td>
        <% else %>
          <td><%= batch.state.humanize %></td>
        <% end %>
          <td>
            <%= batch.qc_state.humanize %>
          </td>
          <td>
            <%= link_to "<strong>Auto QC</strong>", :controller => :workflows, :action => :auto_batch, :id => batch.qc_pipeline_workflow_id, :batch_id => batch.id %>
          </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="6">
          <% if batches.first.qc_state == "qc_pending" %>
            <%= link_to "View all batches in this state", :controller => :batches, :action => "quality_control", :id => batches.first.qc_pipeline.id, :qc_state => batches.first.qc_state, :state => batches.first.state %>
          <% else %>
            <%= link_to "View all batches in this state", :controller => :batches, :action => "quality_control", :id => batches.first.qc_pipeline.id, :qc_state => batches.first.qc_state %>
          <% end %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td colspan="6">
          No batches have this status
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
