<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2013,2014,2015,2016 Genome Research Ltd.%>

<% unless @information_types.find_by_key("read_length").nil? %>
  <%= label_tag 'filter', 'Filter by '+@information_types.find_by_key("read_length").name %>
  <input type="text" value="" id="filter-for-pipeline_inbox" rel="pipeline_inbox">
<% end %>
  <table class="sortable table table-striped table-dense-information" id="pipeline_inbox">
    <thead>
      <tr>
        <th class='{sorter: false}'>&nbsp;</th>
        <th id="priority_flag"  style='text-align: center'><%= link_to image_tag("icon_0_flag.png", size: "16x16"), "javascript:void(0);" %></th>
        <% if current_user.is_lab_manager? %>
          <th><%= link_to "Previous requests", "javascript:void(0);" %></th>
        <% end %>
        <th><%= link_to 'Product Line', 'javascript:void(0);' %></th>
        <th><%= link_to "Submission ID", "javascript:void(0);" %></th>
        <th><%= link_to "Request ID", "javascript:void(0);" %></th>
        <th><%= link_to "Name", "javascript:void(0);" %></th>
        <th><%= link_to "Request comments", "javascript:void(0);" %></th>
        <th><%= link_to "Asset", "javascript:void(0);" %></th>
        <th><%= link_to "Asset comments", "javascript:void(0);" %></th>
        <th><%= link_to "Num. Samples", "javascript:void(0);" %></th>
        <th><%= link_to "Conc", "javascript:void(0);" %></th>
        <th><%= link_to "Scanned in (Y-M-D)", "javascript:void(0);" %></th>
        <th><%= link_to "Submitted at (Y-M-D)", "javascript:void(0);" %></th>
        <th><%= link_to "Dual Index?", "javascript:void(0);" %></th>
        <% @information_types.each do |information_type| %>
          <th><%= link_to "#{information_type.label}", "javascript:void(0);" %></th>
        <% end %>
        <th><%= link_to "Study", "javascript:void(0);" %></th>
      </tr>
    </thead>
    <tbody>
      <%- requests.each do |request| -%>
        <% request_comments_count = @requests_comment_count.fetch(request.id,0) -%>
        <% asset_comments_count = @assets_comment_count.fetch(request.asset_id,0)-%>
        <tr>
          <td class="request center">
            <%= hidden_label_tag_for_testing("request_#{request.id}", "Select #{request.asset.sti_type} #{request.asset.barcode} for batch") %>
            <% if request.ready? %>
              <%= check_box :request, request.id, value: request.id, class: 'grouped_checkbox request_checkbox', :'data-count' => 1 %>
            <% else %>
              <%= image_tag "error.png", 'title' => I18n.t("requests.status.not_ready"), size: '16x16' %>
            <% end %>
          </td>
          <td  style='text-align: center'>
            <%= image_tag "icon_#{request.priority}_flag.png", 'alt' => request.priority, size: '16x16', class: "flag_image #{current_user.is_lab_manager? ? 'as_manager' : ''}", "data-priority" => request.priority, 'data-request-id' => request.id %>
          </td>
          <% if current_user.is_lab_manager? %>
            <td>
              <%= render partial: "previous_failed_requests", locals: { request: request } %>
            </td>
          <% end %>
          <td>
            <%= request.request_type.product_line.try(:name) %>
          </td>
          <td>
            <%= link_to request.submission_id, submission_path(request.submission) %>
          </td>
          <td>
            <%= link_to request.id, request_path(request) %>
          </td>
          <td><%= link_to request.asset.try(:name), asset_path(request.asset) %></td>

          <% unless request_comments_count.zero? -%>
            <%= render partial: "request_comments", locals: { request: request, comments_count: request_comments_count } %>
          <% else -%>
            <td>&nbsp;</td>
          <% end -%>
          <% if request.asset %>
            <td><%=  link_to "#{request.asset.sanger_human_barcode}", asset_path(request.asset) %></td>
            <% unless asset_comments_count.zero? -%>
              <%= render partial: "asset_comments", locals: { request: request, comments_count: asset_comments_count } %>
            <% else -%>
              <td>&nbsp;</td>
            <% end -%>
            <td><%= request.asset.samples.count %></td>
            <td><%= request.asset.concentration %></td>
            <td><%= request.asset.scanned_in_date %></td>
            <td><%= request.submitted_at %></td>
            <td><%= request.asset.tag_count_name %></td>
          <% else %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          <% end %>
          <% @information_types.each do |information_type| %>
            <td  title='<%="#{information_type.key}"%>'>
              <%= h(request.request_metadata[information_type.key]) %>
            </td>
          <% end %>
          <td width=100px><%= truncate(request.try(:submission).try(:study_names), separator: ' ') %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>


<%= javascript_include_tag 'pipeline.js' %>
