<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2014,2015,2016 Genome Research Ltd.%>

<td class='request' style='text-align: left' width='15%'><%= link_to (pluralize comments_count, 'comment'), request_comments_path(request.id) %>
  <%= link_to '+', request_comments_path(request.id), remote: true, class: 'show-comment', data: {
    :'comment-field' => "#comment_for_#{request.id}",
    update: "#comment_for_#{request.id}",
    throbber: "#loader_for_request_#{request.id}"
  } %>/
  <%= content_tag :a, '-', class: 'hide-comment', data: { :'comment-field' => "#comment_for_#{request.id}" } %>
  <%= loading_bar("loader_for_request_#{request.id}") %>
  <div id="<%= "comment_for_#{request.id}" %>" style="display:none;"></div>
</td>
