<% unless @information_types.find_by_key("read_length").nil? %>
  <%= label_tag 'filter', 'Filter by '+@information_types.find_by_key("read_length").name %>
  <input type="text" value="" id="filter-for-pipeline_inbox" rel="pipeline_inbox">
<% end %>
  <table width="100%" cellpadding="2" cellspacing="0" class="tablesorter" id="pipeline_inbox">
    <thead>
    <div class='label'>
      <tr>
        <th class='{sorter: false}'>&nbsp;</th>
        <% if current_user.is_lab_manager? %>
          <th id="priority_flag"  style='text-align: center'><%= link_to image_tag("icon_0_flag.png", :size=>"16x16"), "javascript:void(0);" %></th>
          <th><%= link_to "Previous requests", "javascript:void(0);" %></th>
        <% end %>
        <th><%= link_to 'Product Line', 'javascript:void(0);' %></th>
        <th><%= link_to "Submission ID", "javascript:void(0);" %></th>
        <th><%= link_to "Request ID", "javascript:void(0);" %></th>
        <th><%= link_to "Name", "javascript:void(0);" %></th>
        <th><%= link_to "Request comments", "javascript:void(0);" %></th>
        <th><%= link_to "Asset type", "javascript:void(0);" %></th>
        <th><%= link_to "Asset ID", "javascript:void(0);" %></th>
        <th><%= link_to "Asset comments", "javascript:void(0);" %></th>
        <th><%= link_to "Conc", "javascript:void(0);" %></th>
        <th><%= link_to "Scanned in (Y-M-D)", "javascript:void(0);" %></th>
        <% @information_types.each do |information_type| %>
          <% next if information_type.hide_in_inbox %>
          <th><%= link_to "#{information_type.label}", "javascript:void(0);" %></th>
        <% end %>
        <th><%= link_to "Study", "javascript:void(0);" %></th>
      </tr>
     </div>
    </thead>
    <tbody>
    <div class='request'>
      <%- requests.each do |request| -%>
        <% request_comments = request.comments -%>
        <% request_asset_comments = request.asset.comments -%>
        <tr>
          <td class="request center">
            <%= hidden_label_tag_for_testing("request_#{request.id}", "Select #{request.asset.sti_type} #{request.asset.barcode} for batch") %>
            <%= check_box :request, request.id, :value => request.id, :class => 'grouped_checkbox request_checkbox', :'data-count' => 1 %>
          </td>
          <% if current_user.is_lab_manager? %>
            <td  style='text-align: center'>
              <%= image_tag "icon_#{request.priority}_flag.png", 'alt' => request.priority, :size => '16x16', :class => 'flag_image', "data-priority" => request.priority, 'data-request-id' => request.id %>
            </td>
            <td>
              <%= render :partial => "previous_failed_requests", :locals => { :request => request } %>
            </td>
          <% end %>
          <td>
            <%= request.request_type.product_line.try(:name) %>
          </td>
          <td class="request">
            <%= link_to request.submission_id, submission_path(request.submission) %>
          </td>
          <td>
            <%= link_to request.id, request_path(request) %>
          </td>
          <td><%= link_to request.asset.try(:name), asset_path(request.asset) %></td>

          <% unless request_comments.empty? -%>
            <%= render :partial => "request_comments", :locals => { :request => request, :comments => request_comments } %>
          <% else -%>
            <td>&nbsp;</td>
          <% end -%>
          <% if request.asset %>
            <td><%=  request.asset.sti_type %></td>
            <td><%=  link_to "#{request.asset.barcode}", asset_path(request.asset) %></td>
            <% unless request_asset_comments.empty? -%>
              <%= render :partial => "asset_comments", :locals => { :request => request, :comments => request_asset_comments } %>
            <% else -%>
              <td>&nbsp;</td>
            <% end -%>
            <td><%=  request.asset.concentration %></td>
            <td><%= request.asset.scanned_in_date %></td>
          <% else %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          <% end %>
          <% @information_types.each do |information_type| %>
            <% next if information_type.hide_in_inbox %>
            <td  title='<%="#{information_type.key}"%>'>
              <%= h(request.request_metadata[information_type.key]) %>
            </td>
          <% end %>
          <td width=100px><%= truncate(request.try(:submission).try(:name), :separator => ' ') %></td>
        </tr>
      <%- end -%>
      </div>
    </tbody>
  </table>
<script type="text/javascript" id="js">
(function($) {
  $.tablesorter.addWidget({
    id: 'jFilter',
    format: function(element) {
      var __jFilter = this;

      $('#filter-for-'+$(element).attr('id')).bind('keyup',function(ev){
        __jFilter.jFilterRun(element,$('#filter-for-'+$(element).attr('id')).val());
      });
    },
    jFilterRun: function(table, s){
      $('tbody tr:hidden', table).show();
      $('tbody tr',$(table)).each(function(n,r){
        var content = false;
        $('td',$(r)).each(function(i,f){
          if (($(f).html() || $(f).text()).toLowerCase().indexOf(s.toLowerCase()) >= 0)
            if (f.title=='read_length')
              content = true;
        });
        if (content) $(r).show(); else $(r).hide();
      });
    }
  });

  $(document).ready(function() {
    $("#pipeline_inbox").tablesorter({
      sortList: [[1,1], [2,0]],
      widgets: ['zebra', 'jFilter'],

      textExtraction: function(node) {
        // If the node has an IMG element underneath it then its 'alt' attribute is used, otherwise it's the innerHTML of the node.
        var imgNode = $('img', node);
        return (imgNode.size() > 0 ? imgNode.attr('alt') : $(node).text());
      }
    });
  });
})(jQuery);
</script>

<%= javascript_include_tag 'pipeline.js' %>
