<h2>Input requests</h2>
<%= render :partial => "batch_statuses" %>
<%= render :partial => 'pipeline_limit' %>

<% if @grouped_requests.empty? -%>
  There are no outstanding requests for this pipeline.
<% else -%>
  <%= render :partial => 'pipeline_paginate' %>
  <% form_tag({:controller => :batches, :action => :create, :id => @pipeline.id}, :id => "requests_to_batch_form") do -%>
    <% if @pipeline.item_limit -%>
      <input type="hidden" id="batch_item_limit" value="<%= @pipeline.item_limit %>" />
    <% end -%>
    <%= render :partial => "grouped_requests", :locals => {:grouped_requests => @grouped_requests } %>
    <%= render :partial => 'inbox_submission_button' %>
  <% end -%>

 <%= render :partial => 'pipeline_paginate' %>
<% end -%>

<%= render :partial => 'show_held_requests' %>
