<% unless @information_types.find_by_key("read_length").nil? %>
  <%= label_tag 'filter', 'Filter by '+@information_types.find_by_key("read_length").name %>
  <input type="text" value="" id="filter-for-pipeline_inbox" rel="pipeline_inbox">
<% end %>
  <table width="100%" cellpadding="2" cellspacing="0" class="tablesorter" id="pipeline_inbox">
    <thead>
    <div class='label'>
      <tr>
        <th class='{sorter: false}'>Available requests</th>
        <% if current_user.is_lab_manager? %>
          <th id="priority_flag"  style='text-align: center'><%= link_to image_tag("icon_0_flag.png", :size=>"16x16"), "javascript:void(0);" %></th>
          <th style="display:none">&nbsp;</th>
          <th><%= link_to "Previous requests", "javascript:void(0);" %></th>
        <% end %>
        <th><%= link_to "Submission ID", "javascript:void(0);" %></th>
        <th><%= link_to "Request ID", "javascript:void(0);" %></th>
        <th><%= link_to "Name", "javascript:void(0);" %></th>
        <th><%= link_to "Request comments", "javascript:void(0);" %></th>
        <th><%= link_to "Asset type", "javascript:void(0);" %></th>
        <th><%= link_to "Asset ID", "javascript:void(0);" %></th>
        <th><%= link_to "Asset comments", "javascript:void(0);" %></th>
        <th><%= link_to "Concentration", "javascript:void(0);" %></th>
        <th><%= link_to "Scanned in (Y-M-D)", "javascript:void(0);" %></th>        
        <% @information_types.each do |information_type| %>
          <% next if information_type.hide_in_inbox %>
          <th><%= link_to "#{information_type.label}", "javascript:void(0);" %></th>
        <% end %>
        <th><%= link_to "Study", "javascript:void(0);" %></th>
      </tr>
     </div>
    </thead>
    <tbody>
    <div class='request'>
      <%- requests.each do |request| -%>
        <% request_comments = request.comments -%>
        <% request_asset_comments = request.asset.comments -%>
        <tr>
          <td class="request center" width='5%'>
            <label for="request_<%= request.id %>"><%=  "Select #{request.asset.sti_type} #{request.asset.barcode} for batch" %></label>
            <%= check_box :request, request.id, :value => request.id, :class => 'grouped_checkbox request_checkbox', :'data-count' => 1 %>
          </td>
          <% if current_user.is_lab_manager? %>
            <td  style="display:none" width='5%' id="flag_value_<%= request.id.to_s %>"><%= request.priority %></td>
            <td  style='text-align: center' width='5%'>
                <a href="javascript:void(0)" >
                <%= image_tag "icon_"+request.priority.to_s+"_flag.png", :size =>"16x16", :class =>"flag_image", :data_request_id => request.id.to_s, :data_priority_column => "flag_value_#{request.id.to_s}" %></a>
            </td>
            <td  width='10%'>
              <%= render :partial => "previous_failed_requests", :locals => { :request => request } %>
             </td>
             
          <% end %>
          <td class="request" width='5%'><%= link_to request.submission_id, submission_path(request.submission) %></td>
          <td  width='5%'><%= link_to request.id, request_path(request) %></td>
          <td  width='10%'><%= link_to request.asset.try(:name), asset_path(request.asset) %></td>
          
          <% unless request_comments.empty? -%>
            <%= render :partial => "request_comments", :locals => { :request => request, :comments => request_comments } %>
          <% else -%>
            <td>&nbsp;</td>
          <% end -%>
          <% if request.asset %>
            <td  width='10%'><%=  request.asset.sti_type %></td>
            <td  width='10%'><%=  link_to "#{request.asset.barcode}", asset_path(request.asset) %></td>
            <% unless request_asset_comments.empty? -%>
              <%= render :partial => "asset_comments", :locals => { :request => request, :comments => request_asset_comments } %>
            <% else -%>
              <td>&nbsp;</td>
            <% end -%>
            <td  width='10%'><%=  request.asset.concentration %></td>
            <td  width='10%'><%= request.asset.scanned_in_date %></td>
          <% else %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          <% end %>
          <% @information_types.each do |information_type| %>
            <% next if information_type.hide_in_inbox %>
            <td  title='<%="#{information_type.key}"%>' width='<%="#{information_type.width}%"%>'>
              <%= h(request.request_metadata[information_type.key]) %>
            </td>
          <% end %>
          <td  width='15%'><%= request.try(:submission).try(:name) %></td>
        </tr>
      <%- end -%>
      </div>
    </tbody>
  </table>
<script type="text/javascript" id="js">
(function($) {
        
$.tablesorter.addWidget({
    id: 'jFilter',
    format: function(element){
        var __jFilter = this;

        $('#filter-for-'+$(element).attr('id')).bind('keyup',function(ev){
            __jFilter.jFilterRun(element,$('#filter-for-'+$(element).attr('id')).val());
        });
    },
    jFilterRun: function(table, s){
        $('tbody tr:hidden', table).show();
        $('tbody tr',$(table)).each(function(n,r){
            var content = false;
            $('td',$(r)).each(function(i,f){
                if (($(f).html() || $(f).text()).toLowerCase().indexOf(s.toLowerCase()) >= 0)
                  if (f.title=='read_length')
                     content = true;
            });
            if (content) $(r).show(); else $(r).hide();
        });
        }
});   

  $(document).ready(function() {
    $("#pipeline_inbox").tablesorter({ 
        sortList: [[1,1], [2,0]],
        widgets: ['zebra','jFilter'] 
    });
    


   $("#priority_flag").click(function() {
        $("#pipeline_inbox").trigger("reSort");
        $("#pipeline_inbox").trigger("appendCache");
        return false; 
   });
   

   $(".flag_image").bind("click", function() { 
       img = $(this);
       flag_value = $("#"+img.attr("data_priority_column"));
       
       if (img.attr("src").indexOf("icon_0_flag.png")>0) { 
         image_on_success ="/images/icon_1_flag.png";
         flag_value_on_success = '1';
       } else { 
         image_on_success = "/images/icon_0_flag.png";
         flag_value_on_success = '0';
       }

       answer = true;
       if (img.attr("src").indexOf("icon_1_flag.png")>0)
         answer = confirm ("Are you sure you want to set this to normal priority ?");
       
       if (answer) {
         jQuery.ajax( 
               { 
                 url: '/pipelines/update_priority',
                 type: 'POST',
                 data: 'request_id='+img.attr("data_request_id")+'&pipeline_id='+<%= @pipeline.id%>,
                 success: function(){
                            img.attr("src", image_on_success);
                            flag_value.text(flag_value_on_success);
                          },
                 error  : function(){
                            alert("The request can't be saved properly. Flag not updated.");
                         }
                }
          );
      } 
   });
   

  }); 
})(jQuery);
</script>

