<% table_class ||= '' %>
<table class="table table-striped table-dense-information <%= table_class %>"
       data-page-length="100"
       id="pipeline_inbox">
  <thead>
    <%= render partial: 'requests_header' %>
  </thead>
  <tbody>
    <%= render partial: 'request', collection: requests -%>
  </tbody>
  <tfoot>
    <%= render partial: 'requests_footer' %>
  </tfoot>
</table>

<%= vite_javascript_tag 'pipeline.js' %>
