<div class='info'>
  <% if @pipeline.qc? && @pipeline.automated? -%>
    <div id="horizontal_tabs">
      <ul>
        <% ["Pending QC", "Submitted to QC", "QC in progress", "Completed"].each_with_index do |type, index| -%>
        <li><%= horizontal_tab "#{type}", "#{index}", "#{index}_definition", 0, index == 0 ? true : false %></li>
        <% end -%>
      </ul>
    </div>
    <div id="tab_content">
      <div id="0_definition" class="tab_content0" style="">
        <%= render :partial => "qc_batches", :locals => { :batches => @pipeline.qc_pending_auto_batches } %>
      </div>
      <div id="1_definition" class="tab_content0" style="display:none;">
        <%= render :partial => "qc_batches", :locals => { :batches => @pipeline.qc_submitted_to_qc_batches } %>
      </div>
      <div id="2_definition" class="tab_content0" style="display:none;">
        <%= render :partial => "qc_batches", :locals => { :batches => @pipeline.qc_in_progress_auto_batches } %>
      </div>
      <div id="3_definition" class="tab_content0" style="display:none;">
        <%= render :partial => "qc_batches", :locals => { :batches => @pipeline.qc_completed_auto_batches } %>
      </div>
    </div>
  <% else -%>
    <div id="horizontal_tabs">
      <ul>
        <% ["Pending QC", "QC in progress", "Completed"].each_with_index do |type, index| -%>
        <li><%= horizontal_tab "#{type}", "#{index}", "#{index}_definition", 0, index == 0 ? true : false %></li>
        <% end -%>
      </ul>
    </div>
    <div id="tab_content">
      <div id="0_definition" class="tab_content0" style="">
        <%= render :partial => "manual_qc_batches", :locals => { :batches => @pipeline.qc_pending_manual_batches } %>
      </div>
      <div id="1_definition" class="tab_content0" style="display:none;">
        <%= render :partial => "manual_qc_batches", :locals => { :batches => @pipeline.qc_in_progress_manual_batches } %>
      </div>
      <div id="2_definition" class="tab_content0" style="display:none;">
        <%= render :partial => "manual_qc_batches", :locals => { :batches => @pipeline.qc_completed_manual_batches } %>
      </div>
    </div>
  <% end -%>
</div>
