
<% add :about, "Finished batch" -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@batch.pipeline) -%>

<%= page_title("Finish", @pipeline.name) %>

<div class="content">
  <div class="info">
    Batch <%= @batch.id %> has completed the '<%= @pipeline.name %>' pipeline.
  </div>
  <div class="info">
    <div style="text-align: center;">
      <p>
      <%= form_tag release_batch_url(@batch), method: :get do -%>
        <%= submit_tag "Release this batch", class: 'release-batch' %>
      <% end -%>
      </p>
      <p>
      OR RESTART FROM STAGE
      </p>
      <p>
      <% @batch.workflow.tasks.each_with_index do |task, index| -%>
        <%= link_to task.name, controller: :workflows, action: :stage, id: index, batch_id: @batch.id, workflow_id: @batch.workflow.id %><br />
      <% end -%>
      </p>

    </div>
  </div>
  <% if @pipeline.summary %>
    <div id="sample">
      <h4>Batch Summary</h4>
      <%= render partial: 'event_requests', locals: { batch: @batch }%>
    </div>
  <% end %>
</div>
