<h2>Plate <%= plate.sanger_human_barcode %></h2>

<table class="plate">
	<thead>
		<% num_rows = Map.plate_length(plate.size) -%>
		<% num_columns = Map.plate_width(plate.size) -%>
		<th></th>
		<% num_columns.times do |column| -%>
			<th><%= column+1 %></th>
		<% end -%>
		<th class='border' width='2%'></th>
	</thead>
	<tbody>
	<% num_rows.times do |row| -%>
		<tr>
			<% rowchar = (65+row).chr %>
			<th class='border' width='2%'><%= rowchar %></th>
			<% (num_columns).times do |column| -%>
				<td>
				  <% well_name = "#{rowchar}#{column+1}" %>
				  <% well = plate.find_well_by_name(well_name) %>
	  				<%= render :partial => "gel_qc_well", :locals => {:well => well, :well_description => well_name} %>
					</td>
			<% end -%>
			<th class='border' width='2%'><%= rowchar %></th>
		</tr>
	<% end -%>
	<tr>
		<th></th>
		<% num_columns.times do |column| -%>
			<th><%= column+1 %></th>
		<% end -%>
		<th class='border' width='2%'class='border' width='2%'></th>
	</tr>
	</tbody>
</table>
