
<div class="page-header"><h1>Reception</h1></div>
  <div class="content">
    <div id='accept'>
      <table>
        <thead><th>Name</th><th>Barcode</th><th>Type</th></thead>
      <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.name, asset_path(asset)   %></td>
        <td><%= asset.human_barcode %></td>
        <td><%= asset.sti_type %></td>
      </tr>
      <% end %>
      </table>
      <br />
      <strong>I have placed the above barcoded labware in the appropriate reception fridge</strong>
      <br /><br />
      <%# This is a pretty grim abuse of the rails form generation. %>
      <%= form_tag confirm_reception_receptions_path do %>
        <% @assets.each_with_index do |asset,index| %>
          <%= hidden_field_tag "asset_id[#{index}]", asset.id %>
        <% end %>
        <%= submit_tag 'Confirm' %> or <%= link_to 'cancel', action: 'reception' %>
      <% end %>
    </div>
  </div>
</div>






