<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<h1>SNP Import</h1>
<div class="content">
<div id='accept'>
      <div id='asset_title'>
        <table>
          <thead><th>Plate ID</th><th>Warnings</th></thead>
        <% @snp_plates.each do |plate_barcode| %>
        <tr>
          <% if plate_barcode.is_a?(Plate)%>
          <td><%= plate_barcode.barcode %></td>
          <td>
              <%= link_to "Already exists in Sequencescape. Will be ignored.", asset_path(plate_barcode.id)%>
          </td>
          <% else %>
          <td><%= plate_barcode %></td>
          <td></td>
          <% end %>
        </tr>
        <% end %>
        </table>
      </div>
      <br />
      <strong>I have placed the above barcoded DNA plates in the reception fridge in the following lab:</strong>
      <br /><br />
      <%= form_for :asset,  url: { action: "import_from_snp" } do |f| %>
              <%= f.collection_select :location_id, Location.all, :id, :name %>
              <% @snp_plates.each_with_index do |plate_barcode,index| %>
                <% next if plate_barcode.is_a?(Plate) %>
                <%= hidden_field_tag "snp_plates[#{index}]", plate_barcode %>
              <% end %>
              <%= f.submit 'Confirm', disable_with: "Please wait..."
              %> or  <%= link_to 'cancel', action: 'import_from_snp' %>
      <% end %>
</div>
</div>
</div>

