<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2013,2015 Genome Research Ltd.%>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <%= tabulated_error_messages_for "request" %>
  </tr>
  <tr>
    <% if @request.pending? %>
      <tr>
        <td width="40%" class="item"><%= label_tag(:request_request_type_id, 'Request Type:')%> </td>
        <td width="60%"><%= form.collection_select(:request_type_id, @request_types, :id, :name) %></td>
        <td></td>
      </tr>
    <% end %>
    <td width="100%" colspan=2>
      <%= render partial: "shared/metadata/edit/request", locals: { request: @request } %>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <%= form.submit %> or <%= link_to "cancel", requests_path %>
    </td>
  </tr>
</table>
