<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<% add :title, "You can request work from this page." -%>

<h1>AMOUNT OF <%= @request.request_type.name.downcase %></h1>

<div class="info">
Enter the number of <%= ActiveSupport::Inflector.pluralize @request.request_type.name.downcase %> to request. Required fields are marked with <%= required_marker %>.
<%= render :partial => 'shared/long_read_warning' %>
</div>

<div id="study">
<%= form_for(:request, :url => requests_path) do |form| %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <%= tabulated_error_messages_for "request" %>
  </tr>
  <tr>
    <td width="35%" class="item"><%= @workflow.item_label %>:</td>
    <td width="35%"><strong><%= @item.name %></strong></td>
    <td width="30%" class="item">&nbsp;</td>
  </tr>
  <tr>
    <td width="35%" class="item">Number to create: <%= required_marker %></td>
    <td width="35%"><%= text_field :options, :count, :value => 1 %></td>
  </tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="35%" >&nbsp;</td>
    <td width="65%">
      <%= hidden_field :item, :id, :value => @item.id %>
      <%= hidden_field :request, :request_type_id, :value => @request.request_type.id %>

      <br />
      <%= submit_tag "Create" %> or <%= link_to "cancel", samples_path %>
    </td>
  </tr>
</table>
<% end %>
