
<% add :about, "This page displays details of requests" %>
<% add :menu, "View event history" => history_request_path(@request) -%>
<% add :menu, (pluralize Request.get_all_comments(@request), "comment") => request_comments_path(@request) -%>

<% if can?(:cancel, @request) && @request.try(:may_cancel_before_started?) %>
  <% add :menu, { "Cancel" => cancel_request_url(@request) }, { confirm: "Are you sure you want to cancel this request?" }  -%>
<% end %>
<% add :menu, "Edit" => edit_request_path(@request) if can? :update, @request -%>
<% if can?(:change_decision, @request) && @request.finished? %>
  <% add :menu, "Change decision" => filter_change_decision_request_path(@request) -%>
<% end %>

<%- add :back_menu, "Back to receptacle" => receptacle_path(@request.asset) if @request.asset %>

<%= page_title @request.request_type_name, @request.id, badges: [@request.state] %>

<p class="lead">
  <% if @request.submission %>
    Submitted in <%= link_to @request.submission.name, submission_path(@request.submission) %>
    for <%= @request.submission.try(:study_names) || 'unknown studies' %>.
  <% else %>
    Not associated with a submission.
  <% end %>
</p>

<%= panel do %>
  <%= render partial: 'shared/metadata/show/request', locals: { request: @request } %>
<% end %>

<%= panel do %>
<h3 class="card-title">Assets</h3>
<table class='table sortable'>
  <thead>
    <tr>
      <th>Asset ID</th>
      <th>Asset name</th>
      <th>Asset type</th>
      <th>Source/Target</th>
    </tr>
  </thead>
  <tbody>
    <% if @request.asset %>
      <tr>
        <td><%= link_to @request.asset.id, receptacle_path(@request.asset) %></td>
        <td><%= link_to(h(@request.asset.display_name), receptacle_path(@request.asset)) %></td>
        <td><%= @request.asset.label %></td>
        <td>Source</td>
      </tr>
    <% end %>
    <% if @request.target_asset %>
      <tr>
        <td><%= link_to @request.target_asset.id, receptacle_path(@request.target_asset) %></td>
        <td><%= link_to(h(@request.target_asset.display_name), receptacle_path(@request.target_asset)) %></td>
        <td><%= @request.target_asset.label %></td>
        <td>Target</td>
      </tr>
    <% end %>
  </tbody>
 </table>
<% end %>

<%= panel do %>
  <h3 class="card-title">Batch</h3>
  <% @request.with_batch_id do |batch_id| %>
    <%= link_to batch_id, batch_path(batch_id) %>
  <% end %>
<% end %>

<%= panel do %>
  <h3  class="card-title">QC information</h3>
  <% if @request.format_qc_information.present? %>
    <table cellpadding="4" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="60%">Message</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: 'qc_information' %>
    </tbody>
  </table>
  <% else %>
    <p>There is no qc information at the moment</p>
  <% end %>
<% end %>
