<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2013,2014,2015,2016 Genome Research Ltd.%>

<%- add :title, "This page displays details of requests" %>
<% add :menu, "View event history" => history_request_path(@request) -%>
<% add :menu, (pluralize @request.comments.size, "comment") => request_comments_path(@request) -%>

<% if current_user.manager_or_administrator? || current_user.owner?(@request) %>
  <% add :menu, { "Cancel" => cancel_request_url(@request) }, { confirm: "Are you sure you want to cancel this request?" }  -%>
  <% add :menu, "Edit" => edit_request_path(@request) -%>
<% end %>
<% if current_user.manager_or_administrator? && @request.finished? %>
  <% add :menu, "Change decision" => filter_change_decision_request_path(@request) -%>
<% end %>


<%- add :back_menu, "Back to asset" => asset_path(@request.asset) if @request.asset %>

<h1>
  <% if @request.submission %>
    <%= link_to @request.submission.name, submission_path(@request.submission) %> :
  <% end %>
  Request: <%= @request.id %>
  <% if @request.request_type %>
    (<%= @request.request_type.name %>)
  <% end %>
</h1>
<h2><% @request.submission.try(:study_names) %></h2>

<% if @request.request_type %>
<div class="info">
  This request for <strong><%= @request.request_type.name.downcase %></strong> is <%= request_status(@request) %>
</div>
<% end %>

<div class="info">
  <%= render partial: 'shared/metadata/show/request', locals: { request: @request } %>
</div>

<div class="info">
<h3>Assets</h3>
<table class='table sortable'>
  <thead>
    <tr>
      <th>Asset ID</th>
      <th>Asset name</th>
      <th>Asset type</th>
      <th>Source/Target</th>
    </tr>
  </thead>
  <tbody>
    <% if @request.asset %>
      <tr>
        <td><%= link_to @request.asset.id, asset_url(@request.asset) %></td>
        <td><%= link_to(h(@request.asset.display_name), asset_url(@request.asset)) %></td>
        <td><%= @request.asset.label %></td>
        <td>Source</td>
      </tr>
    <% end %>
    <% if @request.target_asset %>
      <tr>
        <td><%= link_to @request.target_asset.id, asset_url(@request.target_asset) %></td>
        <td><%= link_to(h(@request.target_asset.display_name), asset_url(@request.target_asset)) %></td>
        <td><%= @request.target_asset.label %></td>
        <td>Target</td>
      </tr>
    <% end %>
  </tbody>
 </table>
</div>

<div class="info">
<h3>Batch</h3>
  <% @request.with_batch_id do |batch_id| %>
    <%= link_to batch_id, batch_path(batch_id) %>
  <% end %>
</div>


<div class="info">
  <h3>QC information</h3>
  <% if @request.format_qc_information.size > 0  %>
    <table cellpadding="4" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="60%">Message</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: 'qc_information' %>
    </tbody>
  </table>
  <% else %>
    <%= display_empty_table("There is no qc information at the moment") %>
  <% end %>
</div>

