<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<%= form_for(@barcode_printer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <label for="barcode_printer_type_id" >Barcode printer type</label><br />
    <%= select_tag 'barcode_printer_type_id',options_from_collection_for_select(BarcodePrinterType.all, 'id', 'name') %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
