<h1>Barcode Printers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
  </tr>

<% for barcode_printer in @barcode_printers %>
  <tr>
    <td><%=h barcode_printer.name %></td>
    <td><%=h barcode_printer.active %></td>
    <td><%=h barcode_printer.barcode_printer_type.name %></td>
    <td><%= link_to 'Show', barcode_printer %></td>
    <td><%= link_to 'Edit', edit_barcode_printer_path(barcode_printer), :title => "Edit printer #{barcode_printer.name}" %></td>
    <td><%= link_to 'Destroy', barcode_printer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create Barcode Printer', new_barcode_printer_path %>
