

<%= form_for project,
             url: managed_update_admin_project_path(project),
             html: { id: "update_form", method: "put", multipart: true } do |form| %>
  <% if project %>
      <hr />
      <h2>Project : <%= link_to project.name, project_path(project) %></h2>
      <div class="subtitle">
        project <%= project.id %> &middot; Created on <%= project.created_at.to_formatted_s(:long) %> &middot; <%= project.state.capitalize %>
      </div>

      <h3>Project validation</h3>
      <table width='100%' cellspacing='0' cellpadding='0'>
        <tr>
         <td width='40%' class='item'><label for='project_enforce_quotas'>Enforce validation:</label></td>
         <td width='60%'>
           <%= form.check_box :enforce_quotas %>
         </td>
        </tr>
      </table>

      <h3>Project information</h3>
      <div>
        <%= render partial: "projects/managed_project", locals: { read_only: false, form: form, project: project} %>
      </div>
  <% end %>
<% end %>
