

<%- add :back_menu, "Back to batch" => batch_path(@batch) -%>

<div class="page-header"><h1>Batch <%= @batch.id %> : Comments</h1></div>
<div class='subtitle'>
  Batch <%= @batch.id %> &middot; Created on <%= @batch.created_at.to_formatted_s(:long) %> &middot; <%= @batch.state.capitalize %>
</div>

<div class='info'>
  <%= render partial: "list", locals: {batch: @batch } %>
  <div>
    <%= form_tag(batch_comments_path(@batch), data: { update: "#batch_annotations_#{@batch.id}", remote: true }, class:'remote-form') do %>
      <label for='comment'>Type your comment</label>
      <div class="input-group">
        <%= text_field_tag "comment", '',  class:'form-control' %><span class="input-group-btn"><%= submit_tag 'Add comment', class: 'btn btn-success' %></span>
      </div>
    <% end %>
  </div>
</div>
