
<% add :about, "Review a custom text" -%>
<% add :menu, "Edit" => edit_admin_custom_text_path(@custom_text) -%>
<% add :menu, "View all custom texts" => admin_custom_texts_url -%>

<%= page_title "Custom text", @custom_text.identifier %>

<div id="custom text">
  <table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="35%" class="item"><label for="custom_text_id">Custom text id:</label> </td>
    <td width="65%"><%= @custom_text.id %></td>
  </tr>
  <tr>
    <td width="35%" class="item"><label for="custom_text_identifier">Custom text identifier:</label> </td>
    <td width="65%"><%= @custom_text.identifier %></td>
  </tr>
  <tr>
    <td width="35%" class="item"><label for="custom_text_differential">Custom text differential:</label> </td>
    <td width="65%"><%= @custom_text.differential %></td>
  </tr>
  <tr>
    <td width="35%" class="item"><label for="custom_text_content_type">Custom text content type:</label> </td>
    <td width="65%"><%= @custom_text.content_type %></td>
  </tr>
  <tr>
    <td width="35%" class="item"><label for="custom_text_content">Custom text content:</label> </td>
    <td width="65%"><%= @custom_text.content %></td>
  </tr>

  </table>
</div>
