<div class="form-group">
  <h3>Billing report (BIF)</h3>
</div>

<%= form_for(@billing_report) do |f| %>

  <div class="form-group">
    <%= f.label :start_date, 'Start date' %><br>
    <%= f.text_field :start_date, value: @billing_report.start_date.try(:strftime, '%d/%m/%Y'), 'data-provide' => "datepicker", "data-date-format" => "dd/mm/yyyy", "data-date-end-date" => "+0d", "data-date-week-start" => 1, "data-date-today-btn" => "linked", "data-date-today-highlight" => true, "autocomplete" => "off", "required" => true %>
  </div>

  <div class="form-group">
    <%= f.label :end_date, 'End date' %><br>
    <%= f.text_field :end_date, value: @billing_report.end_date.try(:strftime, '%d/%m/%Y'), 'data-provide' => "datepicker", "data-date-format" => "dd/mm/yyyy", "data-date-end-date" => "+0d", "data-date-week-start" => 1, "data-date-today-btn" => "linked", "data-date-today-highlight" => true, "autocomplete" => "off", "required" => true%>
  </div>

  <div class="form-group">
    <%= f.label :file_name, 'File name' %><br>
    <%= f.text_field :file_name, value: @billing_report.file_name%>
  </div>

  <div class="form-group">
    <%= f.submit 'Generate BIF file', class: 'btn btn-success' %>
  </div>

<% end %>
