<fieldset>
  <legend>Verification</legend>
  <h3><%= link_to "Lab Activity", asset_audits_path %></h3>
    <p>Scan what your doing, and what instrument your using.</p>
  <h3><%= link_to "Bed verification", robot_verifications_path %></h3>
    <p>Verify cherrypicked plates which have been created in Sequencescape.</p>
</fieldset>

<fieldset>
  <legend>Barcode Printing</legend>
  <h3><%= link_to "Print plate barcodes", new_plate_path  %></h3>
    <p>Create plates and print barcodes.</p>
  <h3><%= link_to "Print Sequenom plate barcode", new_sequenom_qc_plate_path  %></h3>
  <p>Create a plate to send to Sequenom from dilution plates</p>
</fieldset>


<fieldset>
  <legend>Tracking</legend>
  <h3><%= link_to "Lab reception", receptions_path %></h3>
    <p>When plates/tubes come into the lab, scan them into the reception freezer.</p>
</fieldset>
