<% add :menu, 'Status of Tube Rack Imports' => tube_rack_statuses_path %>

<%= page_title "Sample Management", "Lab view" %>
<div class="card-columns">
  <%= panel :info, title: 'Verification' do %>
    <h3><%= link_to "Lab Activity", asset_audits_path %></h3>
      <p>Scan what your doing, and what instrument your using.</p>
    <h3><%= link_to "Bed verification", robot_verifications_path %></h3>
      <p>Verify cherrypicked plates which have been created in Sequencescape.</p>
    <h3><%= link_to "Plate Pick", plate_picks_path %></h3>
      <p>Help sort plates for cherrypicking</p>
  <% end %>

  <%= panel :info, title: 'Plate Creation and Barcode Printing' do %>
    <h3><%= link_to "Print plate barcodes", new_plate_path  %></h3>
      <p>Create plates and print barcodes.</p>
    <h3><%= link_to "Create quad-stamped plates and print barcodes", new_quad_stamp_path  %></h3>
      <p>Create quad-stamped 384-well plates from 96-well plates or from tube racks and print barcodes.</p>
    <h3><%= link_to "Create Stock Plates from Tubes", from_tubes_plates_path  %></h3>
      <p>Create DNA or RNA Stock Plates form a list of individual tubes.</p>
  <% end %>

  <%= panel :info, title: 'Tracking' do %>
    <h3><%= link_to "Labwhere reception", labwhere_receptions_path %></h3>
      <p>When plates/tubes come into the lab, scan them into the reception freezer.</p>
  <% end %>

  <%= panel :info, title: 'Other' do %>
    <h3><%= link_to "Stamping of stock", new_stock_stamper_path %></h3>
      <p>Transfers all stock from one plate to another plate with the same barcode.</p>
  <% end %>
</div>
