<%= page_title 'Labwhere Reception' %>

<% if @labwhere_reception.errors.empty? && @labwhere_reception.valid? %>
  <h4>Receipt</h4>
  <p>The following labware has been scanned in.</p>
  <ul class="list-group">
    <% @labwhere_reception.assets.each do |asset| %>
      <li class="list-group-item"><%= link_to asset.name, labware_path(asset) %>
        (<%= asset.human_barcode %>): <%= asset.purpose&.name %></li>
    <% end %>
    <% @labwhere_reception.missing_barcodes.each do |barcode| %>
      <li class="list-group-item list-group-item-danger">Could not find: <%= barcode %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: {labwhere_reception: @labwhere_reception} %>
