<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2015 Genome Research Ltd.%>
<table class="qc_reports sortable detailed table table-striped">
<thead>
  <tr>
    <th><%= link_to "Study", "javascript:void(0);" %></th>
    <th><%= link_to "Product", "javascript:void(0);" %></th>
    <th><%= link_to "State", "javascript:void(0);" %></th>
    <th><%= link_to "Created at", "javascript:void(0);" %></th>
    <th><%= link_to "View", "javascript:void(0);" %></th>
    <th><%= link_to "Download", "javascript:void(0);" %></th>
  </tr>
</thead>
<tbody>
<% qc_reports.each do |report| %>
  <tr>
    <td><%= report.study.name %></td>
    <td><%= report.product.name %></td>
    <td><%= report.state.humanize %></td>
    <td><%= report.created_at.to_formatted_s(:sortable) %></td>
    <td><%= link_to('Show',report) %></td>
    <td><%= link_to('Download',qc_report_path(report,format: :csv)) if report.available? %></td>
  </tr>
<% end %>
</tbody>
</table>
