<%= page_title "QC Reports" %>
<div class="columnize">
<%= panel(:info, title: "New report",class: "creation",id: "new_report") do %>
  <%= render partial: 'qc_report_form', locals: { qc_report: @qc_report, studies: @studies, products: @active_products, default_product: params[:product_id], plate_purposes: @plate_purposes } %>
<% end %>
<%= panel(:info, title: "Upload existing report",class: "report_upload", id: "report_upload") do %>
  <%= render partial: 'qc_report_upload' %>
<% end %>
</div>
<%= panel(:filters) do %>
  <%= render partial: 'filter_criteria', locals: { filter_params: params, studies: @studies, products: @all_products, states: @states } %>
<% end %>
<h2>Index</h2>
<%= pagination @qc_reports %>
<%= render partial: 'qc_reports', locals: { qc_reports: @qc_reports } %>
<%= pagination @qc_reports %>
