<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<%= panel(:info,title:'Properties') do %>
<%= render(partial: 'shared/metadata/edit/study', locals: { study: study, form: form }) %>

<% if logged_in? && current_user.privileged? %>
   <%= render partial: "shared/ethical_approval_upload", locals: { study: study, form: form } -%>
   <%= render partial: "shared/data_release_enforce",     locals: { study: study, form: form } -%>
<% end %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" >&nbsp;</td>
    <td width="60%">
      <br />
      <% unless study.id.nil? %>
        <%= submit_tag :study, value: "Update" %> or <%= link_to "cancel", study_path(study) %>
      <% else %>
        <%= submit_tag :study, value: "Create" %> or <%= link_to "cancel", studies_path %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
