
<div class="row">
  <div class="grouped_items col-sm-2">
    <% @alternatives.each_with_index do |description, index| -%>
      <div class="grouped_item" id="<%= index %>_link">
        <%= link_to description.humanize, study_list_studies_path(scope: index), remote: true, :'data-throbber' => '#update_loader', :'data-failure' => '#remote_error', :'data-update' => '#everything' %>
      </div>
    <% end -%>
  </div>

  <div class="group_contents col-sm-10">

    <%= loading_bar %>
    <%= remote_error %>
    <div class="group_content" id="everything">
      <%= render 'study_list', studies: @studies.with_related_owners_included %>
    </div>
  </div>
</div>
