<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% unless studies.empty? -%>
<table id="study_list" class="sortable table table-striped">
  <thead>
    <tr>
      <th><a>ID</a></th>
      <th><a>Study name</a></th>
      <th><a>Date created</a></th>
      <th><a>Study Owner</a></th>
    </tr>
  </thead>
  <tbody>
  <% studies.each do |study| -%>
    <tr>
      <td class="strong"><%= study.id %></td>
      <td class="strong"><%= link_to truncate(study.name, length: 40), study_path(study) %> <small><%= link_to 'Details', properties_study_path(study) %></small></td>
      <td class="strong faint"><span style="display:none"><%= study.created_at %></span><%= study.created_at.to_formatted_s(:sortable) %></td>
      <td class="strong"><%= display_owners(study) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<% else -%>
  <div id="study_list">No studies match your selection.</div>
<% end -%>
