<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011 Genome Research Ltd.%>
<div class="yui-gf">
<div class="yui-u first grouped_items"  style="width: 20%">
  <% @alternatives.each_with_index do |description, index| -%>
    <div class="grouped_item" id="<%= index %>_link">
      <%= link_to description.humanize, studies_path(:scope => index) %>
    </div>
  <% end -%>
</div>

<div class="yui-u group_contents">

  <%= loading_bar %>
  <%= remote_error %>
  <div class="group_content" id="everything">
    <script>
    Event.observe(window, 'load', function() {
      new Ajax.Updater('everything', '<%= study_list_studies_path(:scope => scope)%>', {asynchronous:true, evalScripts:true, method:'get', onComplete:function(request){try {
            TableSorterFacade.extend_table('study_list');
            Element.highlight('study_list');
          } catch (e) {
            (e.name == 'ElementDoesNotExistError') || console.warn(e);
          } finally {
            Element.hide('loading');
          };}, onFailure:function(request){Element.show('remote_error')}, onLoading:function(request){Element.show('loading')}})
    });
    </script>
  </div>
</div>
</div>
