
<% unless studies.empty? -%>
<table id="study_list" class="sortable table table-striped" data-paging="true">
  <thead>
    <tr>
      <th>ID</th>
      <th>Study name</th>
      <th>Date created</th>
      <th>Samples</th>
      <th>Study Owner</th>
    </tr>
  </thead>
  <tbody>
  <% studies.each do |study| -%>
    <tr>
      <td><%= study.id %></td>
      <td>
        <%= link_to study.name.truncate(40), study_path(study) %>
        <small><%= link_to 'Details', properties_study_path(study) %></small>
      </td>
      <td><span style="display:none"><%= study.created_at %></span><%= study.created_at.to_formatted_s(:sortable) %></td>
      <td><%= study.study_samples.size %></td>
      <td><%= display_owners(study) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<% else -%>
  <div id="study_list">No studies match your selection.</div>
<% end -%>
