
<% unless tabulated_error_messages_for("study").blank? -%>
  <table>
    <tr><%= tabulated_error_messages_for "study" %></tr>
  </table>
<% end -%>

<% if creation %>
  <%= form_collection(
    form.label(:name, 'Study name', class: 'required'),
    form.text_field(:name, class: 'form-control')
  ) %>
<% end %>

<%= form_collection(
  form.label(:study_owner_id, 'Study owner name' ),
  select_tag("study_owner_id",
    options_from_collection_for_select(User.owners, :id, :name, study.owner.try(:id)||params[:study_owner_id].to_i ),
    prompt: 'Select an owner...', class: 'custom-select select2'
  )
) %>

<h3>Properties</h3>
<%= render partial: 'shared/metadata/edit/study', locals: { study: study } %>

<div class="offset-md-2">
  <%= form.submit class: 'btn btn-success' %>
  <%= link_to "cancel", :back, class: 'btn btn-danger' %>
</div>
