<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% unless tabulated_error_messages_for("study").blank? -%>
  <table>
    <tr><%= tabulated_error_messages_for "study" %></tr>
  </table>
<% end -%>

<% if creation %>
  <%= form_collection(
    form.label(:name, 'Study name', class: 'required'),
    form.text_field(:name, class: 'form-control')
  ) %>
<% end %>

<%= form_collection(
  form.label(:study_owner_id, 'Study owner name' ),
  select_tag("study_owner_id",
    options_from_collection_for_select(User.owners, :id, :name, study.owner.try(:id)||params[:study_owner_id].to_i ),
    prompt: 'Select an owner...', class: 'form-control'
  )
) %>

<% unless creation %>
  <tr>
    <td width="40%" class="item"><%= form.label("Related studies:") %></td>
    <td><%=link_to "edit", related_studies_study_path(study)%></td>
    <td class="help_field">&nbsp;</td>
  </tr>
<% end %>

<%= fields_for(study) do |form| %>
  <%= form.fields_for(:study_metadata, builder: Metadata::FormBuilder) do |metadata_fields| %>
    <%= metadata_fields.select_by_association(:reference_genome) %>
  <% end %>
<% end %>

<h3>Properties</h3>
<%= render partial: 'shared/metadata/edit/study', locals: { study: study } %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" >&nbsp;</td>
    <td width="60%">
      <br />
      <% unless study.id.nil? %>
        <%= submit_tag :study, value: "Update" %> or <%= link_to "cancel", study_path(study) %>
      <% else %>
        <%= submit_tag :study, value: "Create" %> or <%= link_to "cancel", studies_path %>
      <% end %>
    </td>
  </tr>
</table>
