<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<h1>Create plate submission</h1>
<p>Create requests on plates so that they turn up in the genotyping pipeline inbox. It will take up to 5 minutes for them to appear in the inbox.</p>

<table width="100%" cellspacing="0" cellpadding="0">
  <% @study.errors.each do |object, message| %>
  <tr>
    <td class="error"><%= message %></td>
  </tr>
  <% end %>
</table>

<%= semantic_form_for(:studies, :url => create_plate_submission_study_path(@study)) do |form| %>
  <%= form.inputs :name => "" do %>
    <%= form.input :project,   :as => :select, :collection => current_user.sorted_project_names_and_ids  %>
    <%= form.input :barcodes,   :as => :text %>
    <%= form.action(:submit) %>
  <% end %>
<% end %>
