<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, I18n.t("studies.about") -%>
<% add :menu, "Study history" => study_events_path(@study) -%>
<% if current_user.is_administrator? || current_user.is_manager?(@study) %>
  <% add :menu, "Edit" => edit_study_path(@study) -%>
<% end %>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>

<div id="content-links">
  <%= link_to "View status", study_path(@study) %>
</div>

<h1>Study Specification</h1>

<table width='100%' cellspacing='0' cellpadding='0'>
  <tbody>
    <tr>
      <td class="item" width="40%">Name:</td>
      <td><strong><%=h @study.name %></strong></td>
    </tr>
    <tr>
      <td class="item">Created at:</td>
      <td><strong><%=h @study.created_at.to_formatted_s(:day_full_with_time) %></strong></td>
    </tr>
    <tr>
      <td class="item">Study reference genome:</td>
      <td><strong><%= h(@study.study_metadata.reference_genome.name) %></strong></td>
    </tr>
  </tbody>
</table>

<div id="template_form_body">
  <%= render partial: 'shared/metadata/show/study', locals: { study: @study } %>
</div>

<h1>Related Studies</h2>

<table width='100%' class='sortable'>
  <thead>
    <tr>
      <th width='30%'>Relationship type</th>
      <th width='70%'>Study</th>
    </tr>
  </thead>
  <tbody>
    <% @study.study_relations.each do |relation| %>
      <% rs = relation.related_study %>
      <tr>
        <td><%=relation.name %></td>
        <td><%= link_to "#{(rs.name or "").titleize} #{rs.id}", study_url(rs) %></td>
      </tr>
    <% end %>
    <% @study.reversed_study_relations.each do |relation| %>
      <% rs = relation.study %>
      <tr>
        <td><%=  relation.reversed_name %></td>
        <td><%= link_to "#{(rs.name or "").titleize} #{rs.id}", study_url(rs) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

