<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2011,2012,2015 Genome Research Ltd.%>

<% unless submissions.empty? %>
  <div class="quota">
    <table width='100%' cellpadding='3' cellspacing='0' class='sortable'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Created at</th>
          <th></th>
          <% if @current_user.is_administrator? %>
          <th></th>
          <th></th>
          <% end %>
        </tr>
      </thead>
      <% submissions.each do |submission| %>
        <tr>
          <td><%= link_to submission.id, submission_path(submission) %></td>
          <td><%= submission.created_at.to_formatted_s(:day_full_with_time) %></td>
          <td><%= link_to "View", submission_path(submission) %></td>
          <% if @current_user.is_administrator? %>
            <td><%= link_to("Edit", edit_submission_path(submission)) unless submission.ready? || submission.pending? %></td>
            <td><%= link_to("<span style='color:red;'>Delete</span>", submission_path(submission), method: :delete, confirm: "Are you sure?") if current_user.administrator? && submission.building? %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
  </div>
<% else %>
  <p>You currently have no submissions in this state.</p>
<% end %>
