<script type="text/javascript">
  (function(window, $, undefined){
   "use strict";

   // Check for the SCAPE object.  This is the only place in the global
   // namespace we should be storing things.
   if (window.SCAPE == undefined) window.SCAPE = {};

   SCAPE.user_project_names =  <%= stringify_array(@presenter.user_valid_projects) %>;
   })(window, jQuery);
</script>

<%= javascript_include_tag 'submissions' %>

<ul id="orders">

  <li id="order-template" class="pane active">
  <span class="completed badge" >&#10004;</span>
  <span class="invalid badge"   >&#10006;</span>
  <% form_for :submission, @presenter do |f| -%>
  <h2>Order Template</h2>
    <%= f.collection_select :template_id,
      @presenter.templates, :id, :name,
      :prompt => "Please select a template..."
    %>


    <div id="order-parameters" >
      <%= render :partial => 'order_fields' if @presenter.submission.present? %>
    </div>
  </li>

    <%# Render completed Orders %>
    <% @presenter.orders.each_with_index do |order, index| -%>
      <% f.fields_for :orders, order do |orders_fields| -%>
        <% orders_fields.fields_for index.to_s, order  do |order_form| -%>
          <li class="pane order completed">
          <%= render :partial => 'saved_order', :locals => { :presenter => @presenter, :form => order_form, :order => order } %>
          </li>
        <% end -%>
      <% end -%>
    <% end -%>

  <% end -%>

  <li id="order-controls" class="buttons">
    <%= submit_tag "&#10010; Add Order",
      :id       => "add-order",
      :class    => "button",
      :disabled => true
    %>
  </li>

  <%# Render a single blank Order %>
  <li id="blank-order" class="pane order">
    <% form_for :blank_order, @presenter do |f| -%>
        <%= render :partial => 'order', :locals => { :form => f, :presenter => @presenter } %>
    <% end -%>
  </li>


  <li class="buttons">
  <% form_for :submission, @presenter, :url => @presenter.url(self) , :html => { :id => 'build-form', :method => :put }   do |f| -%>

    <%= submit_tag "&#10034; Build Submission",
      :id       => "start-submission",
      :class    => "final button",
      :disabled => true
    %>
 <% end -%>
  </li>
</ul>

