<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2012,2013,2015 Genome Research Ltd.%>

<% if @presenter.order.present? -%>
  <h4><%= @presenter.order.template_name %> template</h4>

  <% if @presenter.order_fields.present? -%>

    <% @presenter.order_fields.sort_by(&:display_name).each do |order_param| -%>
      <div class="col-md-6 form-group">
        <div><%= order_input_label(order_param) %></div>
        <div><%= order_input_tag(@presenter.order, order_param) %></div>
      </div>
    <% end -%>

  <% end -%>

  <script type="text/javascript">
  (function(window,$,undefined) {
    SCAPE.submission.is_a_sequencing_order  = <%= @presenter.order.is_a_sequencing_order? %>;
    SCAPE.submission.pre_capture_plex_level = <%= @presenter.pre_capture_plex_level || 'null' %>;
    SCAPE.submission.pre_capture_plex_group = null;
    SCAPE.submission.show_gigabses_expected = <%= @presenter.order.collect_gigabases_expected? %>;

    SCAPE.submission.cross_compatible = <%= @presenter.cross_compatible? %>;

    <% unless @presenter.order.new_record? -%>
      $(function(){
        $('#order-template').
          removeClass('active').
          addClass('completed').
          find('input, select, textarea').not('.delete-order').
          attr('disabled',true);
      });
    <% end -%>
  })(window,jQuery);
  </script>
<% end -%>

