<span class="invalid badge">✘</span>
<span class="completed badge">✔</span>

<h2>New Order</h2>

<span class="project-details" style="dislay:none;"></span>

<ul class="sub-panel">
  <li>
    <h3>Study</h3>
    <%= form.label :study_id, "Study:" %>
    <%= studies_select(form, @presenter.studies) %>
  </li>

  <li class="assets asset_group_selector">
    <h3>Add Samples from Study asset group</h3>
    <div class="study-assets">First select a study for this order...</div>
    <p><a class="asset-input-toggle" href="#" data-selector=".sample_name_selector">Switch to Sample selector...</a></p>
    <p><a class="asset-input-toggle" href="#" data-selector=".plate_wells_selector">Switch to plate wells selector...</a></p>
  </li>

  <li class="assets sample_name_selector" style="display:none;">
    <h3>Add Samples from Plate</h3>
    <table>
      <th>
        <%= form.label :plate_purpose_id, 'Type of Plate:' %>
      </th>
      <td>
        <%= form.collection_select :plate_purpose_id,
          PlatePurpose.considered_stock_plate.all, :id, :name,
          { :selected => PlatePurpose.stock_plate_purpose.id },
          :class => 'submission_plate_purpose_id'
        %>
      </td>
      <th>
        <%= form.label :sample_names_text, 'Names of samples:' %>
      </th>
      <td>
        <%= form.text_area :sample_names_text,
          :cols  => 40,
          :rows  => 4,
          :class => "submission_sample_names_text"
        %>
      </td>
  </table>
    <a class="asset-input-toggle" href="#" data-selector=".asset_group_selector">Switch to Study asset selector...</a><br/>
    <a class="asset-input-toggle" href="#" data-selector=".plate_wells_selector">Switch to plate wells selector...</a>
  </li>
  
  <li class="assets plate_wells_selector" style="display:none;">
    <h3>Add Samples from Plate and Wells</h3>
    <table>
      <th></th>
      <td>
        <p><em>Examples:</em>DN123456P:A1,A2,A3 (Wells A1,A2,A3)<br/>DN123456P:1,2,3 (Columns 1,2,3)<br/>DN123456P:A,B (Rows A,B)<br/>DN123456P (Entire Plate)<br/></p>
      </td>
      <th>
        <%= form.label :barcodes_wells_text, 'Plates and wells:' %>
      </th>
      <td>
        <%= form.text_area :barcodes_wells_text,
          :cols  => 40,
          :rows  => 4,
          :class => "submission_barcodes_wells_text"
        %>
      </td>
  </table>
    <a class="asset-input-toggle" href="#" data-selector=".asset_group_selector">Switch to Study asset selector...</a><br/>
    <a class="asset-input-toggle" href="#" data-selector=".sample_name_selector">Switch to Sample selector...</a>
  </li>

  <li class="project">
    <h3>Project</h3>
    <%= form.label :project_name, "Project Name:" %>
    <%= form.text_field :project_name,
      :class       => 'submission_project_name',
      :size        => 130,
      :placeholder => "enter the first few characters of the financial project name",
      :disabled    => true
    %>
  </li>

  <li>
    <h3>Comments</h3>
    <%= form.text_area :comments,
      :rows        => 5,
      :placeholder => "Optionally, please add comments for this order here...",
      :class       => 'submission_comments comments',
      :disabled    => true
    %>
  </li>
</ul>


<div class="lanes-of-sequencing">
  <%= form.label :lanes_of_sequencing, 'Lanes of sequencing required' %>
  <%= form.text_field :lanes_of_sequencing, :class => 'lanes_of_sequencing', :value => 1 %>
</div>

<div class="save-buttons">
  <% if order.present? -%>
    <%= hidden_field_tag :order_id,
      order.id,
      :class => 'order-id' %>

    <%= submit_tag "♻  Delete Order",
      :class    => "delete-order button"
    %>

  <% else -%>
    <%= submit_tag "Cancel",
      :class    => "cancel-order button",
      :disabled => true
    %>

    <%= submit_tag "&#10004; Save Order",
      :class    => "save-order final button",
      :disabled => true
    %>
  <% end -%>
</div>

