
<% if @presenter.order.present? -%>
  <h4><%= @presenter.order.template_name %> template</h4>

  <% if @presenter.order_fields.present? -%>

    <div class="row">
    <% @presenter.order_fields.sort_by(&:display_name).each do |order_param| -%>
      <div class="col form-group">
        <%= order_input_label(order_param) %>
        <%= order_input_tag(@presenter.order, order_param) %>
      </div>
    <% end -%>
  </div>
  <% end -%>

  <%= legacy_javascript_tag do %>

  (function(window,$,undefined) {
   window.SCAPE.submission.is_a_sequencing_order  = <%= @presenter.order.sequencing_order? %>;
   window.SCAPE.submission.pre_capture_plex_level = <%= @presenter.pre_capture_plex_level || 'null' %>;
   window.SCAPE.submission.pre_capture_plex_group = null;
   window.SCAPE.submission.show_gigabses_expected = <%= @presenter.order.collect_gigabases_expected? %>;

   window.SCAPE.submission.cross_compatible = <%= @presenter.cross_compatible? %>;

    <% unless @presenter.order.new_record? -%>
      $(function(){
        $('#order-template').
          removeClass('active').
          addClass('completed').
          find('input, select, textarea').not('.delete-order').
          attr('disabled',true);
      });
    <% end -%>
  })(window,jQuery);

<% end %>
<% end -%>
