

<%= vite_javascript_tag('submissions') %>


  <%= form_for(:submission) do |f| -%>

    <%= panel(:info,title: 'Order Template',id: 'order-template',class: 'pane') do %>
      <div class="row">
        <div class="col form-group">
        <%= f.label(:template_id, 'Template') %>
        <%= f.grouped_collection_select :template_id,
          @presenter.product_lines, :last, :first, :id, :name,
          {prompt: "Please select a template..."},
          {class: 'form-control select2'}
        %>
        </div>
        <div class="col form-group">
        <%= f.label(:priority, 'Priority') %>
        <%= f.select(:priority,
            options_for_select(Submission::Priorities.options),
            {},
            {class: 'custom-select'}
          )%>
        </div>
      </div>
      <div id="order-parameters">
        <%= render partial: 'order_fields' if @presenter.submission.present? %>
      </div>

    <% end %>
  <% end %>

  <%= fields_for(:submission) do |f| %>
  <ul id="orders">

    <%# Render completed Orders %>
    <% @presenter.orders.each_with_index do |order, index| -%>
      <%= f.fields_for :orders, order do |orders_fields| -%>
        <% orders_fields.fields_for index.to_s, order  do |order_form| -%>
          <li class="pane order completed">
          <%= render partial: 'saved_order', locals: { presenter: @presenter, form: order_form, order: order } %>
          </li>
        <% end -%>
      <% end -%>
    <% end -%>

  <% end -%>

  <li id="order-controls" class="buttons">
    <%= submit_tag raw("&#10010; Add Order"),
      id: "add-order",
      disabled: @presenter.orders.empty?
    %>
  </li>

  <%# Render a single blank Order %>
  <li id="blank-order" class="pane order">
    <%= form_for :blank_order do |f| -%>
        <%= render partial: 'order', locals: { form: f, presenter: @presenter, order: nil } %>
    <% end -%>
  </li>


  <li class="buttons">
  <%= form_for :submission, url: @presenter.url(self) , html: { id: 'build-form', method: :put }   do |f| -%>

    <%= submit_tag raw("&#10034; Build Submission"),
      id: "start-submission",
      class: "btn btn-success",
      disabled: true
    %>
 <% end -%>
  </li>
</ul>
