<h2><%= @presenter.template.name %> template</h2>
<%= custom_text("submission_info") %>

<table>
<% @presenter.order_parameters.each_with_index do |order_param, index| -%>
  <%= "<tr>" if index.even? %>
    <th><%= order_input_label(order_param) %></th>
    <td><%= order_input_tag(order_param) %></td>
  <%= "</tr>" if index.odd? || index + 1 == @presenter.order_parameters.size %>
<% end -%>
</table>

