<%- form ||= nil %>
  <span class="completed badge">✔</span>
  <h2>
    Order added to submission at: <%=h order.created_at.to_formatted_s(:day_full_with_time) %>
  </h2>


  <h4>
    Study:
    <%= link_to(order.study.name, order.study, :target => "_blank") %>
  </h4>

  <h4>
    Project:
    <%= link_to(order.project.name, order.project, :target => "_blank") %>
  </h4>

  <% if order.asset_group.present? -%>
    <h4>
      Asset Group:
      <%= link_to(h(order.asset_group.name), study_asset_group_path(order.study, order.asset_group), :target => "_blank") %>
    </h4>
  <% elsif order.assets.present? -%>
    <h4>Samples:</h4>
    <div class="sub-panel">
      <p><%= order_sample_names(order) %></p>
    </div>
  <% else -%>
    <h4>There are no assets in this order, it maybe damaged!</h4>
  <% end -%>

  <% unless order.request_types.blank? %>
    <h4>Request types:</h4>
    <ul id="request_types_for_submission">
      <% RequestType.find(order.request_types).each do |request_type| %>
        <li><%= request_description(presenter, request_type) %></li>
      <% end %>
    </ul>
  <% end %>

  <h4>Comments:</h4>
  <div class="sub-panel">
    <%= "<p><i>#{order.comments}</i></p>" unless order.comments.nil? %>
  </div>

  <% if form.present? -%>
    <div class="save-buttons">
      <%= hidden_field_tag :order_id,
        order.id,
        :class => 'order-id'
      %>

      <%= submit_tag '♻  Delete Order',
        :class => 'delete-order button'
      %>
    </div>
  <% end -%>

<script type="text/javascript">
  SCAPE.submission.id = <%= presenter.submission.id %>;
</script>
