<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2012,2013,2014,2015,2016 Genome Research Ltd.%>

<%= panel('success',title:"Order added to submission at: #{order.created_at.to_formatted_s(:day_full_with_time)}") do %>
  <%- form ||= nil %>
  <span class="completed badge">✔</span>

  <h4>
    Study:
    <% presenter.order_studies do |name,study| %>
      <%= link_to(name, study, target: "_blank") %>
    <% end %>
  </h4>

  <h4>
    Project:
    <% presenter.order_projects do |name,project| %>
      <%= link_to(name, project, target: "_blank") %>
    <% end %>
  </h4>

  <% if order.asset_group.present? -%>
    <h4>
      Asset Group:
      <%= link_to(h(order.asset_group.name), study_asset_group_path(order.study, order.asset_group), target: "_blank") %>
    </h4>
  <% elsif order.assets.present? -%>
    <h4>Samples:</h4>
    <div class="sub-panel">
      <p><%= order_sample_names(order) %></p>
    </div>
  <% else -%>
    <h4>There are no assets in this order, it maybe damaged or very out of date</h4>
  <% end -%>

  <% unless order.request_types.blank? %>
    <h4>Request types:</h4>
    <ul id="request_types_for_submission">
      <% RequestType.order(:order).find(order.request_types).each do |request_type| %>
        <li><%= request_description(presenter, request_type) %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless order.request_options['pre_capture_plex_level'].nil? %>
    <h4>
      Pre-capture plexing level:
      <%= order.request_options['pre_capture_plex_level'] %>
    </h4>
        <h4>
      Pre-capture plex group:
      <%= order.pre_cap_group %>
    </h4>
  <% end %>

  <% unless order.request_options['gigabases_expected'].nil? %>
    <h4>
      Gigabases expected:
      <%= order.request_options['gigabases_expected'] %>
    </h4>
  <% end %>

  <h4>Comments:</h4>
  <div class="sub-panel">
    <%= "<ul>#{order.comments}</ul>" unless order.comments.nil? %>
  <div id="order-controls" class="buttons">
  </div>

  </div>

    <%= form_tag(order_path(order.id), method: :put, class: "comments-box") do -%>
      <%= text_area_tag :comments, nil, placeholder: "Write a new comment here", class: "form-control", id: 'comments-input' %>
      <%= submit_tag raw("&#10010; Add new comment"),
      id: "add-comment",
      class: "btn btn-default add-comment" %>
    <% end %>


  <% if form.present? -%>
    <div class="save-buttons">
      <%= hidden_field_tag :order_id,
        order.id,
        class: 'order-id'
      %>

      <%= submit_tag '♻  Delete Order',
        class: 'delete-order btn btn-danger'
      %>

    </div>
  <% end -%>

<script type="text/javascript">
  SCAPE.submission.id = <%= presenter.submission.id %>;
</script>
<% end %>
