<% presenter.each_submission_warning  do |samples,submissions| %>
  <%= alert(:danger) do %>
    <strong>Warning! Similar submissions detected</strong>
    <p>Submission <%= presenter.id %> contains samples which have recently had similar submissions made on them. Please double check that this submission was not made in error.</p>
    <p>Affected samples:</p>
    <ul class='list-inline'><% samples.each do |sample| %>
      <li class='sample list-inline-item'><%= link_to sample.sanger_sample_id, sample %></li>
    <% end %></ul>
    <p>Potential duplicate submissions:</p>
    <ul class='list-inline'><% submissions.each do |submission| %>
      <li class='submission list-inline-item'><%= link_to submission.name, submission %></li>
    <% end %></ul>
  <% end %>
<% end %>

<% if presenter.unready_samples_names.present? %>
  <%= alert(:danger) do %>
    <strong>Warning! Some samples might not be suitable for this submission </strong>
    <p> Samples <%=presenter.unready_samples_names %> might not have all required metadata</p>
  <% end %>
<% end %>
