
<% add :about, "Submission Inbox" -%>
<% if can? :create, Submission %>
  <% add :menu, "Start a new Submission" => new_submission_path -%>
  <% add :menu, "Start a Bulk Submission" => new_bulk_submission_path -%>
<% end %>
<%= page_title("Submissions", current_user.name) %>

<%= panel do %>
  <h2 class="card-title">Editable <%= pluralize(@building.count, 'Submission' )%></h2>
  <p class="lead">Submissions which are still being edited and have not yet been submitted.</p>
  <%= render partial: "list", locals: { submissions: @building } %>
<% end %>

<%= panel do %>
  <h2 class="card-title">Pending <%= pluralize(@pending .count, 'Submission' )%></h2>
  <p class="lead">Submissions which have been queued for processing, and are no longer editable.</p>
  <%= render partial: "list", locals: { submissions: @pending } %>
<% end %>


<%= panel do %>
  <h2 class="card-title">Last 10 Completed Submissions</h2>
  <p class="lead">The most recent submissions which have finished processing and are ready for work.</p>
  <%= render partial: "list", locals: { submissions: @ready } %>
<% end %>
