<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2011,2012,2015 Genome Research Ltd.%>

<% add :title, "Submission Inbox" -%>
<% add :manager_option, "Start a new Submission" => new_submission_path -%>
<% add :manager_option, "Start a Bulk Submission" => {controller: "/bulk_submissions", action: "new"} -%>
<h1>Submissions Inbox for <%= current_user.name %></h1>

<div class="sub-panel">
  <h2><%= pluralize(@building.count, 'Submission' )%> Currently Open for Building</h2>
  <%= render partial: "list",
    locals: { submissions: @building }
  %>
</div>

<div class="sub-panel">
  <h2><%= pluralize(@pending .count, 'Submission' )%> Closed Pending Processing</h2>
  <%= render partial: "list",
    locals: { submissions: @pending }
  %>
</div>


<div class="sub-panel">
  <h2>Last 10 Completed Submissions</h2>
  <%= render partial: "list",
    locals: { submissions: @ready }
  %>
</div>

