<% add :title, "Start new Submission" -%>


<h1>New Submission</h1>
  <ul id="submission-breadcrumbs" class="progress-list">
    <li class="active-stage">Select a project</li>
    <li>Choose a template and set order parameters</li>
    <li>Comments</li>
    <li>Choose Study and Assets</li>
  </ul>

<% semantic_form_for :submission, @submission_presenter, :url => submissions_path do |f| -%>

  <ul class="wizard">
    <li>
      <% f.inputs do -%>
      <%= f.input :project_name,
        :input_html => {
          :placeholder => "enter the first few characters of the financial project name"
      }
       %>
       <div class="auto_complete" id="project_name_results"></div>

      <% end -%>
    </li>

    <li>
      <% f.inputs do -%>
      <%= f.input :submission_template_id,
        :as         => :select,
        :collection => @submission_presenter.templates,
        :prompt     => "Please select a template..."
       %>


      <div id="submission-requirements" style="display:none">
        <div id="requirements-document"></div>
      <div id="submission-parameters"></div>
        <b>Next tab button</b>
      </div>

      <% end -%>
    </li>

    <li>

      <%= f.input :comments,
        :as => :text,
        :input_html => {
          :cols => 70,
          :rows => 5
        }
      %>

    </li>

    <li>
    <% f.inputs do -%>
       <%= f.input :study_name,
        :input_html => {
          :placeholder => "enter the first few characters of the study name"
        }
        %>
      <div class="auto_complete" id="study_name_results"></div>
    <% end -%>
    </li>
  </ul>


  <%= f.submit "Start Submission" %>

<% end -%>




<script language="JavaScript" type="text/javascript">
  // Autocompleter is part of Scriptaculous should be replaced.
  new Autocompleter.Local(
      'submission_project_name',
      'project_name_results',
      <%= stringify_array(@submission_presenter.user_projects) %>
  );

  new Autocompleter.Local(
    'submission_study_name',
    'study_name_results',
    <%= stringify_array(@submission_presenter.studies) %>
  );


(function($, undefined){
  var requirementsHandler = function(event){
    var submission_details = {
      submission: {
        submission_template_id: $(this).val()
      }
    };

    // Get the requirements for the template...
    $.get(
      '/submissions/requirements',
      submission_details,
      function(data) {
        $('#requirements-document').html(data);
        $('#submission-requirements').fadeIn();
      }
    );

    // Load the parameters for the new order
    $.get(
      '/submissions/order_parameters',
      submission_details,
      function(data) {
        $('#submission-parameters').html(data).fadeIn();
      }
    );
  }

  $(function(){
   $('#submission_submission_template_id').change(requirementsHandler);
  });

})(jQuery);
</script>

