<% add :title, "Start new Submission" -%>


<h1>New Submission</h1>
  <ul id="submission-breadcrumbs" class="progress-list">
    <li class="active-stage"><span id="complete-badge" class="badge">✔</span><p>Select a Study and create an initial order for your Submission</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Choose a template for orders on this Submission</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Select a Financial Project</p></li>
  </ul>

<% form_for :submission, @presenter, :url => submissions_path do |f| -%>

  <ul id="submission-wizard">
    <li class="wizard-pane" style="display:block;">
      <%= f.label :study_id, "Study for Submission:" %>
      <%= studies_select(@presenter.studies) %>
      <div id="study-assets" style="display:none;"></div>
    </li>

    <li class="wizard-pane">
      <%= f.collection_select :template_id,
        @presenter.templates, :id, :name,
        :prompt     => "Please select a template..."
      %>

         <div id="submission-parameters" style="display:none;"></div>
      <%= text_area_tag(
        'submission[comments]',
        "",
        :cols        => 70,
        :rows        => 5,
        :placeholder => "Optionally, please add comments for this order here..."
      ) %>
    </li>

    <li class="wizard-pane">
      <%= f.text_field :project_name,
          :placeholder => "enter the first few characters of the financial project name"
       %>

       <div id="project-details" style="dislay:none;"></div>

    </li>
    <%= f.submit "Previous", :class => "wizard-button", :id => "wizard-previous", :disabled => true %>
    <%= f.submit "Next", :class => "wizard-button", :id => "wizard-next", :disabled => true %>
    <%= f.submit "Start Submission", :id => "start-submission", :class => "wizard-button", :disabled => true %>
  </ul>
<% end -%>

<script type="text/javascript">
(function($, undefined){
  // Check for the SCAPE object.  This is the only place in the global
  // namespace we should be storing things.
 if (window.SCAPE == undefined) { window.SCAPE = {}; }

 SCAPE.user_project_names =  <%= stringify_array(@presenter.user_projects) %>;
})(jQuery);
</script>

<%= javascript_include_tag 'submissions' %>

