<% add :title, "Start new Submission" -%>


<h1>New Submission</h1>
<div>
  <ul id="submission-breadcrumbs" class="breadcrumb-list">
    <li>Select a project</li>
    <li>Select a study</li>
    <li>Choose a template</li>
    <li>Agree to requirements</li>
    <li>Set Submission parameters</li>
  </ul>
</div>

<% semantic_form_for :submission, @submission_presenter, :url => submissions_path do |f| -%>

  <% f.inputs do %>
    <%= f.input :project_name,
      :input_html => {
        :placeholder => "enter the first few characters of the financial project name"
    }
     %>
     <div class="auto_complete" id="project_name_results"></div>

     <%= f.input :study_name,
      :input_html => {
        :placeholder => "enter the first few characters of the study name"
      }
      %>
    <div class="auto_complete" id="study_name_results"></div>

    <%= f.input :submission_template_id,
                :as         => :select,
                :collection => @submission_presenter.templates,
                :prompt => "Please select a template..."
    %>
  <% end -%>

  <%= f.submit "Start Submission" %>

<% end -%>




<script language="JavaScript" type="text/javascript">
  // Autocompleter is part of Scriptaculous
  new Autocompleter.Local(
      'submission_project_name',
      'project_name_results',
      <%= stringify_array(@submission_presenter.user_projects) %>
  );

  new Autocompleter.Local(
    'submission_study_name',
    'study_name_results',
    <%= stringify_array(@submission_presenter.studies) %>
  )
</script>

