<% add :title, "Start new Submission" -%>


<h1>New Submission</h1>
  <ul id="submission-breadcrumbs" class="progress-list">
    <li class="active-stage"><span id="complete-badge" class="badge">✔</span><p>Select a project</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Choose a template and set order parameters</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Comments</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Choose Study and Assets</p></li>
  </ul>

<% form_for :submission, @submission_presenter, :url => submissions_path do |f| -%>

  <ul id="submission-wizard">
    <li class="wizard-pane" style="display:block;">
      <%= f.text_field :project_name,
          :placeholder => "enter the first few characters of the financial project name"
       %>

    </li>

    <li class="wizard-pane">
        <%= f.collection_select :template_id,
          @submission_presenter.templates, :id, :name,
          :prompt     => "Please select a template..."
         %>

         <div id="submission-parameters" style="display:none;"></div>
    </li>

    <li class="wizard-pane">
      <%= f.text_area :comments,
          :cols => 70,
          :rows => 5
      %>

    </li>

    <li class="wizard-pane">
       <%= f.text_area :study_name,
          :placeholder => "enter the first few characters of the study name"
        %>
    </li>
    <%= f.submit "Previous", :class => "wizard-button", :id => "wizard-previous", :disabled => true %>
    <%= f.submit "Next", :class => "wizard-button", :id => "wizard-next" %>
    <%= f.submit "Start Submission", :id => "start-submission", :class => "wizard-button", :disabled => true %>
  </ul>
<% end -%>

<script type="text/javascript">
(function($, undefined){
  // Check for the SCAPE object.  This is the only place in the global
  // namespace we should be storing things.
 if (window.SCAPE == undefined) { window.SCAPE = {}; }

 SCAPE.user_projects = <%= stringify_array(@submission_presenter.user_projects) %>;
 SCAPE.user_studies = <%= stringify_array(@submission_presenter.studies) %>;
})(jQuery);

  // Autocompleter is part of Scriptaculous should be replaced.
//    new Autocompleter.Local(
//      'submission_project_name',
//      'project_name_results',
//    );
//
//    new Autocompleter.Local(
//      'submission_study_name',
//      'study_name_results',
//    );


</script>
<%= javascript_include_tag 'submissions' %>


