<% add :title, "Start new Submission" -%>


<h1>New Submission</h1>
  <ul id="submission-breadcrumbs" class="progress-list">
    <li class="active-stage"><span id="complete-badge" class="badge">✔</span><p>Select a project</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Choose a template and set order parameters</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Comments</p></li>
    <li><span id="complete-badge" class="badge">✔</span><p>Choose Study and Assets</p></li>
  </ul>

<% semantic_form_for :submission, @submission_presenter, :url => submissions_path do |f| -%>

  <ul id="submission-wizard">
    <li class="wizard-pane" style="display:block;">
      <% f.inputs do -%>
      <%= f.input :project_name,
        :input_html => {
          :placeholder => "enter the first few characters of the financial project name"
      }
       %>
       <div class="auto_complete" id="project_name_results"></div>

      <% end -%>
    </li>

    <li class="wizard-pane">
      <% f.inputs do -%>
      <%= f.input :submission_template_id,
        :as         => :select,
        :collection => @submission_presenter.templates,
        :prompt     => "Please select a template..."
       %>


      <div id="submission-parameters" style="display:none"></div>

      <% end -%>
    </li>

    <li class="wizard-pane">
    <% f.inputs do -%>
      <%= f.input :comments,
        :as => :text,
        :input_html => {
          :cols => 70,
          :rows => 5
        }
      %>
    <% end -%>

    </li>

    <li class="wizard-pane">
    <% f.inputs do -%>
       <%= f.input :study_name,
        :input_html => {
          :placeholder => "enter the first few characters of the study name"
        }
        %>
      <div class="auto_complete" id="study_name_results"></div>
    <% end -%>
    </li>
    <%= f.submit "Previous", :class => "wizard-button", :id => "wizard-previous", :disabled => true %>
    <%= f.submit "Next", :class => "wizard-button", :id => "wizard-next" %>
    <%= f.submit "Start Submission", :id => "start-submission", :class => "wizard-button", :disabled => true %>
  </ul>
<% end -%>




<script language="JavaScript" type="text/javascript">
  // Autocompleter is part of Scriptaculous should be replaced.
  new Autocompleter.Local(
    'submission_project_name',
    'project_name_results',
    <%= stringify_array(@submission_presenter.user_projects) %>
  );

  new Autocompleter.Local(
    'submission_study_name',
    'study_name_results',
    <%= stringify_array(@submission_presenter.studies) %>
  );


(function($, undefined){
  var orderParameterHandler = function(event){
    var submission_details = {
      submission: {
        submission_template_id: $(this).val()
      }
    };

    // Load the parameters for the new order
    $.get(
      '/submissions/order_parameters',
      submission_details,
      function(data) {
        $('#submission-parameters').html(data).fadeIn();
      }
    );
  }

  var checkButtons = function(pane) {
    // Check for then Next button
    if ($(pane).next('li').length == 0) {
      $('#wizard-next').attr('disabled', 'disabled');
      $('#start-submission').removeAttr('disabled');
    } else {
      $('#wizard-next').removeAttr('disabled');
      $('#start-submission').attr('disabled', 'disabled');
    }

    // Check for the Previous button
    if ($(pane).prev('li').length == 0) {
      $('#wizard-previous').attr('disabled', 'disabled');
    } else {
      $('#wizard-previous').removeAttr('disabled');
    }
  }

  var nextPaneHandler = function(event){
    $(this).attr('disabled','disabled');

    $('#submission-breadcrumbs li.active-stage').
      removeClass('active-stage').
      addClass('completed-stage').
      next().
      addClass('active-stage');

    $('.wizard-pane:visible').fadeOut(300, function(){
        $(this).next().fadeIn(300, function(){
          checkButtons(this);
        });
    });

    return false;
  }

  var previousPaneHandler = function(event){
    $(this).attr('disabled','disabled');

    $('#submission-breadcrumbs li.active-stage').
      removeClass('active-stage').
      prev().
      removeClass('completed-stage').
      addClass('active-stage');


    $('.wizard-pane:visible').fadeOut(300, function(){
        $(this).prev().fadeIn(300, function(){
          checkButtons(this);
        });
    });

    return false;
  }

  $(function(){
    $('#submission_submission_template_id').change(orderParameterHandler);
    $('#wizard-next').click(nextPaneHandler);
    $('#wizard-previous').click(previousPaneHandler);
  });

})(jQuery);
</script>

