<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2011,2012,2013,2015,2016 Genome Research Ltd.%>

<%- add :title, "Viewing Submission" -%>
<% @presenter.submission.orders.uniq(&:asset_group).each do |order|
  add :menu, "Print labels for #{order.asset_group.name}" => print_study_asset_group_path(order.study,order.asset_group) unless order.asset_group.nil?
end %>
<%- add :manager_option, "Submissions Inbox" => submissions_path -%>


<%= page_title("Submission", "#{@presenter.submission.id} - #{@presenter.template_name}") %>
<div class='subtitle'>
 Submission created at: <strong><%=h @presenter.submission.created_at.to_formatted_s(:day_full_with_time) %></strong>
</div>
<%= submission_status_message(@presenter.submission) %>

<%= render partial: 'warnings', locals: { presenter: @presenter } %>

<div class='priority_changer alert alert-info'>
  <h3>Priority</h3>
  <%= image_tag("icon_#{@presenter.submission.priority}_flag.png", size: "64x64", class: 'sub_flag') if @presenter.submission.priority > 0 %>
  <% if current_user.is_lab_manager? %>
  <%= form_for( @presenter, as: :submission, url: {id: @presenter.submission.id, action: :change_priority }) do |f| %>

      <p>The priority of a submission applies to all requests in the submission. If it is changed, request priority will be updated automatically.</p>
      <%= label(:priority,'Select new priority') %>
      <%= f.select(
        :priority,
        options_for_select(
          Submission::Priorities.options,
          @presenter.priority
        )
      )%><br/>
      <%= f.submit 'Change priority' %>

  <% end %>
  <% end %>
</div>


<% if @presenter.submission.pending? -%>
  <div class='help'>
    <h2>Important notice</h2>
    This submission describes the work you have requested. If you want to cancel it or alter it, <%= help_email_link %>.<br />
    If the information is correct then you can leave this page now or follow the progress for the relevant order on its study status page.
  </div>
<% end -%>

<ul id="orders">
<% @presenter.submission.orders.each do |order| %>
  <li class="pane order active completed">
  <%= render partial: 'saved_order', locals: { presenter: @presenter, order: order } %>
  </li>
<% end %>
</ul>

<% if @presenter.submission.cancellable? %>
<%= form_for(@presenter,
     url: { id: @presenter.submission.id, action: :cancel }, as: :submission) do |f| %>
  <%= submit_tag "✖ Cancel Submission",
  style: '
  ',
  id: "cancel-submission",
  confirm: 'Are you sure?',
  class: "button btn btn-danger" %>
<% end %>
<% end %>


<%= javascript_include_tag 'submissions' %>

