<%- add :title, "Viewing Submission" -%>
<%- add :manager_option, "<strong>Submissions Inbox</strong>" => submissions_path -%>


<h1>Submission: <%= @presenter.submission.id %></h1>
<div class='subtitle'>
 Submission created at: <strong><%=h @presenter.submission.created_at.to_formatted_s(:day_full_with_time) %></strong>
</div>
<%= submission_status_message(@presenter.submission) %>


<% if @presenter.submission.pending? -%>
  <div class='help'>
    <h2>Important notice</h2>
    This submission describes the work you have requested. If you want to cancel it or alter it, <%= help_email_link %>.<br />
    If the information is correct then you can leave this page now or follow the progress for the relevant order on its study status page.
  </div>
<% end -%>

<ul id="orders">
<% @presenter.submission.orders.each do |order| %>
  <li class="pane order active completed">
  <%= render :partial => 'saved_order', :locals => { :order => order } %>
  </li>
<% end %>
</ul>

<%= javascript_include_tag 'submissions' %>

