<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<%= form_for(@project) do |f| %>
  <%= f.error_messages %>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="40%" class="item"><%= f.label(:name, nil, :class => 'required') %></td>
      <td width="40%"><%= f.text_field :name %></td>
      <td width="20%">
      </td>
    </tr>
  </table>

  <%= render(:partial => 'shared/metadata/edit/project', :locals => { :project => @project }) %>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="40%" class="item">
      </td>
      <td width="40%">
        <% unless @project.new_record? %>
          <%= submit_tag :project, :value => "Update" %> or <%= link_to "cancel", project_path(@project) %>
        <% else %>
          <%= submit_tag :project, :value => "Create" %> or <%= link_to "cancel", projects_path %>
        <% end %>
      </td>
      <td width="20%">
      </td>
    </tr>
  </table>
<% end %>
