
<%# NOTE[xxx]: Kind of a hack because we're not actually building a form %>
<div class="project_information">
<%= fields_for(project) do |form| %>
  <%= form.fields_for(:project_metadata, builder: Metadata::ViewBuilder) do |metadata_fields| %>
    <fieldset class="col-md-12">
      <legend>Common attributes</legend>
      <%= metadata_fields.plain_value(:project_cost_code) %>
      <%= metadata_fields.association_attribute(:budget_division, :name)%>
      <%= metadata_fields.plain_value(:sequencing_budget_cost_centre) %>
      <%= metadata_fields.plain_value(:project_funding_model) %>
    </fieldset>
    <fieldset class="col-md-12">
      <legend>Sequencing projects</legend>
      <%= metadata_fields.plain_value(:funding_comments) %>
      <%= metadata_fields.plain_value(:collaborators) %>
      <%= metadata_fields.association_attribute(:project_manager, :name)%>
      <%= metadata_fields.plain_value(:external_funding_source) %>
    </fieldset>
    <fieldset class="col-md-12">
      <legend>Genotyping projects</legend>
      <%= metadata_fields.plain_value(:gt_committee_tracking_id) %>
    </fieldset>
  <% end %>
<% end %>
</div>
