<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<%# NOTE[xxx]: Kind of a hack because we're not actually building a form %>
<div class="project_information">
<%= fields_for(project) do |form| %>
  <%= form.fields_for(:project_metadata, :builder => Metadata::ViewBuilder) do |metadata_fields| %>
    <% metadata_fields.filter { |field| current_user.workflow.visible_attribute?(field) } %>
    <% metadata_fields.with_options(:grouping => 'Specification') do |group| %>
      <%= group.plain_value(:project_cost_code) %>
      <%= group.plain_value(:funding_comments) %>
      <%= group.plain_value(:collaborators) %>
    <% end %>
    <% metadata_fields.with_options(:grouping => 'Billing') do |group| %>
      <%= group.association_attribute(:project_manager, :name) %>
      <%= group.plain_value(:external_funding_source) %>
      <%= group.association_attribute(:budget_division, :name) %>
      <%= group.plain_value(:sequencing_budget_cost_centre) %>
    <% end %>
    <%= metadata_fields.plain_value(:project_funding_model) %>
    <%= metadata_fields.plain_value(:gt_committee_tracking_id) %>
  <% end %>
<% end %>
</div>
