<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="<%= aker_work_orders_path %>">Aker Work Orders</a></li>
  </ol>
</nav>
<% if @work_orders %>
  <section class='work-orders'>
    <%= pagination @work_orders %>
    <ul class="list-group">
    <% @work_orders.each do |work_order| %>
    <li class="work-order list-group-item">
      <%= link_to "Work order #{work_order.aker_id}" , aker_work_order_url(work_order) %> 
      <span class="pull-right"><%=  work_order.created_at %></span>
    </li>
    <% end %>
  </ul>
  <%= pagination @work_orders %>
  </section>
<% end %>
