<h1>Work Orders</h1>
<section class='work-order'>
  <ul>
    <li>
      Product name: <%= @aker_work_order['product_name'] %>
    </li>
    <li>
      Product version: <%= @aker_work_order['product_version'] %>
    </li>
    <li>
      Product UUID: <%= @aker_work_order['product_uuid'] %>
    </li>
    <li>
      Proposal ID: <%= @aker_work_order['proposal_id'] %>
    </li>
    <li>
      Proposal Name: <%= @aker_work_order['proposal_name'] %>
    </li>
    <li>
      Cost code: <%= @aker_work_order['cost_code'] %>
    </li>
    <li>
      Comment: <%= @aker_work_order['comment'] %>
    </li>
    <li>
      Desired date: <%= @aker_work_order['desired_date'] %>
    </li>
    <li>
      Status: <%= @aker_work_order['status'] %>
    </li>
    <li>
      <%= link_to "Complete", complete_aker_work_order_path(@aker_work_order['work_order_id']) %>
    </li>
    <li>
      <%= link_to "Cancel", cancel_aker_work_order_path(@aker_work_order['work_order_id']) %>
    </li>
    <li>
      <ul>
        <% @work_order.samples.each do |sample| %>
          <li class='sample'>
            Sample: <%= sample.name %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</section>