<%= tag.div(class: 'd-flex justify-content-end px-3') do %>
  <% unless configatron.accession_samples %>
    <%= tag.span('Accessioning is currently disabled.', class: 'text-muted') %>
  <% else %>
    <%= link_to('<i class="fa fa-upload"></i> Accession all samples'.html_safe,
        accession_all_samples_study_path(@study),
        class: "btn btn-sm btn-outline-primary")
    %>
  <% end %>
<% end %>
<%= tag.div(class: 'row align-items-center px-3') do %>
  <%= tag.div(page_summary(@page_elements), class:'col-md-4') %>
  <%= tag.div(pagination(@page_elements), class: 'col-md-4 d-flex justify-content-center mb--3') %>
  <%= tag.div(class: 'col-md-4 d-flex justify-content-end') do %>
    <%= @study.samples.select { |sample| !sample.accession_number? }.count %> samples not accessioned
  <% end %>
<% end %>
<table id="summary" class="table sortable table-striped">
  <thead>
    <tr>
      <th>Sample</th>
      <th>Result</th>
      <th>Status</th>
      <th>Updated</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @page_elements.each do |sample| %>
      <% accession_status = sample.current_accession_status %>
      <tr>
        <td><%= link_to(sample.name, sample) %></td>
        <td>
            <% if sample.accession_number? %>
              <% catalogue_url = configatron.accession.view_url + sample.ebi_accession_number %>
              <%= link_to sample.ebi_accession_number, url_for(catalogue_url), target: :blank %>
            <% else %>
              <%= accession_status&.message %>
            <% end %>
        </td>
        <td><%= accession_status&.status&.capitalize %></td>
        <td><%= accession_status&.updated_at&.in_time_zone&.strftime('%Y-%m-%d %H:%M:%S %Z') %></td>
        <td>
          <% if can?(:accession, sample) && configatron.accession_samples %>
            <%# Add link to perform sample accessioning %>
            <% if sample.current_accession_status %>
              <%# If status exists, offer retry %>
              <%= link_to(
                '<i class="fa fa-rotate-right"></i> Retry'.html_safe,
                url_for(controller: '/samples', action: 'accession', id: sample.id),
                class: "btn btn-sm btn-primary"
              ) %>
            <% elsif !sample.accession_number? %>
              <%# If it has not been accessioned before, offer submit %>
              <%= link_to(
                '<i class="fa fa-upload"></i> Submit'.html_safe,
                url_for(controller: '/samples', action: 'accession', id: sample.id),
                class: "btn btn-sm btn-outline-primary"
              ) %>
            <% end %>
          <% end %>
        </td>
    <% end %>
  </tbody>
</table>
<%= tag.div(class: 'row px-3') do %>
  <%= tag.div(page_summary(@page_elements), class:'col-md-4') %>
  <%= tag.div(pagination(@page_elements), class: 'col-md-4 d-flex justify-content-center') %>
<% end %>
