<div class="float-right">
  <% unless configatron.accession_samples %>
    <span class="text-muted">Accessioning is currently disabled.</span>
  <% else %>
    <%= link_to('<i class="fa fa-upload"></i> Accession all samples'.html_safe,
        accession_all_samples_study_path(@study),
        class: "btn btn-sm btn-outline-primary")
    %>
  <% end %>
</div>

<%= pagination @page_elements %>
<table id="summary" class="table sortable table-striped">
  <thead>
    <tr>
      <th>Sample</th>
      <th>Result</th>
      <th>Status</th>
      <th>Updated</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @study.sample_progress(@page_elements) do |statistics| %>
      <% @page_elements.each do |sample| %>
        <% accession_status = sample.current_accession_status %>
        <tr>
          <td><%= link_to(sample.name, sample) %></td>
          <td><%= sample.ebi_accession_number || accession_status&.message %></td>
          <td><%= accession_status&.status&.capitalize %></td>
          <td><%= accession_status&.updated_at&.in_time_zone&.strftime('%Y-%m-%d %H:%M:%S %Z') %></td>
          <td>
            <% if can?(:accession, sample) && configatron.accession_samples %>
              <%# Add link to perform sample accessioning %>
              <% if sample.current_accession_status %>
                <%# If status exists, offer retry %>
                <%= link_to(
                  '<i class="fa fa-rotate-right"></i> Retry'.html_safe,
                  url_for(controller: '/samples', action: 'accession', id: sample.id),
                  class: "btn btn-sm btn-primary"
                ) %>
              <% elsif !sample.accession_number? %>
                <%# If it has not been accessioned before, offer submit %>
                <%= link_to(
                  '<i class="fa fa-upload"></i> Submit'.html_safe,
                  url_for(controller: '/samples', action: 'accession', id: sample.id),
                  class: "btn btn-sm btn-outline-primary"
                ) %>
              <% end %>
            <% end %>
          </td>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= pagination @page_elements %>
