<div class="assets tabbed-panel mb-3">
  <header class='card-header'>
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <%= tab 'Overview', active: true %>
      <%= tab 'Details' %>
      <%= tab 'Study Accessioning' %>
    </ul>
  </header>
  <div class="tab-content" id="myTabContent">
    <%= tab_pane('Overview', active: true) do %>
      <div class="card-body">
        <% @study.request_progress do |results| %>
          <%= render partial: 'shared/progress_statistics_summary', locals: { statistics: results } %>
        <% end %>
      </div>
    <% end %>
    <%= tab_pane('Details') do %>
      <table class="table">
        <thead>
          <tr>
          <th>Request type</th>
          <th>Requested</th>
          <th>Pending</th>
          <th>Started</th>
          <th>Passed</th>
          <th>Failed</th>
          <th class="table-secondary">Cancelled</th>
          </tr>
        </thead>
        <% @study.request_progress do |results| %>
          <% results.sort_by {|rt,stats| [rt.order,rt.id] }.each do |request_type, statistics| %>
            <tr>
              <td><%= request_type.name %></td>
              <td><%= request_link(@study, statistics.total, request_type) %></td>
              <td><%= request_link(@study, statistics.pending, request_type, 'pending') %></td>
              <td><%= request_link(@study, statistics.started, request_type, 'started') %></td>
              <td><%= request_link(@study, statistics.passed, request_type, 'passed') %></td>
              <td><%= request_link(@study, statistics.failed, request_type, 'failed') %></td>
              <td class="table-secondary"><%= request_link(@study, statistics.cancelled, request_type, 'cancelled') %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
    <%= tab_pane('Study Accessioning') do %>
      <div class="card-body">
        <%= render partial: 'study_accession_status' %>
      </div>
    <% end %>
  </div>
</div>
