<%# Top content %>
<% content_for :top_content do %>
  <p class="font-italic">
    Lists all <%= @request_type.name %> requests per asset. Identifies the asset, and the number of requests directly from it.
  </p>
<% end %>

<%# Table contents %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pending</th>
      <th>Started</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Cancelled</th>
    </tr>
  </thead>
  <tbody>
  <% @page_elements.each do |asset| %>
    <tr class="<%= label_asset_state(asset) %>">
      <td><%= link_to(h(asset.display_name), receptacle_path(asset), title: asset.label.capitalize) %></td>
      <td><%= request_count_link(@study, asset, 'pending', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'started', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'passed', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'failed', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'cancelled', @request_type) %></td>
    </tr>
  <% end %>
  </tbody>
<%# End table contents %>
