<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>
<%= pagination @assets_to_detail %>
<table id="summary" width="100%" class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pending</th>
      <th>Started</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Cancelled</th>
    </tr>
  </thead>
  <tbody>
  <% @assets_to_detail.each do |asset| %>
    <tr class="<%= label_asset_state(asset) %>">
      <td><%= link_to(h(asset.display_name), asset_path(asset), title: asset.label.capitalize) %></td>
      <td><%= request_count_link(@study, asset, 'pending', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'started', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'passed', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'failed', @request_type) %></td>
      <td><%= request_count_link(@study, asset, 'cancelled', @request_type) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= pagination @assets_to_detail %>
