<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015,2016 Genome Research Ltd.%>

<% add :menu, "View plate details" => asset_path(@plate) -%>
<% add :menu, "Scan another plate" => sequenom_root_path -%>


<h1>Plate <%= @plate.sanger_human_barcode %></h1>

<h2>Plate history</h2>
<div id="events">
<table width="100%" class="sortable" id="summary">
  <tr>
    <th>Date</th>
    <th>Process</th>
    <th>User</th>
  </tr>
<% @plate.events.each do |event| -%>
  <tr>
    <td><%= h(event.created_at.strftime('%d-%b-%Y %H:%M')) -%></td>
    <td><%= h(event.message) -%></td>
    <td><%= h(event.created_by) -%></td>
  </tr>
<% end -%>
</table>
</div>

<%= form_for(@plate, url: sequenom_update_path(@plate), html: { id: 'sequenom_update' }) do |form| %>
  <fieldset class="inputs">
    <p>
      <label for="sequenom_step">Process:</label>
      <%= dropdown_for_steps(:sequenom_step) %>
    </p>
    <p>
      <label for="user_barcode">Scan User ID barcode:</label>
      <%= text_field_tag(:user_barcode) %>
    </p>
  </fieldset>
  <fieldset class="buttons">
    <%= submit_tag('Add process') %>
  </fieldset>
<% end %>
