<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2016 Genome Research Ltd.%>
<%= page_title "Home" %>
<% add :about, "This page lets you quickly get to where you want to. It provides links to your most recent work." -%>

<% unless current_user.swipecard_code? %>
  <%= alert(:warning) do %>
    You don't currently have a swipe-card configured. This is required to use some of the pipeline applications.
    <%= link_to 'Click here to set one up now!', edit_profile_path(current_user), class: "alert-link" %>
  <% end %>
<% end %>

<!-- Internal Links -->
<% add :menu, 'Create Submission'      => new_submission_path %>
<% add :menu, 'Create Bulk Submission' => bulk_submissions_path %>
<% add :menu, 'Create Study'           => new_study_path %>
<% add :menu, 'Create Project'         => new_project_path %>
<% add :menu, 'Plate Summaries'         => plate_summaries_path %>
<!-- External links -->
<% @links.each do |name,link| %>
  <% add :menu, name => link %>
<% end %>

<% if @latest_batches.present? || @assigned_batches.present? %>
  <div class="col-md-6">
  <%= render partial: 'batches', locals: { latest_batches: @latest_batches, assigned_batches: @assigned_batches, style: 'success' } %>
  </div>
<% end %>

<% if @submissions.present? %>
  <div class="col-md-6">
  <%= render partial: 'submissions', locals: { submissions: @submissions, style: 'success' } %>
  </div>
<% end %>

<% if @pipelines.present? %>
  <div class="col-md-6">
    <%= render partial: 'pipelines/pipelines', locals: { title: 'Your Most Recent', pipelines: @pipelines, style: 'success' } %>
  </div>
<% end %>

<% if @studies.present? %>
  <div class="col-md-6">
  <%= render partial: 'studies', locals: { studies: @studies, style: 'success' } %>
  </div>
<% end %>
