<% form_for :study, :url => managed_update_study_path(study), :html => { :id => "update_form", :method => "put", :multipart => true }, :update => "editor_update", :loading => "show_update_loader();", :complete => "hide_update_loader();" do |form| %>
  <% if @study %>
      <hr />
      <h2>Study : <%= link_to @study.name, study_path(@study) %></h2>
      <div class="subtitle">
        Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %>
      </div>
  <h3>Study state</h3>
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
     <td width="40%" class="item"><%= form.label :state, "State" %>:</td>
     <td width="60%"><%= form.select :state, Study.aasm_states_for_select %></td>
    </tr>
  </table>

      <h3>Contacts</h3>
      <table width='100%' cellspacing='0' cellpadding='0'>
        <tr>
         <td width='40%' class='item'><label for='study_enforce_quotas'>View contacts:</label></td>
         <td width='60%'><%= link_to "Contacts", collaborators_study_path(@study) %>
         </td>
        </tr>
      </table>

      <h3>Study information</h3>
      <table width='100%' cellspacing='0' cellpadding='0'>
        <tr>
        <td width="40%" class="item"><label for='reference_genome_id' class='required'>Reference genome</label>:</td>
        <td width="60%"><%= form.select "reference_genome_id", options_for_select([[@study.reference_genome.name,@study.reference_genome_id ]] + ReferenceGenome.all.map { |reference_genome| [reference_genome.name, reference_genome.id] }) %></td>
        </tr>
      </table>
      <div>         
        <%= render :partial => "studies/managed_study", :locals => {:read_only => false, :form => form, :study => study} %>
      </div>
  <% end %>
<% end %>
