
<div class="page-header"><h1>Edit robot property for <%= @robot.name %></h1></div>

<%= form_for([@robot, @robot_property], url: admin_robot_robot_property_path(@robot, @robot_property)) do |f| %>
<%= render_error_messages(@robot_property) %>
<p>
<%= f.label :name %>
<br />
<%= f.text_field :name %>
</p>
<p>
<%= f.label :value %>
<br />
<%= f.text_field :value %>
</p>
<p>
<%= f.label :key %>
<br />
<%= f.text_field :key %>
</p>
<p>
<%= f.submit "Update" %>
</p>
<% end %>
<%= link_to 'Show', admin_robot_robot_property_path(@robot,@robot_property) %> |
<%= link_to 'Back', admin_robot_robot_properties_path(@robot) %>
