<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<h1>Robot Property for <%= @robot.name %></h1>

<p>
  <strong>Name:</strong><%= @robot_property.name %>
</p>
<p>
  <strong>Key:</strong><%= @robot_property.key %>
</p>

<p>
  <strong>Value:</strong><%= @robot_property.value %>
</p>

<%= link_to 'Edit', edit_admin_robot_robot_property_path(@robot, @robot_property) %> | <%= link_to 'Back', admin_robot_robot_properties_path(@robot) %>
| <%= link_to 'Back to Robot', [:admin,@robot] %>
