
<div class="page-header"><h1>Editing plate</h1></div>

<%= form_for(@well) do |f| %>
  <%= error_messages_for(f.object) %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @well %> |
<%= link_to 'Back', plate_wells_path %>
