
<%- add :about, I18n.t("studies.about") %>
<%- add :menu, "Back to all plates" => study_plates_path(@study) %>

<div class="page-header"><h1>Wells for plate <%= @plate.id %></h1></div>
<h3>Number of wells: <%= @wells.size %></h3>

<table width="100%" cellspacing="0" cellpadding="5">
  <tr>
    <th>&nbsp;</th>
    <th>Well name</th>
    <th>Created at</th>
  </tr>
<% for well in @wells %>
  <tr class="<%= cycle('rowodd', 'roweven') %>">
    <td width="2%"><%= check_box_tag "record", 1, false %></td>
    <td width="45%"><% if well.name %><%= well.name %><% else %>No name is defined<% end %></td>
    <td width="25%"><%= well.created_at %></td>
  </tr>
<% end %>
</table>

<div style="text-align:center;">
  <%= pagination @wells %>
</div>
