
<%= page_title 'Faculty Sponsor', 'Edit' %>

<%= form_for([:admin,@faculty_sponsor]) do |f| %>
  <%= render_error_messages(@faculty_sponsor) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin,@faculty_sponsor] %> |
<%= link_to 'Back', admin_faculty_sponsors_path %>
