
<div class="page-header"><h1>New Faculty Sponsor</h1></div>

<%= form_for([:admin,@faculty_sponsor]) do |f| %>
  <%= render_error_messages(@faculty_sponsor) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_faculty_sponsors_path %>
