<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<p>
  <b>Name:</b>
  <%=h @faculty_sponsor.name %>
</p>

<h2>Studies</h2>
<table id="study_list" width="100%" class="sortable" cellpadding="4" cellspacing="0">
  <thead>
  <tr>
      <th><%= link_to "Study name", "javascript:void(0);" %></th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  <% for study in @faculty_sponsor.studies %>
    <tr>
      <td><%= link_to study.name, study_path(study), :title => "View #{study.name}" %></td>
      <td><%= link_to 'Edit', edit_study_path(study), :title => "Edit #{study.name}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_admin_faculty_sponsor_path(@faculty_sponsor) %> |
<%= link_to 'Back', admin_faculty_sponsors_path %>
