
<%- add :about, "Delayed jobs" %>

<%= page_title 'Delayed Jobs Queue' %>
<table class="sortable table">
  <thead>
    <tr>
      <th>status</th>
      <th>last error summary</th>
      <th>type</th>
      <th>priority</th>
      <th>attempts</th>
      <th>scheduled at</th>
    </tr>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job_status(job) %></td>
          <td><%= job_last_error(job) %></td>
          <td><%= job_type(job) %></td>
          <td><%= job.priority%></td>
          <td><%= job.attempts%></td>
          <td><%= job.run_at%></td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>
