<%- add :title, "Delayed jobs" %>

<h1>Delayed Jobs Queue</h1>
<table width="100%" cellpadding="5" cellspacing="0" class="sortable">
  <thead>
    <tr>
      <th class='label' width="5%"><%= link_to 'status', "javascript:void(0);" %></th>
      <th class='label' width="5%"><%= link_to 'type', "javascript:void(0);" %></th>
      <th class='label' width="5%"><%= link_to 'priority', "javascript:void(0);" %></th>
      <th class='label' width="5%"><%= link_to 'attempts', "javascript:void(0);" %></th>
      <th class='label' width="5%"><%= link_to 'Scheduled at', "javascript:void(0);" %></th>
    </tr>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job_status(job) %></td>
          <td><%= job_type(job) %></td>
          <td><%= job.priority%></td>
          <td><%= job.attempts%></td>
          <td><%= job.run_at%></td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>

