<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2013,2015,2016 Genome Research Ltd.%>

<div>
  <h2>Print labels for <%= asset.label %> "<%= asset.name %>"</h2>
</div>
<br />

<p>Choose your label printer</p>
<form action="/assets/print_assets" method="POST" class="form-horizontal">
  <div class="form-group">
    <label for="printable[<%= asset.id %>]" class="col-sm-2"><%= asset.label %></label>
    <div class="col-sm-10">
      <input type="hidden" name="printable[<%= asset.id %>]" />
      <span><%= h(asset.display_name) %></span>
    </div>
  </div>
  <div class="form-group">
    <label for="barcode_printer_list" class="col-sm-2">Print to</label>
    <div class="col-sm-10">
      <%= render partial: "shared/printer_list" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">
      <input type="hidden" name="printable[<%= asset.id %>]" />
      <input type="hidden" name="id" value="<%= asset.id %>" />
    </div>
    <div class="com-sm-10">
      <input type="submit" value="Print labels" class="btn btn-success"/> or <%= link_to "cancel", asset_path(asset) %>
    </div>
  </div>
</form>

