<section id="relations-table-container" class='info-panel'>
  <header>
    <a href='#relations-table-collapser' role="button" data-toggle='collapse'>
    <h3>Relations
      <%= counter_badge(asset.parents.size, 'parents') %>
      <%= counter_badge(asset.children.size, 'children') %>
      <small class='show-hide'>Click to toggle</small>
    </h3>
    </a>
  </header>
  <div id="relations-table-collapser" class="collapse in show">
    <table id="relations-table" class="sortable table">
      <thead>
        <tr>
          <th>Asset</th>
          <th>Relationship type</th>
          <th>Map</th>
        </tr>
      </thead>
      <tbody>
        <% asset.parents.each do |parent| %>
        <tr>
          <td><%= link_to "#{(parent.label or "").titleize}: #{parent.display_name}", labware_path(parent) %></td>
          <td>Parent</td>
          <td>
            <% if parent.is_a?(Well) && parent.map %>
              <%= parent.map.description %>
            <% end %>
          </td>
        </tr>
        <% end %>

        <% asset.children.each do |child| %>
        <tr>
          <td><%= link_to "#{child.label&.titleize}: #{child.display_name}", labware_path(child) %></td>
          <td>Child</td>
          <td>
          <% if child.is_a?(Well) && child.map %>
            <%= child.map.description %>
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
