<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011,2012,2014,2015 Genome Research Ltd.%>

 <table width="100%" cellspacing="0" cellpadding="0" class="sample_list">
  <colgroup>
    <col class="npg_aliquot_index">
  </colgroup>
  <thead>
    <tr>
      <th>NPG Aliquot Index</th>
      <th>Sample Name</th>
      <th>Sanger Sample Id</th>
      <th>Tag</th>
      <th>Tag2</th>
    </tr>
  </thead>
  <tbody>
 <% @asset.aliquots.include_summary.each_with_index do |aliquot,i| %>
 <tr class="<%= i.odd? ? 'rowodd' : 'roweven' %>">
   <td><%= aliquot.aliquot_index.try(:aliquot_index)||'Not Set' %></td>
   <td><strong><%= link_to(aliquot.sample.name, sample_url(aliquot.sample)) -%></strong></td>
   <td><%= aliquot.sample.sanger_sample_id %></td>
   <td><%= render :partial =>'shared/tag_info', :locals=> {:tag=> aliquot.tag } if aliquot.tag.present? %></td>
   <td><%= render :partial =>'shared/tag_info', :locals=> {:tag=> aliquot.tag2 } if aliquot.tag2.present? %></td>
 </tr>
 <% end %>
 </tbody>
 </table>
