<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<div class="content">
  <% unless @errors.nil? %>
  <table class="error">
    <% @errors.each do |error| %>
    <tr><td class="error"><%= error %></td></tr>
    <% end %>
  </table>
  <% end %>
  <div id='form'>
    <br />
    <%= form_for :asset, :url => { :controller => :assets, :action => :complete_move_to_2D } do |f| %>
    Type: <%= select :type, :id, { "Library" => "LibraryTube", "Sample" => "SampleTube", "Multiplexed Library" => "MultiplexedLibraryTube", "PacBioLibraryTube" => "PacBioLibraryTube" } %><br />
    <ul class="tube_import">
      <% num_text_boxes ||= 1 %>
      <% num_text_boxes.times do |i| %>
      <%= text_field :barcode, i, { :class => 'big' } %>
      <% end %>
      <%= submit_tag "Submit" %>
    </ul>
    <% end %>
  </div>
</div>
