<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<table cellpadding="4" cellspacing="0" width="100%" class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date Created</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% assets.each do |asset| -%>
    <tr id="asset_<%= asset.display_name.downcase.gsub(/[^a-z0-9]+/, '_') -%>">
      <td><%= link_to(h(asset.display_name), asset_url(asset)) %></td>
      <td>
        <% if asset.created_at %>
          <%= asset.created_at.to_formatted_s(:day_full_with_time) %>
        <% end %>
      </td>
      <td><%= asset.sti_type %></td>
      <td>
        <% if current_user_can_make_additional_requests_on?(asset, study) %>
          <%= link_to "New request &rarr;", new_request_asset_path(asset, study_id: study.id) -%>
        <% end %>
      </td>
    </tr>
<% end -%>
  </tbody>
</table>
