<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011 Genome Research Ltd.%>
<h3>Plate layout for rack with barcode <%= @rack_barcode %></h3>
<% unless @problems.zero? %>
<div class="info">
  <p>There appears to be <%= pluralize @problems, "problem" %> with this layout.</p>
</div>
<% else %>
<div class="info">
  <p>There are no problems with this layout</p>
  <%= form_tag("../make_plate_and_batch_from_rack/") do |form| %>
    <div>
      Plate barcode: <%= text_field_tag :plate_barcode %> : <%= submit_tag "make plate" %>
      <%= hidden_field_tag 'pipeline_id', @pipeline.id %>
      <%= hidden_field_tag 'rack_barcode', @rack_barcode %>
    </div>
  <% end %>
</div>
<% end %>
<table border="1px">
  <% @plate_layout.height.times do |row| %>
  <tr width="85%">
    <% @plate_layout.width.times do |column| %>
      <td width="8%"class='<%= well_color(@plate_layout, row, column) %>'>
        <div>
          <%= well_identifier(@plate_layout, row, column) -%><br />
          <% well_information(@plate_layout, row, column).each do |well| -%>
            <%= well %><br />
          <% end %>
        </div>
      </td>
    <% end %>
  </tr>
  <% end %>
</table><br />
