<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2014,2015,2016 Genome Research Ltd.%>

<%= page_title('Asset',"Edit #{@asset.display_name}") %>

<%= form_for(@asset,url: asset_path(@asset),as:'asset') do |f| %>
  <%= alert do %>
    <%= f.error_messages %>
  <% end %>

  <% if @current_user.administrator? %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :name %>
      <%= h(@asset.display_name) %>
    </div>
  <% end %>

  <% if (@current_user.is_lab_manager?) && (@asset.respond_to? :plate_purpose) %>
    <div class="form-group">
      <%= f.label :plate_purpose_id %>
      <%= f.select(:plate_purpose_id, options_for_select(@valid_purposes_options, @asset.purpose.try(:id)), {}, class: 'select2' ) %>
    </div>
  <% end %>

  <% if @asset.location %>
      <div class="form-group">
        <%= f.label :location_id %>
        <%= f.select :location_id, Location.pluck(:name, :id), {}, { class: 'select2' }  %>
     </div>
  <% end %>

  <% if @asset.is_a?(Lane) %>
    <div class="form-group">
      <%= f.label :external_release, "Should the data be released?" %>
      <%= f.check_box :external_release, { 'data-field' => 'lane_lane_metadata_attributes_release_reason'} %>
    <%= hidden_field_tag :qc_state_value, @asset.qc_state %>
    <%= hidden_field_tag :external_release_value, @asset.external_release %>
    <%= hidden_field_tag 'lane[lane_metadata_attributes][release_reason]', '', id: 'hidden_lane' %>
  </div>
    <div class="form-group"><%= render partial: 'shared/metadata/edit/lane', locals: { lane: @asset, form: f } %></div>
  <% end %>
  <div class="form-group"><%= f.submit "Update", class:'btn btn-success' %></div>
<% end %>

 <div class="form-group"><%= link_to 'Show', action: :show, id: @asset.id %></div>

<script type="text/javascript">
(function($, undefined) {
  $(document).on('dom:loaded', function() {

   $('input[type=checkbox]').each(function(checkbox) {
     var field = $(checkbox.attr('data-field'));
     field.disabled = true;

     checkbox.on('click', function() {
      asset_qc_state = $('qc_state_value').value
      // TODO : REMOVE EVAL()
      external_release = eval($('external_release_value').value)
      checkbox_status = this.checked

      if (((asset_qc_state =="passed") && (!checkbox_status) && (external_release)) || ((asset_qc_state =="failed") && (checkbox_status) && (!external_release)))
      {
        field.disabled = false;
      }
      else
      {
        field.disabled = true;
        field[0].selected = true;
      }

     });
   });
 });
})(jQuery);
</script>
