<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011,2012,2014,2015 Genome Research Ltd.%>
<h1>Editing asset</h1>
<table>
<%= form_for(@asset) do |f| %>
  <tr><td><%= f.error_messages %></td></tr>
  <% if @current_user.administrator? %>
      <tr><td>Name: <%= f.text_field :name %></td></tr>
  <% else %>
      <tr><td>Name: <%= h(@asset.display_name) %></td></tr>
  <% end %>

  <% if (@current_user.is_lab_manager?) && (@asset.respond_to? :plate_purpose) %>
    <tr><td>Purpose: <%= select_tag("asset[plate_purpose_id]", options_for_select(@valid_purposes_options, @asset.purpose.try(:id))) %></td></tr>
  <% end %>

  <% if @asset.location %>
      <tr><td>Location: <%= f.select :location_id, Location.all.map { |location| [location.name, location.id]} %></td></tr>
  <% end %>

  <tr><td>Public name (for ENA release): <%= f.text_field :public_name %></td><tr>


  <% if @asset.is_a?(Lane) %>
    <tr><td>Should the data be released?: <%= f.check_box :external_release, { 'data-field' => 'lane_lane_metadata_attributes_release_reason'} %>
    <%= hidden_field_tag :qc_state_value, @asset.qc_state %>
    <%= hidden_field_tag :external_release_value, @asset.external_release %>
    <%= hidden_field_tag 'lane[lane_metadata_attributes][release_reason]', '', :id => 'hidden_lane' %>
    </td></tr>
    <tr><td><%= render :partial => 'shared/metadata/edit/lane', :locals => { :lane => @asset, :form => f } %></td></tr>
  <% end %>
  <tr><td><%= f.submit "Update" %></td></tr>
<% end %>

 <tr><td><%= link_to 'Show', :action => :show, :id => @asset.id %></td></tr>
</table>

<script type="text/javascript">
(function(undefined) {
 document.observe('dom:loaded', function() {

   $$('input[type=checkbox]').each(function(checkbox) {
     var field = $(checkbox.readAttribute('data-field'));
     field.disabled = true;

     checkbox.observe('click', function() {
      asset_qc_state = $('qc_state_value').value
      external_release = eval($('external_release_value').value)
      checkbox_status = this.checked

      if (((asset_qc_state =="passed") && (!checkbox_status) && (external_release)) || ((asset_qc_state =="failed") && (checkbox_status) && (!external_release)))
      {
        field.disabled = false;
      }
      else
      {
        field.disabled = true;
        field[0].selected = true;
      }

     });
   });
 });
})();
</script>
