<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2013,2015,2016 Genome Research Ltd.%>

<div class="info">
  <h2>Lab View</h2>
  <%= Date.today %>
</div>
<div class="info">
  <%= form_for(@asset, as: :asset, url: { controller: "assets", action: "update", id: @asset.id, lab_view: true }, html: { method: :put }) do |f| %>
    <table>
      <tr><td>Name: </td><td><%= h(@asset.display_name) %></td></tr>
      <tr><td>Type: </td><td><%= @asset.sti_type %></td></tr>
      <tr><td>Barcode: </td><td><%= @asset.barcode %></td></tr>
      <tr><td>Location: </td><td><%= @asset.location.nil? ? 'Not known' : @asset.location.name %></td></tr>
      <tr><td>Batches: </td></tr>
      <% requests = Request.where(asset_id: @asset.id) %>
      <% requests << Request.where(target_asset_id: @asset.id) %>
      <% requests.flatten.each do |request| %>
        <% request.batches.each do |batch| %>
          <tr><td></td><td><%= link_to "#{batch.id} - #{batch.pipeline.name}", controller: :batches, action: :show, id: batch.id %></td><tr/>
        <% end %>
      <% end %>
      <tr><td>Studies: </td></tr>
      <% @asset.studies.uniq.each do |study| %>
        <tr><td></td><td><%= link_to "#{study.id} - #{study.name}", controller: :studies, action: :show, id: study.id %></td></tr>
      <% end %>
      <tr><td>&nbsp;</td></tr>
      <tr></tr>
      <tr><td>Volume (&#181;L): </td><td><%= f.text_field :volume %></td></tr>
      <tr><td>Concentration (nM): </td><td><%= f.text_field :concentration %></td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td></td><td><%= submit_tag 'Update' %></td></tr>
    </table>

    <% unless @asset.parents.empty? %>
      <div class="info">
        <%= pluralize @asset.parents.size, "Source" %>
        <table width='50%' class='sortable'>
          <thead>
            <tr>
              <th>Asset</th>
            </tr>
          </thead>
          <tbody>
            <% @asset.parents.each do |parent| %>
              <tr>
                <td><%= link_to "#{(parent.label or "").humanize} #{parent.id}", action: :lab_view, barcode: parent.barcode %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
      </div>
    <% end %>
    <% unless @asset.children.empty? %>
      <div class="info">
        <%= pluralize @asset.children.size, "Target" %>
        <table width='50%' class='sortable'>
          <thead>
            <tr>
              <th>Asset</th>
            </tr>
          </thead>
          <tbody>
            <% @asset.children.each do |child| %>
              <tr>
                <td><%= link_to "#{(child.label or "").humanize} #{child.id}", action: :lab_view, barcode: child.barcode %></td>
              </tr>
            <% end %>
          </tbody>
        </table><br />
      </div>
    <% end %>
  <% end %>
</div>
<%= render partial: "find_form" %>
