<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2014,2015 Genome Research Ltd.%>

<div class='info'>
  <h1>How to create a new phiX Asset</h1>
  <p>
    <b>NOTE: If you do not provide a parent asset it is assumed that you are creating a spiked in phiX asset.</b>  If this is not true then please
    do not use this interface and contact <a href="mailto:seq-help@sanger.ac.uk">seq-help</a>.
  </p>
</div>

<%= form_for(@asset) do |f| %>
  <%= f.error_messages %>
  <div class='info'>
    <div class='section'>1. Select what you would like to create.</div>
    <div class='section'>
      <%= label_tag "asset_sti_type", "Type", {style: 'display:none;'} %><%= f.select :sti_type, @asset_types%>
    </div>
    <div class='section'>2. Provide a name.</div>
    <div class='section'><%= label_tag "asset_name", "Name", {style: 'display:none;'} %><%= f.text_field:name%></div>

    <div class='section'>3. If applicable, scan in the 'parent' asset's barcode,</div>
    <div class='section'>
      <%= label_tag "parent_asset_", "Parent Asset", {style: 'display:none;'} %><%= text_field :parent_asset, nil %>
    </div>
    <div class='section'>and enter how much (in &#181;L) was taken from it.</div>
    <div class='section'>
      <%= label_tag "parent_volume_", "vol.", {style: 'display:none;'} %><%= text_field :parent_volume, nil %> &#181;L
    </div>

    <div class='section'>The new asset will be tagged with the following tag number:</div>
    <div class='section'>
      <%= label_tag "tag_", "Tag", {style: 'display:none;'} %>
      <%= text_field :tag, nil, { readonly: true, value: "#{@phix_tag.map_id}" } %>
    </div>
    <div class='section'>The sequence for this tag is:</div>
    <div class='section'>
    <%= label_tag "tag_sequence_", "Tag Sequence", {style: 'display:none;'} %>
    <%= text_field :tag_sequence, nil, { readonly: true, value: "#{@phix_tag.oligo}", disabled: true } %>
    </div>

    <div class='section'>4. Provide the concentration (in nM).</div>
    <div class='section'><%= label_tag "asset_concentration", "Concentration", {style: 'display:none;'} %><%= f.text_field :concentration  %> nM</div>

    <div class='section'>5. Provide the volume (in &#181;L). </div>
    <div class='section'><%= label_tag "asset_volume", "Volume", {style: 'display:none;'} %><%= f.text_field :volume%> &#181;L</div>
    <div class='section'><p>(NB, this should include any amount taken from the 'parent'.</p><p>This does not need to be entered if it is only an aliquot of the parent.)</p></div>

    <div class='section'>6. If you want to create multiple identical assets, provide the number you would like.</div>
    <div class='section'><%= label_tag "count_", "Count", {style: 'display:none;'} %><%= text_field :count, nil%></div>
  </div>
  <div class='section'>
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', assets_path %>
</div>
