<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015,2016 Genome Research Ltd.%>

<%- add :title, "Items for Workflow" %>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_workflow_path(@study, @workflow) -%>

<div id="content-links">
  <%= link_to "Full details", study_workflow_path(@study, @workflow) %>
</div>

<h1><%= @study.name %></h1>
<div class='subtitle'>
Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %>
</div>

<% if @assets.blank? -%>
  <%= display_user_guide(I18n.t('studies.workflows.assets.no_assets_available', label: @workflow.asset_label.downcase.pluralize)) %>
<% else -%>
  <p>Select the labware you want to print and press 'Print labels'.</p>
  <form action="<%= print_assets_path %>" method="POST">
  <table width='100%'>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Barcode</th>
       </tr>
    </thead>
    <tbody>
    <% @assets.each do |asset| -%>
    <tr>
      <td><%= check_box_tag "printable[#{asset.id}]" %></td>
      <td><%= link_to(h(asset.display_name), asset_path(asset)) %></td>
      <td><%= asset.label %></td>
      <td><%= asset.barcode %></td>
    </tr>
    <% end -%>
    </tbody>
  </table>
  <table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="35%" class="asset">Print to: </td>
    <td width="65%">
      <%= render partial: "shared/printer_list" %>
    </td>
  </tr>
  <tr>
    <td width="35%" class="asset">&nbsp;</td>
    <td width="65%"><input type="submit" value="Print labels" /> or <%= link_to "cancel", study_workflow_path(@study, @workflow) %></td>
  </tr>
  </table>
  </form>
<% end -%>
