
<%= page_title('Which did you mean?') %>
<p class='lead'>
  We've been making some changes and will need a bit of help to get you where you expect.
</p>
<%= panel do %>
  <h2 class="card-title"><%= @labware.name %></h2>
  <p><%= @labware.try(:human_barcode) %></p>
  <p><%= link_to 'Labware', labware_path(@labware) %>
<% end %>
<%= panel do %>
  <h2 class="card-title"><%= @receptacle.display_name %></h2>
  <p><%= link_to 'Receptacle', receptacle_path(@receptacle) %>
<% end %>
<%= panel do %>
<% end %>
