<%= page_title 'Advanced search' %>

<h1>Custom Metadata</h1>
<div>Search for labware with particular custom metadata against them. Please enter both a key (e.g. ethanol_batch) and a value (e.g. J5F89).</div>

<%= form_tag '/advanced_search/search' do %>
  <%= label_tag 'metadata_key', 'Key' %>
  <%= text_field_tag 'metadata_key', @key_search_term %>
  <%= label_tag 'metadata_value', 'Value' %>
  <%= text_field_tag 'metadata_value', @value_search_term %>
  <%= submit_tag "Search" %>
<% end %>

<br/>

<% if @searched %>
  <h3 id="results">Results</h3>
    <% unless @results.blank? %>
      <table class="table">
        <thead>
            <tr>
              <th>Labware ID</th>
              <th>Labware barcode</th>
              <th>Labware created date</th>
            </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
            <td> <%= result.custom_metadatum_collection.asset_id %> </td>
            <td> <%= result.custom_metadatum_collection.asset.human_barcode %> </td>
            <td> <%= result.custom_metadatum_collection.asset.created_at %> </td>
          <% end %>
        </tbody>
      </table>
  <%- else -%>
    <div>No results.</div>
  <%- end -%>
<%- end -%>