
<h2>Results:</h2>
<div class="info">
  <% if @studies.present? %>
    <h4><%= pluralize @studies.size, "study" %></h4>
    <ul>
      <%= render partial: "searches/show/study", collection: @studies %>
    </ul>
  <% end %>

  <% if @samples.present? %>
    <h4><%= pluralize @samples.size, "sample" %></h4>
    <ul>
      <%= render partial: "searches/show/sample", collection: @samples %>
    </ul>
  <% end %>

  <% if @labware.present? %>
    <h4><%= pluralize @labware.size, "labware" %></h4>
    <ul>
      <%= render partial: "searches/show/labware", collection: @labware %>
    </ul>
  <% end %>

  <% if @asset_groups.present? %>
    <h4><%= pluralize @asset_groups.size, "asset groups" %></h4>
    <ul>
      <%= render partial: "searches/show/asset_group", collection: @asset_groups %>
    </ul>
  <% end %>

  <% if @requests.present? %>
    <h4><%= pluralize @requests.size, "items" %></h4>
    <ul>
      <%= render partial: "searches/show/request", collection: @requests %>
    </ul>
  <% end %>

</div>
<% unless @studies.present? || @samples.present? || @labware.present? || @requests.present? -%>
  <div class="info">
    <h3>No results</h3>
  </div>
<% end -%>
