<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2014,2015 Genome Research Ltd.%>

<% add :title, "You can search for studies, samples and assets here." -%>

<h1>Search for <%= @query %></h1>

<%= form_tag searches_path(q: params["q"]), method: :get do -%>
  <div>
    <span class="item">
      <label for="q">Search for:</label> <%= select_tag :type, options_for_select(search_options, params[:type]||""), id: 'layout_search_options' %> <%= text_field_tag "q" %>
      <%= submit_tag "Go" %>
    </span>
  </div>
<% end %>

<% unless params["q"].blank? -%>
  <div id="results">
    <%= render partial: "search" %>
  </div>
<% end -%>

<p><strong>Search Took</strong> <%= @search_took %> s</p>
<p><strong>Render Took</strong> <%= Time.now - @render_start %> s</p>
