<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<h2>Sample Manifests</h2>
<ul>
  <li><%= link_to "Create manifest for plates", new_sample_manifest_path({type: "plate"}) %></li>
  <li><%= link_to "Create manifest for 1D tubes", new_sample_manifest_path({type: "1dtube"})%></li>
  <li><%= link_to "Create manifest for multiplexed libraries", new_sample_manifest_path({type: "multiplexed_library"})%></li>
  <li><%= link_to "View all manifests", sample_manifests_path %></li>
</ul>

<h2>Suppliers</h2>
<ul>
  <li><%= link_to "Create supplier", new_supplier_path %></li>
  <li><%= link_to "View all suppliers", suppliers_path %></li>
</ul>

