<h2>Sample Manifests</h2>
<ul>
  <li><%= link_to "Create manifest for plates", new_sample_manifest_path({:type => "plate"}) %></li>
  <li><%= link_to "Create manifest for 1D tubes", new_sample_manifest_path({:type => "1dtube"})%></li>
  <li><%= link_to "View all manifests", sample_manifests_path %></li>
</ul>

<h2>Suppliers</h2>
<ul>
  <li><%= link_to "Create supplier", new_supplier_path %></li>
  <li><%= link_to "View all suppliers", suppliers_path %></li>
</ul>

