<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015,2016 Genome Research Ltd.%>

<%= form_tag show_summary_study_workflow_path(@study,@workflow), method: :get, remote: true, class: 'remote-form observed', data: {update: "#everything", throbber: '#loading' } do %>
  <%= label_tag(:asset_type,'Filter by') %>
  <%= select_tag(:asset_type,options_for_select(asset_types_for_select,@asset_type), class: 'form-control') %>
<% end %>

<span class="filter_options">Currently showing <strong><%= @asset_type_name %></strong></span>

<%= pagination @page_elements %>
<% submissions = @submissions %>
<table id="summary" class="sortable table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Sample</th>
      <th>Closed?</th>
      <% @request_types.each do |request_type| %>
        <th><center><%= request_type.name %></center></th>
      <% end %>
      <th>Latest update</th>
      <th>Update date</th>
      <th>Updates</th>
    </tr>
  </thead>
  <tbody>
    <% @study.asset_progress(@page_elements) do |statistics| %>
      <% @page_elements.each do |asset| %>
        <% asset_statistics = statistics[asset.id] %>
        <tr class="<%= label_asset_state(asset) %>">
          <td><%= link_to(h(asset.display_name), asset_path(asset), title: asset.label.capitalize) %></td>
          <td><%= asset.label %></td>
          <td><% if asset.is_a?(Aliquot::Receptacle) %>
            <% asset.aliquots.each do |a| %>
              <%= link_to(a.sample.name, a.sample) %>;
            <% end %>
          <% end %>
          <td><%= asset.closed? ? 'Yes' : 'No' %></td>

          <% @request_types.each do |request_type| %>
            <% request_type_statistics = asset_statistics[request_type.id] %>
            <% if request_type_statistics.total > 1 and request_type_statistics.progress > 0 %>
              <td><%= progress_bar(request_type_statistics.progress) %></td>
            <% else %>
              <td>
                <% if request_type_statistics.passed > 0 %>
                  <center><span style="display:none">passed</span><%= image_tag "accept.png" %></center>
                <% elsif request_type_statistics.started > 0 %>
                  <center><span style="display:none">started</span><%= image_tag "cog.png" %></center>
                <% elsif request_type_statistics.pending > 0 %>
                  <center><span style="display:none">pending</span><%= image_tag "hourglass.png" %></center>
                <% elsif request_type_statistics.failed > 0 %>
                  <center><span style="display:none">failed</span><%= image_tag "delete.png" %></center>
                <% end %>
              </td>
            <% end %>
          <% end %>

          <% summary = UiHelper::Summary.new(); summary.load_asset(asset); summary_asset = summary.summaries.first %>

          <% if summary_asset %>
            <td><%= link_to(summary_asset.message, summary_asset.external_link.to_s) %></td>
            <td><%= summary_asset.timestamp.to_formatted_s(:sortable)%></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <td><%= link_to 'Show all', summary_asset_path(asset) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= pagination @page_elements %>
