<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2011 Genome Research Ltd.%>
<div id="navi" class="yui-navset">
  <ul class="yui-nav">
    <% @summaries.each_with_index do |description, index| %>
    <li class="<%= summary.to_i == index ? 'selected' : '' %>"><%= link_to "<em>#{description}</em>", study_workflow_path(@study,@workflow, {:summary => index}), :class => (summary.to_i == index ? 'selected' : '') %></li>
    <% end %>
  </ul>
  <div class="yui-content">
    <%= loading_bar %>
    <%= remote_error %>
    <div id="everything">
    <script>
    Event.observe(window, 'load', function() {
      <%= remote_function(:url => show_summary_study_workflow_path(@study, @workflow, { :summary => summary}.merge(@extra_params)),
        :update => {:success => "everything"},
        :method => :get,
        :loading => "Element.show('loading')",
        :complete => "try {
            TableSorterFacade.extend_table('summary');
            Element.highlight('summary');
          } catch (e) {
            (e.name == 'ElementDoesNotExistError') || console.warn(e);
          } finally {
            Element.hide('loading');
          };",
        :failure => "Element.show('remote_error')") %>
    });
    </script>
    </div>
  </div>
</div>
