<%= will_paginate @page_elements %>
<table id="summary" width="100%" class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Update date</th>
      <% @request_types.each do |request_type| %>
        <th><center><%= request_type.name %></center></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @study.sample_progress(@page_elements) do |statistics| %>
      <% @page_elements.each do |sample| %>
        <% sample_statistics = statistics[sample.id] %>
        <tr>
          <td> <%= link_to sample.name, sample_path(sample)    %></td>
          <td><%= sample.updated_at.to_formatted_s(:sortable) %></td>
          <% @request_types.each do |request_type| %>
            <% request_type_statistics = sample_statistics[request_type.id] %>
            <% if request_type_statistics.total > 1 and request_type_statistics.progress > 0 %>
              <td><%= progress_bar(request_type_statistics.progress) %></td>
            <% else %>
              <td>
                <% if request_type_statistics.passed > 0 %>
                  <center><span style="display:none">passed</span><%= image_tag "accept.png" %></center>
                <% elsif request_type_statistics.started > 0 %>
                  <center><span style="display:none">started</span><%= image_tag "cog.png" %></center>
                <% elsif request_type_statistics.pending > 0 %>
                  <center><span style="display:none">pending</span><%= image_tag "hourglass.png" %></center>
                <% elsif request_type_statistics.failed > 0 %>
                  <center><span style="display:none">failed</span><%= image_tag "delete.png" %></center>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @page_elements %>
