<div class="quota">
  <table width="100%">
    <thead>
      <tr>
      <th>Request type</th>
      <th>Requested</th>
      <th>Pending</th>
      <th>Started</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Cancelled</th>
      </tr>
    </thead>
    <% @study.request_progress do |results| %>
      <% @workflow.request_types.each do |request_type| %>
        <% statistics = results[request_type] %>
        <tr>
          <td><%= request_type.name %></td>
          <td><%= request_link(@study, statistics.total, request_type) %></td>
          <td><%= request_link(@study, statistics.pending, request_type, 'pending') %></td>
          <td><%= request_link(@study, statistics.started, request_type, 'started') %></td>
          <td><%= request_link(@study, statistics.passed, request_type, 'passed') %></td>
          <td><%= request_link(@study, statistics.failed, request_type, 'failed') %></td>
          <td><%= request_link(@study, statistics.cancelled, request_type, 'cancelled') %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
