<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2014,2015 Genome Research Ltd.%>

<% submissions = @submissions %>
<% request_type = @request_type %>
<%= pagination @page_elements %>
<table id="summary" width="100%" class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Open?</th>
      <th>Pending</th>
      <th>Started</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Cancelled</th>
    </tr>
  </thead>

  <% @study.asset_progress(@page_elements) do |statistics| %>
    <% @page_elements.each do |asset| %>
      <% asset_statistics = statistics[asset.id] %>
      <tr class="<%= asset.closed? ? 'closed' : 'open' %>">
        <td><%= link_to(h(asset.display_name), asset_path(asset), title: asset.label.capitalize) %></td>
        <td><%= asset.closed? ? 'No' : 'Yes' %></td>
        <td><%= request_link(asset, asset_statistics.pending,   nil, 'pending',   {}, {title: "#{h(asset.display_name)} pending"})   %></td>
        <td><%= request_link(asset, asset_statistics.started,   nil, 'started',   {}, {title: "#{h(asset.display_name)} started"})   %></td>
        <td><%= request_link(asset, asset_statistics.passed,    nil, 'passed',    {}, {title: "#{h(asset.display_name)} passed"})    %></td>
        <td><%= request_link(asset, asset_statistics.failed,    nil, 'failed',    {}, {title: "#{h(asset.display_name)} failed"})    %></td>
        <td><%= request_link(asset, asset_statistics.cancelled, nil, 'cancelled', {}, {title: "#{h(asset.display_name)} cancelled"}) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= pagination @page_elements %>
