<% submissions = @submissions %>
<% request_type = @request_type %>

<table id="summary" width="100%" class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Open?</th>
      <th>Pending</th>
      <th>Started</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Cancelled</th>
    </tr>
  </thead>

  <% @study.assets.each do |asset| %>
    <% closed = asset.closed? ? 'closed' : 'open'  %>
    <tr class='<%= closed %>'>
      <td><%= link_to asset.name, asset_path(asset), :title => asset.label.capitalize  %></td>
      <td><%= asset.closed? ? 'No' : 'Yes' %></td>
      <td><%= request_link(asset, asset.requests.select {|r| r.pending?}.size, nil, 'pending', {}, {:title => "#{asset.name} pending"}) %></td>
      <td><%= request_link(asset, asset.requests.select {|r| r.started?}.size,  nil, 'started', {}, {:title => "#{asset.name} started"}) %></td>
      <td><%= request_link(asset, asset.requests.select {|r| r.passed? }.size, nil, 'passed', {}, {:title => "#{asset.name} passed"}) %></td>
      <td><%= request_link(asset, asset.requests.select {|r| r.failed? }.size, nil, 'failed', {}, {:title => "#{asset.name} failed"})  %></td>
      <td><%= request_link(asset, asset.requests.select {|r|  r.cancelled? }.size,  nil, 'cancelled', {}, {:title => "#{asset.name} cancelled"})  %></td>
    </tr>
  <% end %>
</table>
