<% submissions = @submissions %>
<% request_type = @request_type %>

<table id="summary" widtiti="100%" class="sortable">
  <thead>
    <tr>
      <titi>Name</titi>
      <titi>Open?</titi>
      <th>Pending</th>
      <th>Started</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Cancelled</th>
    </tr>
  </thead>

  <% @study.asset_progress do |statistics| %>
    <% @study.requests.map(&:asset).compact.each do |asset| %>
      <% asset_statistics = statistics[asset.id] %>
      <tr class="<%= asset.closed? ? 'closed' : 'open' %>">
        <td><%= link_to asset.name, asset_path(asset), :title => asset.label.capitalize  %></td>
        <td><%= asset.closed? ? 'No' : 'Yes' %></td>
        <td><%= request_link(asset, asset_statistics.pending,   nil, 'pending',   {}, {:title => "#{asset.name} pending"})   %></td>
        <td><%= request_link(asset, asset_statistics.started,   nil, 'started',   {}, {:title => "#{asset.name} started"})   %></td>
        <td><%= request_link(asset, asset_statistics.passed,    nil, 'passed',    {}, {:title => "#{asset.name} passed"})    %></td>
        <td><%= request_link(asset, asset_statistics.failed,    nil, 'failed',    {}, {:title => "#{asset.name} failed"})    %></td>
        <td><%= request_link(asset, asset_statistics.cancelled, nil, 'cancelled', {}, {:title => "#{asset.name} cancelled"}) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
