<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2014,2015 Genome Research Ltd.%>

<% add :title, "This page details the current status of a workflow." -%>
<% if @study.approved? && @study.active? -%>
  <% add :manager_option, "Create Submission" => new_submission_path(study_id: @study.id) -%>
    <% add :manager_option, "Start a Bulk Submission" => {controller: "/bulk_submissions", action: "new"} -%>
<% end -%>
<% if current_user.is_administrator? || current_user.is_manager?(@study) %>
  <% add :manager_option, "Register samples" => study_sample_registration_index_path(@study) -%>
<% end %>
<% add :menu, "Samples" => study_samples_path(@study) -%>
<% add :menu, "Sample Manifests" => sample_manifests_study_path(@study) %>
<% add :menu, "Suppliers" => suppliers_study_path(@study) %>
<% add :menu, "Assets" => study_workflow_assets_path(@study, @workflow) -%>
<% add :menu, "Asset groups" => study_asset_groups_path(@study) -%>
<% add :menu, "Projects" => projects_study_path(@study) -%>
<% if current_user.is_administrator? || current_user.is_manager?(@study) || current_user.owner?(@study) || current_user.lab? %>
  <% add :menu, "Print Labels" => printing_study_asset_groups_path(@study) -%>
<% end %>
<% add :menu, "&nbsp;" => '' -%>
<% add :menu, "Contacts" => collaborators_study_path(@study) -%>
<% add :menu, "History" => summary_study_workflow_path(@study, @workflow) -%>
<% add :menu, "&nbsp;" => '' -%>
<% if current_user.is_administrator? || current_user.is_manager?(@study) %>
  <% if @study.active? -%>
    <% add :manager_option, { 'Deactivate Study' => state_study_path(@study) }   -%>
  <% else -%>
    <% add :manager_option, { 'Activate Study' => state_study_path(@study) } -%>
  <% end -%>
<% end -%>

<% add :menu, display_follow(@study, current_user, "Study") => follow_study_path(@study) -%>
<% add :menu, pluralize(@study.comments.size, "comment") => study_comments_path(@study) -%>

<% if current_user.is_administrator? || current_user.is_manager?(@study) %>
  <% add :manager_option, @study.accession_number? ? "Update EBI Study data" : "Generate Accession Number" => url_for(controller: '/studies', action: 'accession', id: @study.id) -%>
  <% add :manager_option, "Generate DAC Accession Number" => url_for(controller: '/studies', action: 'dac_accession', id: @study.id) -%>
  <% add :manager_option, "Generate Policy Accession Number" => url_for(controller: '/studies', action: 'policy_accession', id: @study.id) -%>
<% end -%>

<% if current_user.is_administrator? || current_user.is_manager?(@study) %>
  <% add :menu, "Edit" => edit_study_url(@study) -%>
<% end %>
<% add :admin_option, "Manage" => url_for(controller: "admin/studies", action: "show", id: @study.id) -%>
<% add :menu, "Submissions" => url_for(controller: "/submissions", action: "study", id: @study.id) -%>

<% add :menu, "Qc Reports" => study_reports_study_path(@study) -%>

<% add :legend_option, "#{image_tag('hourglass.png')} Pending" => "" -%>
<% add :legend_option, "#{image_tag('cog.png')} Started" => "" -%>
<% add :legend_option, "#{image_tag('accept.png')} Passed" => "" -%>
<% add :legend_option, "#{image_tag('delete.png')} Failed" => "" -%>

<div id='content-links'>
 <%= link_to "Study details", properties_study_path(@study) -%>
</div>

<h1><%= link_to @study.name, study_path(@study) %> : <%= @workflow.name %></h1>
<div class='subtitle'>
  Switch to
  <% @workflows.each do |workflow| -%>
    <% if workflow != @workflow -%>
      : <%= link_to workflow.name, study_workflow_path(@study, workflow) %>
    <% end -%>
  <% end -%>
  <br />
  Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %> <br />
  Overall progress: <%= raw(progress_bar(@study.completed(@workflow))) %>
</div>

<div class="content">
  <% if current_user.is_administrator? || current_user.is_manager?(@study) %>
    <% unless @study.approved? -%>
      <%= display_user_guide(I18n.t('studies.status.not_approved')) %>
      <% if @study.samples.empty? -%>
        <%= display_user_guide(I18n.t('studies.samples.no_samples_registered'), study_sample_registration_index_path(@study)) %>
      <% else -%>
        <%= display_user_guide(I18n.t('studies.submissions.unable_to_create_submission')) %>
      <% end -%>
    <% else -%>
      <% if @study.samples.empty? -%>
        <%= display_user_guide(I18n.t('studies.samples.no_samples_registered'), study_sample_registration_index_path(@study)) %>
      <% else -%>
        <% if (! @submissions.empty?) || (@study.requests.count > 0) -%>
          <%= render partial: "submission_warning" %>
          <%= render partial: "study_summary" %>
          <br />
          <%= render partial: "items", locals: {summary: @summary} %>
        <% else -%>
          <% if @study.active? %>
            <%= display_user_guide(I18n.t('studies.guidance.now_create_submission'), new_submission_path(study_id: @study.id)) %>
          <% else %>
            <%= display_user_guide(I18n.t('studies.status.not_active')) %>
          <% end %>
          <% @workflows.each do |workflow| -%>
            <% if workflow != @workflow %>
              <%= display_user_guide("Or maybe you want to view #{link_to workflow.name, study_workflow_path(@study, workflow) }")%>
            <% end -%>
          <% end -%>
        <% end -%>
      <% end -%>
    <% end %>
  <% else %>
    <%= render partial: "submission_warning" %>
    <%= render partial: "study_summary" %>
    <br />
    <%= render partial: "items", locals: {summary: @summary} %>
  <% end -%>
</div>
