
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Barcode</th>
      <th>Wells</th>
      <th>Plate Link</th>
      <th>Purpose</th>
      <% if show_pick_data %>
        <th>Worksheet Link</th>
        <th>Robot Files</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% request_groups.each do |group, requests| -%>
      <% next if group.blank? %>

      <% parent  = @pipeline.group_by_parent? && ( pid = group.shift ) && Labware.find(pid) %>
      <% unless parent.nil? %>
        <tr>
          <td><%= link_to parent.id, labware_path(parent) %></td>
          <td><%= parent.human_barcode %></td>
          <td><%= requests.size %></td>
          <td><%= link_to 'Show plate', show_plate_labware_path(parent)%></td>
          <td><%= purpose_for_labware(parent) %></td>
          <% if show_pick_data %>
            <td>
              <div class="btn-group btn-group-sm">
                <%= link_to icon('fas', 'print', 'Print worksheet'),
                              url_for(controller: :batches,
                                      action: :print,
                                      id: @batch.id,
                                      barcode: parent.human_barcode),
                              title: "Print worksheet for Plate #{parent.human_barcode}",
                              class: 'btn btn-primary' %>
                <% unless @robots.empty? %>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <% @robots.each do |robot| %>
                    <%= link_to "Print #{robot.name} worksheet",
                                url_for(controller: :batches,
                                        action: :print,
                                        id: @batch.id,
                                        barcode: parent.human_barcode,
                                        robot_id: robot.id),
                                title: "Print worksheet for Plate #{parent.human_barcode}",
                                class: 'dropdown-item' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </td>
            <td>
            <% if fluidigm_target?(@batch) %>
                <%= link_to 'Fluidigm file', url_for(controller: :plates, action: :fluidigm_file, id: parent.id,  format: :csv), type: 'text/csv', title: "Fluidigm file for Plate #{parent.fluidigm_barcode}" %>
            	<% else  -%>
                <div class="btn-group btn-group-sm">
                  <%= link_to icon('fas', 'file-download', "Download #{@robot.name} File"),
                              batch_robot_driver_file_path(@batch, @robot, barcode: parent.human_barcode),
                              title: "#{@robot.name} file for Plate #{parent.human_barcode}",
                              class: 'btn btn-primary'
                  %>
                  <% unless @robots.empty? %>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <% @robots.each do |robot| %>
                      <%= link_to "Download #{robot.name} file",
                                  batch_robot_driver_file_path(@batch, robot, barcode: parent.human_barcode),
                                  title: "#{robot.name} for Plate #{parent.human_barcode}",
                                  class: 'dropdown-item' %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end -%>
            </td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;"><%= requests.size %></td>
          <% if output_plate %><td style="background:red;">&nbsp;</td><% end %>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
        </tr>
      <% end %>
    <% end -%>
  </tbody>
</table>
