
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Barcode</th>
      <th>Wells</th>
      <th>Plate Link</th>
      <% if output_plate %>
        <th>Plate's Purpose</th>
        <th>Worksheet Link</th>
        <th>Robot File</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% request_groups.each do |group, requests| -%>
      <% next if group.blank? %>

      <% parent  = @pipeline.group_by_parent? && ( pid = group.shift ) && Labware.find(pid) %>
      <% unless parent.nil? %>
        <tr>
          <td><%= link_to parent.id, labware_path(parent) %></td>
          <td><%= parent.human_barcode %></td>
          <td><%= requests.size %></td>
          <td><%= link_to 'Show plate', show_plate_labware_path(parent)%></td>
          <% if output_plate %>
            <td><%= purpose_for_labware(parent) %></td>
            <td><%= link_to 'Print worksheet',
                            url_for(controller: :batches,
                                    action: :print,
                                    id: @batch.id,
                                    barcode: parent.human_barcode),
                            title: "Print worksheet for Plate #{parent.human_barcode}" %></td>
            <td>
              <% if fluidigm_target?(@batch) %>
                <%= link_to 'Fluidigm file', url_for(controller: :plates, action: :fluidigm_file, id: parent.id,  format: :csv), type: 'text/csv', title: "Fluidigm file for Plate #{parent.fluidigm_barcode}" %>
            	<% else  -%>
                <%= link_to 'Tecan file', url_for(controller: :batches, action: :gwl_file, id: @batch.id, barcode: parent.human_barcode), title: "Tecan file for Plate #{parent.human_barcode}" %>
              <% end -%>
            </td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;"><%= requests.size %></td>
          <% if output_plate %><td style="background:red;">&nbsp;</td><% end %>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
        </tr>
      <% end %>
    <% end -%>
  </tbody>
</table>

