
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Barcode</th>
      <th>Wells</th>
      <th>Plate Link</th>
      <th>Purpose</th>
      <% if show_pick_data %>
        <th>Worksheet Link</th>
        <th>Robot Files</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% listed_labware.each do |labware| -%>
      <% unless labware.nil? %>
        <tr>
          <td><%= link_to labware.id, labware_path(labware) %></td>
          <td><%= labware.human_barcode %></td>
          <td><%= labware.request_count %></td>
          <td><%= link_to 'Show plate', show_plate_labware_path(labware)%></td>
          <td><%= purpose_for_labware(labware) %></td>
          <% if show_pick_data %>
            <td>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= icon('fas', 'print') %> Print worksheet
                </button>
                <div class="dropdown-menu">
                  <% @robots.each do |robot| %>
                    <% selected_robot = @robot.id == robot.id %> <%# Flag the selected robot in previous steps %>
                    <%= link_to "Print #{robot.name} worksheet",
                                url_for(controller: :batches,
                                        action: :print,
                                        id: @batch.id,
                                        barcode: labware.human_barcode,
                                        robot_id: robot.id),
                                title: "Print worksheet for Plate #{labware.human_barcode}",
                                class: "dropdown-item #{'btn-selected-robot' if selected_robot}" %>
                  <% end %>
                </div>
              </div>
            </td>
            <td>
              <% if fluidigm_target?(@batch) %>
                <%= link_to 'Fluidigm file', url_for(controller: :plates, action: :fluidigm_file, id: labware.id,  format: :csv), type: 'text/csv', title: "Fluidigm file for Plate #{labware.fluidigm_barcode}" %>
              <% else -%>
                <% @robot.pick_numbers(@batch, labware.human_barcode).each do |pick| %>
                  <div class="dropdown btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= icon('fas', 'file-download') %> Download Robot File (Pick <%= pick %>)
                    </button>
                    <div class="dropdown-menu">
                      <% @robots.each do |robot| %>
                        <% selected_robot = @robot.id == robot.id %> <%# Flag the selected robot in previous steps %>
                        <% if robot.generation_behaviour_properties.length == 1 %>
                          <% property = robot.generation_behaviour_properties.first %>
                          <%= link_to "Download #{robot.name} file",
                                    batch_robot_driver_file_path(@batch, robot, barcode: labware.human_barcode, pick_number: pick, generator_id: property.id),
                                    title: "#{property.value} version of #{robot.name} driver file for Plate #{labware.human_barcode}",
                                    class: "dropdown-item #{'btn-selected-robot' if selected_robot}" %>
                        <% else %>
                          <div class="dropdown-submenu">
                            <button type="button" class="dropdown-toggle dropdown-item <%= 'btn-selected-robot' if selected_robot%>"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Download <%= robot.name %> File
                            </button>
                            <div class="dropdown-menu robot-submenu-menu">
                              <% robot.generation_behaviour_properties.each do |property| %>
                                <%= link_to "#{property.value}",
                                        batch_robot_driver_file_path(@batch, robot, barcode: labware.human_barcode, pick_number: pick, generator_id: property.id),
                                        title: "#{property.value} version of #{robot.name} driver file for Plate #{labware.human_barcode}",
                                        class: "dropdown-item" %>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end -%>
            </td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;"><%= labware.request_count %></td>
          <% if output_plate %><td style="background:red;">&nbsp;</td><% end %>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
        </tr>
      <% end %>
    <% end -%>
  </tbody>
</table>
<%= vite_javascript_tag 'robot_behaviours' %>