<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2013,2014,2015 Genome Research Ltd.%>

<table class="sortable table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= link_to "Barcode", "javascript:void(0);" %></th>
      <th><%= link_to "Wells", "javascript:void(0);" %></th>
      <% if output_plate %><th>Plate's Purpose</th><% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% request_groups.each do |group, requests| -%>
      <% next if group.blank? %>

      <% parent  = @pipeline.group_by_parent? && ( pid = group.shift ) && Asset.find(pid) %>
      <% unless parent.nil? %>
        <tr>
          <td><%= link_to parent.id, asset_url(parent) %></td>
          <td><%= parent.sanger_human_barcode %></td>
          <td><%= requests.size %></td>
          <% if output_plate %><td><%= purpose_for_plate(parent) %></td><% end %>
          <td><%= link_to 'Show plate', show_plate_asset_url(parent)%></td>
          <td>
            <% if output_plate -%>
              <%= link_to 'Print worksheet', url_for(controller: :batches, action: :print, id: @batch.id, barcode: parent.barcode), title: "Print worksheet for Plate #{parent.barcode}" %>
            <% end -%>
          </td>
          <td>
            <% if fluidigm_plate(parent) %>
              <%= link_to 'Fluidigm file', url_for(controller: :plates, action: :fluidigm_file, id: parent.id,  format: :csv), type: 'text/csv', title: "Fluidigm file for Plate #{parent.fluidigm_barcode}" %>
          	<% elsif output_plate -%>
              <%= link_to 'Tecan file', url_for(controller: :batches, action: :gwl_file, id: @batch.id, barcode: parent.barcode), title: "Tecan file for Plate #{parent.barcode}" %>
            <% end -%>
          </td>
        </tr>
      <% else %>
        <tr>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;"><%= requests.size %></td>
          <% if output_plate %><td style="background:red;">&nbsp;</td><% end %>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
          <td style="background:red;">&nbsp;</td>
        </tr>
      <% end %>
    <% end -%>
  </tbody>
</table>

