<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2014,2015,2016 Genome Research Ltd.%>

<div class="info">
<% if requests.empty? -%>
<div id="empty_filter">
  No items found. <%= link_to "Create the first one", action: "new" %>
</div>
<% else -%>
<table width="100%" cellpadding="5" cellspacing="0" class="sortable">
  <thead>
    <tr>
      <% if edit -%>
        <th width="3%"><%= link_to 'Drag', "javascript:void(0);" %></th>
      <% end -%>
      <th width="5%"><%= link_to 'Order', "javascript:void(0);" %></th>
      <th width="7%"><%= link_to 'Sample', "javascript:void(0);" %></th>
      <th width="7%"><%= link_to 'Request', "javascript:void(0);" %></th>
      <th width="15%"><%= link_to 'Source', "javascript:void(0);" %></th>
      <th width="15%"><%= link_to 'Source barcode', "javascript:void(0);" %></th>
      <th width="15%"><%= link_to 'Target', "javascript:void(0);" %></th>
      <th width="15%"><%= link_to 'Target barcode', "javascript:void(0);" %></th>
      <% if @batch.multiplexed? %>
        <th width="7%"><%= link_to 'Sample name', "javascript:void(0);" %></th>
        <th width="15%"><%= link_to 'Tag #', "javascript:void(0);" %></th>
      <% end %>
      <% @rits.each do |rit| %>
        <th width="7%"><%= link_to rit.id, "javascript:void(0);" %></th>
      <% end %>
      <th width="7%"><%= link_to 'State', "javascript:void(0);" %></th>
      <% if edit -%>
        <th width="5%"><%= link_to 'Remove', "javascript:void(0);" %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody id="item_list">
    <% requests.each_with_index do |request,index| -%>
      <tr id="request_<%= request.id %>" class="<%= cycle("rowodd", "roweven") %> row<%= index %>">
        <% if edit -%>
          <td width="3%" class="center" style="cursor:move;"><%= image_tag "arrow_out.png", size: "13x13" %></td>
        <% end -%>
          <td width="5%"><%= request.position %></td>
          <td width="7%"><%= request.sample_name %></td>
          <td><%= link_to request.id, request_path(request) %></td>
          <% if request.asset  %>
            <td width="15%"><%= link_to request.asset.display_name, asset_path(request.asset), target: "_blank" %></td>
            <td width="7%"><%= request.asset.barcode %></td>
            <% if request.target_asset %>
              <td width="15%"><%= link_to request.target_asset.display_name, asset_path(request.target_asset), target: "_blank" %></td>
              <td width="7%"><%= request.target_asset.barcode %></td>
            <% else %>
              <td width="15%"></td>
              <td width="15%"></td>
            <% end %>
          <% else %>
            <td width="15%"></td>
            <td width="7%"></td>
            <td width="7%"></td>
          <% end %>
        <% if @batch.multiplexed? -%>
          <td><%= request.sample_name('-') -%></td>
          <% unless request.tag_number.empty? %>
            <td><%= request.tag_number -%></td>
          <% else %>
          <td> - </td>
          <% end %>
        <% end %>
        <% @rits.each do |rit| %>
          <td width="10%"><%= request.value_for(rit.name, @batch) %></td>
        <% end %>
        <td width='5%'><%= request.state.humanize %></td>
        <% if edit -%>
          <td width="5%" class="center"><%= link_to image_tag("delete.png", size: "13x13"), action: "remove_request", id: @batch.id, request_id: request.id %></td>
        <% end -%>

      </tr>
    <% end -%>
  </tbody>
</table>
<% end -%>
<br />
</div>
