
<div class="info">
  <% if requests.empty? -%>
    <div id="empty_filter">
      No libraries found.
    </div>
  <% else -%>
    <table class="sortable">
      <thead>
        <tr>
          <th>Sample</th>
          <th>Library ID</th>
          <th>Library</th>
          <th>Request</th>
          <th>Cycles</th>
          <th>Order</th>
          <th>From</th>
          <th>To</th>
          <th>Conc.</th>
          <% @batch.pipeline.request_actions.each do |action| -%>
            <th class="nosort">
              <%= action.to_s.capitalize %>
              <input type='checkbox' id='select_all_<%= action.to_s %>' class='select_all' data-action='<%= action.to_s %>'>
            </th>
          <% end %>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% requests.each_with_index do |request, index| -%>
          <tr>
            <td>
              <% request.asset&.parents&.each do |parent| %>
                <%= link_to parent.human_barcode, labware_path(parent), target: "_blank" %>
              <% end %>
            </td>

            <% if  request.asset %>
              <td><%= request.asset.try(:numan_barcode) %></td>
              <td><%= h(request.asset.display_name) %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>

            <td><%= link_to request.id, request_url(request), target: "_blank" %></td>
            <td><%= request.value_for("Read length", @batch) %></td>
            <td><%= request.position %></td>
            <td><%= request.value_for("Fragment size required (from)", @batch) %></td>
            <td><%= request.value_for("Fragment size required (to)", @batch) %></td>
            <td><%= request.value_for("Concentration", @batch) %></td>

            <% if request.failures.empty? -%>
              <% if request.asset && request.asset.resource? -%>
                <% @batch.pipeline.request_actions.each do |action| -%>
                  <td class="7%"><input name='requested_fail[control]' type='checkbox'></td>
                <% end %>
              <% else -%>
                <% @batch.pipeline.request_actions.each do |action| -%>
                  <td class="7%">
                    <label for="requested_<%= action.to_s %>_<%= request.id %>" style="display:none;"><%= action.to_s.capitalize %> request <%= index+1 %></label>
                    <input name='requested_<%= action.to_s %>[<%= request.id %>]' id="requested_<%= action.to_s %>_<%= request.id %>" type='checkbox' class='select_<%= action.to_s %> select_all_target' data-action='<%= action.to_s %>'>
                  </td>
                <% end %>
              <% end -%>
            <% else -%>
              <% @batch.pipeline.request_actions.each do |action| -%>
                <td class="7%">&nbsp;</td>
              <% end %>
            <% end -%>
            <td class="7%"><%= item_status(request) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end -%><br />
</div>
