<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2013,2014,2015,2016 Genome Research Ltd.%>

<div class="info">
  <% if requests.empty? -%>
    <div id="empty_filter">
      No libraries found.
    </div>
  <% else -%>
    <table width="100%" cellpadding="5" cellspacing="0" class="sortable">
      <thead>
        <tr>
          <th width="7%"><%= link_to 'Sample', "javascript:void(0);" %></th>
          <th width="7%"><%= link_to 'Library ID', "javascript:void(0);" %></th>
          <th width="15%"><%= link_to 'Library', "javascript:void(0);" %></th>
          <th width="7%"><%= link_to 'Request', "javascript:void(0);" %></th>
          <th width="7%"><%= link_to 'Cycles', "javascript:void(0);" %></th>
          <th width="7%"><%= link_to 'Order', "javascript:void(0);" %></th>
          <th width="7%"><%= link_to 'From', "javascript:void(0);" %></th>
          <th width="7%"><%= link_to 'To', "javascript:void(0);" %></th>
          <th width="7%"><%= link_to 'Conc.', "javascript:void(0);" %></th>
          <% @batch.pipeline.request_actions.each do |action| -%>
            <th class="nosort" width="7%">
              <%= action.to_s.capitalize %>
              <input type='checkbox' id='select_all_<%= action.to_s %>' class='select_all' data-action='<%= action.to_s %>'>
            </th>
          <% end %>
          <th width="7%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% requests.each_with_index do |request, index| -%>
          <tr>
            <% if request.asset && request.asset.parent %>
              <td width="7%"><%= link_to request.asset.parent.barcode, asset_url(request.asset.parent), target: "_blank" %></td>
            <% else %>
              <td width="7%"></td>
            <% end %>

            <% if  request.asset %>
              <td width="7%"><%= request.asset.barcode %></td>
              <td width="15%"><%= h(request.asset.display_name) %></td>
            <% else %>
              <td width="7%"></td>
              <td width="15%"></td>
            <% end %>

            <td width="7%"><%= link_to request.id, request_url(request), target: "_blank" %></td>
            <td width="7%"><%= request.value_for("Read length", @batch) %></td>
            <td width="7%"><%= request.position %></td>
            <td width="7%"><%= request.value_for("Fragment size required (from)", @batch) %></td>
            <td width="7%"><%= request.value_for("Fragment size required (to)", @batch) %></td>
            <td width="7%"><%= request.value_for("Concentration", @batch) %></td>

            <% if request.failures.empty? -%>
              <% if request.asset && request.asset.resource? -%>
                <% @batch.pipeline.request_actions.each do |action| -%>
                  <td class="7%"><input name='requested_fail[control]' type='checkbox'></td>
                <% end %>
              <% else -%>
                <% @batch.pipeline.request_actions.each do |action| -%>
                  <td class="7%">
                    <label for="requested_<%= action.to_s %>_<%= request.id %>" style="display:none;"><%= action.to_s.capitalize %> request <%= index+1 %></label>
                    <input name='requested_<%= action.to_s %>[<%= request.id %>]' id="requested_<%= action.to_s %>_<%= request.id %>" type='checkbox' class='select_<%= action.to_s %> select_all_target' data-action='<%= action.to_s %>'>
                  </td>
                <% end %>
              <% end -%>
            <% else -%>
              <% @batch.pipeline.request_actions.each do |action| -%>
                <td class="7%">&nbsp;</td>
              <% end %>
            <% end -%>
            <td class="7%"><%= item_status(request) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end -%><br />
</div>
