<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012,2013,2015 Genome Research Ltd.%>
<div id="header">
    <h1>Batch <%= batch.id %> - <%= batch.study.name %></h1>
    <div id="batchbarcode_<%= plate_barcode %>">
      <img src='<%= "#{configatron.barcode_images_url}/barcode_images/ean13/0#{Barcode.calculate_barcode('BA',batch.id)}" %>' alt="batchbarcode_<%= plate_barcode %>"/>
    </div>
</div>

<div id="plate_details">
  <div id="sourceplates">
  <h2>Source plates</h2>
  <table>
     <thead>
       <tr>
         <th>Bed</th>
         <th>Plate name</th>
         <th>Barcode</th>
         <th>Storage Area</th>
         <th>Freezer</th>
         <th>Building Area</th>
       </tr>
     </thead>
     <tbody>
       <% source_plate_colour = {} %>
       <% robot_plate_layout[1].sort{|a,b| a[1]<=>b[1]}.each do |barcode,index| -%>
         <% plate = Plate.find_from_machine_barcode(barcode) %>
         <% location_data = plate.get_storage_location %>
         <% source_plate_colour["#{barcode}"] = "colour#{index%12}" %>
       <tr>
         <td>SCRC<%= index %></td>
         <td><%= plate.barcode %></td>
         <td><strong><%= barcode %></strong></td>
         <td><%= location_data["storage_area"] %></td>
         <td><%= location_data["storage_device"] %></td>
         <td><%= location_data["building_area"] %> - <%= location_data["building"] %></td>
       </tr>
       <% end -%>
     </tbody>
   </table>
  </div>

  <div id="destinationplates">
  <h2>Destination plate</h2>
  <table>
     <thead>
       <tr>
         <th>Bed</th>
         <th>Plate name</th>
         <th>Barcode</th>
         <th>Wells</th>
       </tr>
     </thead>
     <tbody>
       <% robot_plate_layout[0].sort{|a,b| a[1]<=>b[1]}.each do |barcode,index| -%>
         <% plate = Plate.find_from_machine_barcode(barcode) %>
       <tr>
         <td>DEST<%= index %></td>
         <th><%= plate.barcode %></td>
         <td><strong><%= barcode %></strong></td>
         <td><%= plate.wells.count %></td>
       </tr>
       <% end -%>
     </tbody>
   </table>
  </div>
</div>


<div id="plate_layouts">
  <% robot_plate_layout[0].sort{|a,b| a[1]<=>b[1]}.each do |barcode,index| -%>
      <% plate = Plate.find_from_machine_barcode(barcode) %>
      <% if plate.buffer_required? %>
        <h3> Buffer Required </h3>
      <% end %>
  <table class="plate_layout">
    <thead>
      <tr>
      <% num_rows = plate.height -%>
      <% num_columns = plate.width -%>
      <th></th>
      <% num_columns.times do |column| -%>
        <th><%= column+1 %></th>
      <% end -%>
      <th></th>
      </tr>
    </thead>
    <tbody>
    <% plate_wells = Hash[plate.wells.map{|w| [w.map.row_order,w]}]%>
    <% num_rows.times do |row| -%>
      <tr>
        <% rowchar = (65+row).chr %>
        <td><strong><%= rowchar %></strong></td>
        <% (num_columns).times do |column| -%>
            <% well = plate_wells[row*num_columns+column] -%>

            <% if  well.present? -%>
            <% request = batch.requests.find_by_target_asset_id(well.id)  %>
              <% if well.parent.present?  &&  request.present?-%>
                <% source_well = request.asset %>
                <% if source_well.plate.is_a?(ControlPlate) %>
                  <td class="control">
                <% elsif source_well.is_a?(Well) %>
                  <td class="<%= source_plate_colour[source_well.plate.ean13_barcode.to_s]%> ">
                <% else %>
                  <td>
                <% end -%>
                <%= source_well.map.description %>
                <%= source_well.plate.barcode %>
                v<%= "%.#{configatron.tecan_precision}f" % well.get_picked_volume %> b<%= "%.#{configatron.tecan_precision}f" % well.get_buffer_volume %>
              <% else %>
              <td>
              <% end -%>
            <% else %>
            <td>
            <% end -%>
            </td>
        <% end -%>
        <td><strong><%= rowchar %></strong></td>
      </tr>
    <% end -%>
    <tr>
      <th></th>
      <% num_columns.times do |column| -%>
        <th><%= column+1 %></th>
      <% end -%>
      <th></th>
    </tr>
    </tbody>
  </table>
  <% end -%>
</div>




  <div id="footer">Created: <%= batch.updated_at.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= batch.user.login %> -
  Printed: <%= Time.now.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= current_user.login %></div>
