
<div id="batch_events">
<table class="table table-striped">
  <thead>
    <th>Event type</th>
    <th>Event description</th>
    <th>Created at</th>
    <th>User</th>
  </thead>
  <tbody>
    <% if events.empty? -%>
      <tr>
        <td colspan="4">No events</td>
      </tr>
    <% else -%>
      <% events.each do |event| -%>
        <% unless event.description.nil? -%>
          <tr>

            <td><span class='<%= event.description.downcase %>'><%= event.description.capitalize %></td>

            <% if event.descriptors.size != 0 -%>
              <td><%= event.descriptor_value "task" %></td>
            <% else -%>
              <td><%= event.message %></td>
            <% end -%>

            <td><%= event.created_at.nil? ? 'Unknown' : event.created_at.strftime("%A %d %B at %H:%M") %></td>
            <td><%= event.user.try(:login)||'Unknown' %></td>
          </tr>
        <% end -%>
      <% end -%>
    <% end -%>
  </tbody>
</table>
</div>
