<% keys = [ "Concentration", "Library type", "Fragment size required (from)", "Fragment size required (to)" ] -%>
<% unwanted_tasks = ["Assign tags"] %>
<% @comment_value = nil -%>
<% @event = nil -%>
<% lab_events = (request.lab_events if request) || [] %>
<div class="request" style="margin-bottom: 15px; border-bottom: 1px solid #d0d0d0; padding-bottom: 10px">
<table width="100%" cellpadding="3" cellspacing="0">
  <thead>
    <tr>
      <td><strong><%= (request.asset.barcode if request) -%></strong></td>
      <% keys.each do |key| -%>
      <td style="font-size: 12px;"><%= key -%></td>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="background: #d0d0d0;"><%= (h(request.asset.display_name) if request) || "&nbsp;" -%></td>
      <% keys.each do |key| -%>
      <td style="background: #d0d0d0;"><%= (request.value_for(key) if request) || "&nbsp;" -%></td>
      <% end -%>
    </tr>
  </tbody>
</table>

<table width="100%" cellpadding="5" cellspacing="5">
  <% tasks.each do |task| -%>
    <% if unwanted_tasks.detect{|ut| ut == task.name}.nil? %>
     <% if (task.name == "Characterisation") %>
       <tr><th align='left' colspan=5>Characterisation</th></tr>
       <% task.descriptors.each do |desc| -%>
         <% lab_events.each do |lab_event| -%>
           <% lab_event.descriptors.each do |d| -%>
             <% if desc.name == d.name -%>
               <% @event = lab_event -%>
             <% end -%>
           <% end -%>
         <% end -%>
           <tr>
             <td><%= (desc.name) || "&nbsp;" -%></td>
             <td colspan=4 class="field"><%= (@event.descriptor_value_for(desc.name) if @event) || "&nbsp;" %></td>
           </tr>
        <% end %>
     <% else %>
      <tr>
        <td rowspan="2"><strong><%= task.name -%></strong></td>
        <% task.descriptors.each do |desc| -%>
          <% lab_events.each do |lab_event| -%>
            <% lab_event.descriptors.each do |d| -%>
              <% if desc.name == d.name -%>
                <% @event = lab_event -%>
              <% end -%>
            <% end -%>
          <% end -%>

          <% if desc.name == "Comments" -%>
            <% @comment_value = @event ? @event.descriptor_value_for(desc.name) : "&nbsp;" -%>
          <% else -%>
            <td><%= (desc.name) || "&nbsp;" -%></td>
          <% end -%>
        <% end -%>
      </tr>
      <tr>
        <% task.descriptors.each do |desc| -%>
          <% unless desc.name == "Comments" -%>
            <td class="field"><%= (@event.descriptor_value_for(desc.name) if @event) || "&nbsp;" %></td>
          <% end -%>
        <% end -%>
      </tr>
      <% end %>
    <% end %>
  <% end -%>
</table>
</div>
