
<% add :about, "Verifying tube layout" %>
<% add :menu, "View all batches" => batches_path %>
<% add :menu, "Back to batch" => batch_path(@batch) %>
<% add :back_menu, "Back to pipeline" => pipeline_path(@batch.pipeline) %>

<%= page_title 'Verify Tube Layout', "Batch #{@batch.id}" %>
<div class="info">
  Please scan the barcodes from the sample tubes into the table below.
</div>

<%= form_tag action: @form_action, id: @batch.id  do %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <% @count.times do |i| %>
      <td width="12.5%">Position <%= i + 1 %></td>
    <% end %>
  </tr>
  <tr>
    <% @count.times do |i| %>
      <td><%= text_field_tag "barcode_#{i}", "",  { size: 13 } %></td>
    <% end %>
  </tr>
</table>
<br />
<div class="info">
  <%= submit_tag "Check" %>
</div>
<% end %>
