
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "print" %>
  <%= stylesheet_link_tag "print", media: "print" %>
  <%= vite_javascript_tag "worksheet", media: "print" %>
  <title>Batch <%= @batch.id %></title>
</head>
<body data-enable-printing="<%= ["cucumber", "test"].exclude?(Rails.env) %>">
  <% @plates.each do |plate| %>
    <% pick_to_layout = @robot.pick_number_to_expected_layout(@batch, plate.human_barcode) %>
    <% pick_to_layout.each do |pick_number, robot_plate_layout| %>
      <div id="worksheet_plate_<%= plate.human_barcode %>_pick_<%= pick_number %>">
        <%= render partial: 'cherrypick_single_worksheet' , locals: {batch: @batch, pick_number: pick_number, num_picks: pick_to_layout.size, robot_plate_layout: robot_plate_layout, plate_barcode: plate.human_barcode, robot: @robot} %>
        <hr>
      </div>
    <% end%>
  <% end %>
</body>
</html>
