<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag "print" %>
    <%= stylesheet_link_tag "print",media: "print" %>
    <title>Batch <%= @batch.id %></title>
  </head>
  <body>
    <div style="display: block;">
      <div style="float: left; width: 10em; margin: 0">
        <h1>Batch <%= @batch.id %></h1>
      </div>
      <div style="float: right; width: 30em; margin: 0">
        <h3>Created by: <%= @batch.user.login %><br />Created on: <%= @batch.updated_at.strftime("%I:%M %p on %A %d %B, %Y") %></h3>
      </div>
    </div>
    <div style="clear:both"></div>
    <br />
    <br />
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Source barcode</th>
          <th>Target barcode</th>
          <th>Request ID</th>
        </tr>
      </thead>
      <tbody>
        <% @batch.requests.each do |request| -%>
          <tr>
            <td><%= h(request.asset.display_name) %></td>
            <td><%= request.asset.barcode %></td>
            <td><%= request.target_asset.barcode %></td>
            <td><%= request.id %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
    <br />
    <br />
    <% if @pipeline.prints_a_worksheet_per_task? %>
      <%= render partial: "request", collection: @batch.ordered_requests, locals: { tasks: [@task] } -%>
    <% else %>
      <%= render partial: "request", collection: @batch.ordered_requests, locals: { tasks: @workflow.tasks } -%>
    <% end %>

    <div class="footer">Printed at <%= Time.now.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= current_user.login %></div>

    <script language="javascript">
      window.print();
    </script>
  </body>
</html>
