

<% add :menu, "Finish editing" => batch_path(@batch) -%>
<% add :menu, "Swap lanes editing" => filtered_batch_path(@batch) -%>
<% add :back_menu, "View all batches" => batch_path(@batch) -%>

<%= page_title('Batch', @batch.id) %>

<div class="info">
  This batch belongs to pipeline: <%= @batch.pipeline.name %>
</div>

<% if @requests.empty? -%>
  <div id="empty_filter">
    No items found. <%= link_to "Create the first one", action: "new" %>
  </div>
<% else -%>
  <%= render partial: "shared/batch", locals: { requests: @requests, edit: true, stage: false  } %>
<%- end -%>

<h2>Assign Batch to User</h2>
<div class="content">
  <div class="info">
  Assign this batch to another user
  </div>
  <div>
    <%= form_for @batch do |form| -%>
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="45%" class="item"><%= select :assignee_id, @users.pluck(:login,:id), selected: @batch.assignee_id||current_user.id %></td>
          <td width="55%"><%= submit_tag :pipeline, value: "Assign" %></td>
        </tr>
      </table>
    <% end -%>
  </div>
</div>
  <% if @batch.pending? %>
  <h2>Reset Batch</h2>
  <div class="content">
    <div class="info">
      This will release all requests in the batch back into the inbox. The batch itself will be destroyed, target assets, such as lanes, will be removed.
    </div>
    <div>
      <%= form_tag(controller: :batches, action: :reset_batch, id: @batch.id) do -%>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="45%" class="item"><%= submit_tag "Reset", confirm: 'Do you really want to do this?' %></td><td width="55%"></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if can? :rollback, @batch -%>
    <h2>ROLLBACK QC</h2>
    <div class="content">
      <div class="info">
        This will move the batch to it's previous QC state.
      </div>
      <div>
        <%= form_tag(controller: :batches, action: :previous_qc_state, id: @batch.id) do -%>
          <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td width="45%" class="item"><%= submit_tag "Move to previous state", confirm: 'Do you really want to do this?' %></td><td width="55%"></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  <% end %>
