<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2013,2015 Genome Research Ltd.%>

<% add :title, "Batch" -%>
<% add :menu, "Finish editing" => batch_path(@batch) -%>
<% add :menu, "Swap lanes editing" => filtered_batch_path(@batch) -%>
<% add :back_menu, "View all batches" => batch_path(@batch) -%>

<h1>BATCH <%= @batch.id %></h1>
<div class="info">
  This batch belongs to pipeline: <%= @batch.pipeline.name %>
</div>

<% if @requests.empty? -%>
  <div id="empty_filter">
    No items found. <%= link_to "Create the first one", action: "new" %>
  </div>
<% else -%>
  <%= render partial: "shared/batch", locals: { requests: @requests, edit: true, stage: false  } %>
<%- end -%>

<% if !@batch.has_control? && @batch.pipeline.has_controls? -%>
<h1>CONTROLS</h1>
<%= render partial: "controls" %>
<% end -%>

<h2>ASSIGN BATCH TO USER</h2>
<div class="content">
  <div class="info">
  Assign this batch to another user
  </div>
  <div>
    <%= form_for @batch do |form| -%>
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="45%" class="item"><%= select :assignee_id, @users.pluck(:login,:id), selected: @batch.assignee_id||current_user.id %></td>
          <td width="55%"><%= submit_tag :pipeline, value: "Assign" %></td>
        </tr>
      </table>
    <% end -%>
  </div>
</div>
  <% if @batch.pending? %>
  <h2>RESET BATCH</h2>
  <div class="content">
    <div class="info">
      This will release all requests in the batch back into the inbox. The batch itself will be destroyed, target assets, such as lanes, will be removed.
    </div>
    <div>
      <%= form_tag(controller: :batches, action: :reset_batch, id: @batch.id) do -%>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="45%" class="item"><%= submit_tag "Reset", confirm: 'Do you really want to do this?' %></td><td width="55%"></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if current_user.is_administrator? -%>
  <h2>ROLLBACK QC</h2>
  <div class="content">
    <div class="info">
      This will move the batch to it's previous QC state.
    </div>
    <div>
      <%= form_tag(controller: :batches, action: :previous_qc_state, id: @batch.id) do -%>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="45%" class="item"><%= submit_tag "Move to previous state", confirm: 'Do you really want to do this?' %></td><td width="55%"></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>

<% end %>
