<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Swap Batches" -%>
<% add :menu, "View all batches" => {action: :all} -%>
<% add :back_menu, "Back to all pipelines" => pipelines_path -%>

<h1>Batch <%= @batch.id %></h1>
<div class="content">
  <div class="info">
  </div>
  <%= form_tag swap_batch_path(@batch) do %>
    <h3>First Batch</h3>
    <div><%= label_tag "batch_1", "<strong>ID:</strong>" %><br /><%= text_field_tag "batch[1]", @batch.id %></div>
    <div><%= label_tag "position_batch_1", "<strong>Position:</strong>" %><br /><%= text_field_tag "batch[position][1]" %></div>
    <br />
    <h3>Second Batch</h3>
    <div><%= label_tag "batch_2", "<strong>ID:</strong>" %><br /><%= text_field_tag "batch[2]" %></div>
    <div><%= label_tag "position_batch_2", "<strong>Position:</strong>" %><br /><%= text_field_tag "batch[position][2]" %></div>
    <br />
    <%= submit_tag "Swap positions" %>
  <% end %>
</div>
