
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= vite_stylesheet_tag "print", media: "all" %>
  <%= vite_javascript_tag "worksheet" %>
  <title>Batch <%= @batch.id %></title>
</head>
<body data-enable-printing="<%= ["cucumber", "test"].exclude?(Rails.env) %>">

 <div id="header">
      <div class="page-header"><h1>Batch <%= @batch.id %></h1></div>
  </div>

<div>
  <p>This batch belongs to a legacy pipeline. Unfortunately it is no longer possible to generate a worksheet. Please contact PSD if you need assistance.</p>
</div>

  <div id="footer">Created: <%= @batch.updated_at.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= @batch.user.login if @batch.user %> -
  Printed: <%= Time.now.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= current_user.login if current_user %></div>
</body>
</html>
