<div class="info">
  <h2>Create Stock Library Tubes for Batch <%= @batch.id %></h2>
  <%= Date.today %>
</div>
<div class="info">
  <%= form_tag ('/assets/create_stocks', :multipart => true) %>
    <%= hidden_field_tag "batch_id", "#{@batch.id}" %>
     <table cellpadding="4" cellspacing="0" width="50%">
       <thead>
        <th width="30%">Name</th><th>Volume (&#181;L)</th><th>Concentration (nM)</th>
       </thead>
       <% @assets.each do |asset_id, stock_asset| %>
         <tr>
           <td><%= text_field_tag "assets[#{asset_id}][name]", "#{stock_asset.name}" %>
           <td><%= text_field_tag "assets[#{asset_id}][volume]" %></td>
           <td><%= text_field_tag "assets[#{asset_id}][concentration]" %></td>
         </tr>
       <% end %>
     </table>
     <%= submit_tag 'Save' %>
</div>
