<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, "Print labels" -%>
<% add :back_menu, "Back to batch" => batch_path(@batch) -%>

<h1>PRINT LABELS</h1>
<div class="content">
  <div class="info">
    Print labels for Batch <%= @batch.id %>
  </div>
  <div class="info">
    <form action='/batches/print_multiplex_barcodes' method='POST'>
    <%= render partial: "shared/print" %>
        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="35%" class="item">Number of copies:</td>
          <td width="65%"><input name="count" size="10" /></td>
        </tr>
        <tr>
          <td width="35%" class="item">Label for completed multiplexed library:</td>
        </tr>
        <tr>
          <td width="35%" class="item"><%= h(@asset.display_name) %></td>
          <td width="65%"><input type='checkbox' checked='on' name='printable[<%= @asset.id %>]'></td>
          <td></td>
        </tr>
        <tr>
          <td width="35%" class="item">&nbsp;</td>
          <td width="65%"><input type='submit' value='Print labels'> or <%= link_to 'cancel', controller: 'batches', action: 'show', id: @batch.id %></td>
        </tr>
      </table>
    <input type='hidden' name='batch_id' value='<%= @batch.id %>' />
  </div>
</div>
