<% add :title, "Print plate labels" -%>
<% add :back_menu, "Back to batch" => batch_path(@batch) -%>

<h1>PRINT LABELS</h1>
<div class="content">
  <div class="info">
    Print labels for Batch <%= @batch.id %>
  </div>
  <div class="info">
    <form action='/batches/print_plate_barcodes' method='POST'>
      <table width="100%" cellspacing="0" cellpadding="0">
        <% if @batch.multiplexed? %>
        <tr>
          <td>Labels for requests and tag numbers </td>
        </tr>
        <% end %>
        </table>

        <%= render :partial => "shared/plate_print" %>
        <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="35%" class="item">Number of copies:</td>
          <td width="65%"><input name="count" size="10" value="1" /></td>
        </tr>

          <% @output_barcodes.each do |plate| -%>
            <tr>
              <td width="35%" class="item"><label for="plate_<%= plate %>"><%= plate %></label></td>
              <td width="65%"><input id="plate_<%= plate  %>" type='checkbox' checked='on' name='printable[<%= plate  %>]'></td>
            </tr>
          <% end -%>
        <tr>
          <td width="35%" class="item">&nbsp;</td>
          <td width="65%"><input type='submit' value='Print labels'> or <%= link_to 'cancel', :controller => 'batches', :action => 'show', :id => @batch.id %></td>
        </tr>
      </table>
    <input type='hidden' name='batch_id' value='<%= @batch.id %>' />
  </div>
</div>
