<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "print" %>
  <%= stylesheet_link_tag "print",media: "print" %>
  <title>Batch <%= @batch.id %></title>
</head>
<body>

 <div id="header">
      <h1>Batch <%= @batch.id %> for plate <%= @plate.barcode %></h1>
      <div id="batchbarcode_<%= @plate.barcode %>">
        <img src='<%= "#{configatron.barcode_images_url}/barcode_images/ean13/0#{Barcode.calculate_barcode('BA',@batch.id)}" %>' alt="batchbarcode_<%= @plate.barcode %>"/>
      </div>
  </div>

<table id="pulldown_worksheet_details">
  <thead>
    <tr>
     <th>Pooled Tube</th>
     <th>Plate</th>
     <th>Well</th>
     <th>Tag</th>
     <th>Sample</th>
    </tr>
  </thead>
  <tbody>
    <% well_submission_colours = AssignTagsToWellsTask.new.map_asset_ids_to_normalised_index_by_submission(@batch.requests) %>
    <% Request::GroupingHelpers.sort_grouped_requests_by_submission_id(@batch.requests).each do |request| %>
      <% well, source_well = request.asset, request.asset
      # follow transfer request until the multiplexed one
      while transfer_requests=well.requests.select { |r| r.is_a?(TransferRequest) }  and transfer_requests.size == 1
        target_well = transfer_requests.first.target_asset
        break unless target_well.is_a?(Well)
        well=target_well
        break if well.primary_aliquot.try(:tag)
      end


    %>
      <% next unless well %>
      <% submission_colour = (well && well_submission_colours[well.id] ) ? "colour#{well_submission_colours[well.id]%12}"  : '' %>
    <tr>
      <td class="<%= submission_colour %>"><%= request.target_asset.barcode            if request.target_asset %></td>
      <td class="<%= submission_colour %>"><%= source_well.plate.sanger_human_barcode  if source_well.plate %></td>
      <td class="<%= submission_colour %>"><%= source_well.map.description             if source_well.map %></td>
      <td class="<%= submission_colour %>"><%= well.primary_aliquot.tag.name           if well.primary_aliquot.present? and well.primary_aliquot.tag.present? %></td>
      <td class="<%= submission_colour %>"><%= well.primary_aliquot.sample.name        if well.primary_aliquot.present? and well.primary_aliquot.sample.present? %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  <div id="footer">Created: <%= @batch.updated_at.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= @batch.user.login if @batch.user %> -
  Printed: <%= Time.now.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= current_user.login if current_user %></div>
  <script language="javascript">
     window.print();
  </script>
</body>
</html>
