<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2014,2015,2016 Genome Research Ltd.%>

<% add :title, "Processing batch" -%>
<% add :menu, "Back to batch" => url_for(controller: :batches, action: :show, id: @batch.id) -%>

<h1>MANUAL QC FOR BATCH <%= @batch.id %></h1>
<table width="100%" cellpadding="4" cellspacing="0">
  <tr>
    <th width="5%">Library QC state (not in use)</th>
    <th width="5%">Lane QC state (shown in NPG)</th>
    <th width="5%">Request state (shown in Studies)</th>
    <th width="5%">Sample</th>
    <th width="7%">Library ID</th>
    <th width="15%">Library</th>
    <th width="7%">Request</th>
    <th width="4%">Cycles</th>
    <th width="4%">Order</th>
    <th width="4%">From</th>
    <th width="4%">To</th>
    <th width="4%">Conc.</th>
  </tr>

  <% @batch.batch_requests.each do |br| -%>
    <tr class='rowB'>
      <td>
          <%= br.request.asset.qc_state %>
      </td>
      <td>
        <% if br.request.target_asset %>
          <%= br.request.target_asset.qc_state %>
        <% end %>
      </td>
      <td>
            <%= br.request.state %>
      </td>
      <td>
        <%= link_to br.request.asset.id, asset_url(br.request.asset) %>
      </td>
      <td>
        <%= br.request.asset.barcode %>
      </td>
      <td>
        <%= h(br.request.asset.display_name) %>
      </td>
      <td>
        <%= br.request.id %>
      </td>
      <td>
        <%= br.request.value_for("Read length", @batch) %>
      </td>
      <td>
        <%= br.request.position %>
      </td>
      <td>
        <%= br.request.value_for("Fragment size required (from)", @batch) %>
      </td>
      <td>
        <%= br.request.value_for("Fragment size required (to)", @batch) %>
      </td>
      <td>
        <%= br.request.value_for("Concentration", @batch) %>
      </td>
    </tr>
  <% end -%>
</table>
<div class="info">
  <ul>
    <li><%= link_to "Back to batch", controller: "batches", action: "show", id: @batch.id %></li>
  </ul>
</div>
