<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2014,2015,2016 Genome Research Ltd.%>

<% add :title, "Process your batch or change its composition" -%>
<% @submenu_presenter.each_option do |option| -%>
  <% add :menu, option[:label] => option[:url] -%>
<% end -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@pipeline) -%>

<%= page_title 'Batch', @batch.id %>
<h2><% if @batch.failed? -%> (FAILED)<% end -%> <% if @batch.multiplexed? -%> (MULTIPLEXED)<% end -%></h2>
<div class="info">
  Created at: <%= @batch.created_at.to_formatted_s(:full) %><br />
  This batch belongs to pipeline: <%= @pipeline.name %>
</div>

<% if @pipeline.group_by_parent %>
  <div id="input_assets">
    <h3>Input</h3>

    <%= render partial: "assets", locals: {output_plate: false, request_groups: @input_assets } %>
  </div>
  <% unless @output_assets.blank? %>
    <div id="output_assets">
      <h3>Output</h3>
      <%= render partial: "assets", locals: {output_plate: true, request_groups: @output_assets }%>
    </div>
  <%end %>
  <br/>
<% else %>
  <%= render partial: "shared/batch", locals: { requests: @batch.ordered_requests.include_for_batch_view, edit: false, stage: false } %>
<% end %>

<h3>Events</h3>
<%= render partial: "events", locals: { events: @batch.lab_events } %>

<% if @batch.show_actions?  %>
  <%= render partial: "shared/actions" %>
<% elsif @batch.show_fail_link? %>
  <ul>
    <li><%= link_to "Fail batch or items", action: "fail", id: @batch.id %></li>
  </ul>
<% end %>
