
<% add :about, "Process your batch or change its composition" -%>
<% @submenu_presenter.each_option do |option| -%>
  <% add :menu, option[:label] => option[:url] -%>
<% end -%>
<% add :back_menu, "Back to pipeline" => pipeline_path(@pipeline) -%>

<%= page_title 'Batch', @batch.id %>
<h2>
  <%= badge(@batch.state, type: 'batch-state') -%>
  <% if @batch.multiplexed? %>
    <%= badge('Multiplexed', type: 'batch-mx', style: 'primary') %>
  <% end %>
</h2>

<%= alert(:info) do %>
  Created at: <%= time_tag( @batch.created_at) %><br />
  This batch belongs to pipeline: <%= @pipeline.name %>
<% end %>

<% if @pipeline.group_by_parent %>
  <%= panel_no_body :default, title: 'Input', id: 'input_assets' do %>
    <%= render partial: "assets", locals: {show_pick_data: false, listed_labware: @input_labware } %>
  <% end %>

  <% unless @output_labware.blank? %>
    <%= panel_no_body :default, title: 'Output', id: 'output_assets' do %>
      <%= render partial: "assets", locals: {show_pick_data: @pipeline.pick_data, listed_labware: @output_labware }%>
   <% end %>
  <%end %>
  <br/>
<% else %>
  <%= render partial: "shared/batch", locals: { requests: @batch.ordered_requests.include_for_batch_view, edit: false, stage: false } %>
<% end %>

<%= panel_no_body :default, title: 'Events' do %>
  <%= render partial: "events", locals: { events: @batch.lab_events } %>
<% end %>

<% if @batch.show_actions?  %>
  <%= render partial: "shared/actions", locals: { batch: @batch } %>
<% elsif @batch.show_fail_link? %>
  <ul>
    <li><%= link_to "Fail batch or items", action: "fail", id: @batch.id %></li>
  </ul>
<% end %>
