<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2014,2015 Genome Research Ltd.%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Batch <%= @batch.id %></title>
</head>
<%= stylesheet_link_tag "print",media: "print" %>
<body>
  <% if workflow_name(@batch).present? -%>
    <div style="font-size:40px;text-align:right;padding-right:20px"><%=workflow_name(@batch)%></div>
  <% end -%>
  <h1>Batch <%= @batch.id %></h1>
  <table width="100%" cellpadding="4" cellspacing="0" border="1">
    <thead>
    <% if @batch.workflow.name.include? "HiSeq" -%>
      <tr class="tr_hiseq">
    <% else %>
      <tr>
    <% end %>
        <th>Lane</th>
        <th>Library Barcode</th>
        <th>Library Name</th>
        <th>Dilution Volume</th>
        <th>Library Types</th>
        <th>Number of Cycles</th>
      </tr>
    </thead>
    <tbody>
    <% @batch.ordered_requests.each do |request| -%>
      <% asset = request.asset %>
      <% if asset %>
        <% no_barcode = !asset.respond_to?(:sanger_human_barcode) %>
        <tr>
          <td width="20%">Lane <%= request.position %></td>
          <td><strong><%= asset.sanger_human_barcode unless asset.resource? || no_barcode %></strong></td>
          <td><strong><%= h(asset.display_name) %></strong></td>
          <td><%= request.concentration %></td>
          <td><%= asset.library_types.join(',') %></td>
          <td><%= request.value_for("Read length") unless asset.resource? %></td>
        </tr>
      <% end %>
    <% end -%>
    </tbody>
  </table>
  <br />
  <% if @batch.comments.size > 0 %>
  <table width="100%" cellpadding="4" cellspacing="0" border="0">
    <thead>
      <tr>
        <th align=left>Comments</th>
      </tr>
    </thead>
    <tbody>
    <% @comments.each do |comment| %>
      <tr><td><%= comment.description %></td></tr>
    <% end %>
    </tbody>
    </table>
    <br />
  <% end %>

  <div style="border-top: 1px solid black; border-left: none; border-right: none; border-bottom: none">
  Printed at <%= Time.now.strftime("%I:%M %p on %A %d %B, %Y") %> for <%= current_user.login %>
  </div>

  <script language="javascript">
    window.print();
  </script>
</body>
</html>
