
<% add :about, "Verifying tube layout" %>
<% add :menu, "View all batches" => batches_path %>
<% add :menu, "Back to batch" => batch_path(@batch) %>
<% add :back_menu, "Back to pipeline" => pipeline_path(@batch.pipeline) %>

<%= page_title "Verify #{@verification_flavour.to_s.humanize} Layout", "Batch #{@batch.id}" %>
<div class="info">
  <%= "Please scan the barcodes from the #{@verification_flavour.to_s.humanize.downcase.pluralize} into the table below." %>
</div>

<%= form_tag action: :verify_layout, id: @batch.id  do %>
<%= hidden_field_tag :verification_flavour, @verification_flavour %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <% @count.times do |i| %>
      <td width="12.5%">Position <%= i + 1 %></td>
    <% end %>
  </tr>
  <tr>
    <% @count.times do |i| %>
      <td><%= text_field_tag "barcode_#{i}", "",  { size: 13 } %></td>
    <% end %>
  </tr>
</table>
<br />
<div class="info">
  <%= submit_tag "Check" %>
</div>
<% end %>
