<%#This file is part of SEQUENCESCAPE; it is distributed under the terms of GNU General Public License version 1 or later;
#Please refer to the LICENSE and README files for information on licensing and authorship of this file.
#Copyright (C) 2007-2011,2012 Genome Research Ltd.%>
<% add :menu, "Pulldown Home" => '/pulldown/plates' %>
<% add :menu, "Create Plates" => '/pulldown/plates/new' %>

<h2>Verify plates</h2>
<p>Verify that the source and target plates are correct.</p>

<%= semantic_form_for(:plates, :url => '/pulldown/verifies/validate_plates') do |form| %>
  <%= form.inputs :name => "" do %>
    <%= form.input :source_plate, :required => false %>
    <%= observe_field("plates_source_plate",
          :url => { :action => :source_plate_type },
          :frequency => 0.5,
          :update => :source_plate,
          :with => "'plates[source_plate]='+ escape($('plates_source_plate').value)") %>
    <li><label></label><div id="source_plate" class="selected"></div></li>
    <%= form.input :target_plate, :required => false %>
    <%= observe_field("plates_target_plate",
          :url => { :action => :target_plate_type },
          :frequency => 0.5,
          :update => :target_plate,
          :with => "'plates[target_plate]='+ escape($('plates_target_plate').value)") %>

    <li><label></label><div id="target_plate" class="selected"></div></li>
    <%= form.action(:submit) %>
  <% end %>
<% end %>

