
<% add :about, I18n.t("studies.about") -%>
<% add :back_menu,I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>
<% add :admin_option, "Administer studies" => studies_path -%>

<%= page_title @study.name, 'Comments' %>
<div class='subtitle'>
  Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %>
</div>

<%= render partial: "list", locals: {study: @study } %>
<% if current_user.privileged? @study %>
  <div>
    <%= form_tag(study_comments_path(@study), data: { update: "#study_annotations_#{@study.id}", remote: true }, class:'remote-form') do %>
      <label for='comment'>Type your comment</label>
      <div class="input-group">
        <%= text_field_tag "comment", '',  class:'form-control' %><span class="input-group-btn"><%= submit_tag 'Add comment', class: 'btn btn-success' %></span>
      </div>
    <% end %>
  </div>
<% end %>
