<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2012,2015 Genome Research Ltd.%>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, required: true, class: 'form-control' %>
</p>
<p>
  <%= f.label :snp_count %><br />
  <%= f.number_field :snp_count, required: true, min: 1, step: 1, class: 'form-control' %>
</p>

<%= f.fields_for :programs do |program| %>
  <p>
  <%= f.label 'Pcr 1' %><br />
  <%= program.fields_for 'pcr 1' do |pcr| %>
    <%= f.label :name %><br />
    <%= pcr.text_field :name, value: f.object.programs['pcr 1']['name'], class: 'form-control' %>
    <%= f.label :duration %><br />
    <%= pcr.text_field :duration, value: f.object.programs['pcr 1']['duration'], class: 'form-control' %>
  <% end %>
  </p>
  <p>
  <%= f.label 'Pcr 2' %><br />
  <%= program.fields_for 'pcr 2' do |pcr| %>
    <%= f.label :name %><br />
    <%= pcr.text_field :name, value: f.object.programs['pcr 2']['name'], class: 'form-control' %>
    <%= f.label :duration %><br />
    <%= pcr.text_field :duration, value: f.object.programs['pcr 2']['duration'], class: 'form-control' %>
  <% end %>
  </p>

<% end %>


