
<%= page_title 'Primer Panels', 'Index' %>
<table id="primer_panel_list" class="sortable table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>SNP Count</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  <% @primer_panels.each do |primer_panel| %>
    <tr>
      <td><%= primer_panel.name %></td>
      <td><%= primer_panel.snp_count %></td>
      <td><%= link_to 'Edit', edit_admin_primer_panel_path(primer_panel), title: "Edit #{primer_panel.name}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Primer Panel', new_admin_primer_panel_path, class: 'btn btn-default' %>
