
<h1>Listing request_information_types</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Type</th>
    <th>Width</th>
  </tr>

<% @request_information_types.each do |request_information_type| -%>
  <tr>
    <td><%=h request_information_type.label %></td>
    <td><%=h request_information_type.data_type %></td>
    <td><%=h request_information_type.width %></td>
    <td><%= link_to 'Show', request_information_type %></td>
    <td><%= link_to 'Edit', edit_request_information_type_path(request_information_type) %></td>
    <td><%= link_to 'Destroy', request_information_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New request_information_type', new_request_information_type_path %>
