
<p>
  <strong>Label:</strong>
  <%=h @request_information_type.label %>
</p>

<p>
  <strong>Type:</strong>
  <%=h @request_information_type.data_type %>
</p>

<p>
  <strong>Width:</strong>
  <%=h @request_information_type.width %>
</p>


<%= link_to 'Edit', edit_request_information_type_path(@request_information_type) %> |
<%= link_to 'Back', request_information_types_path %>
