<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<table id="roles_table" class="table table-striped">
  <thead>
    <tr>
      <th>Role</th>
      <th>Type</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @users_roles.each do |role| -%>
    <tr>
      <td><%= link_to role.name.humanize, admin_role_path(role) %></td>
      <% unless role.authorizable.nil? -%>
        <td><%= link_to "#{role.authorizable_type}", role.authorizable -%></td>
        <td><%= link_to "#{role.authorizable.name}", role.authorizable -%></td>
        <td><%= remote_button "Remove",  remove_user_role_admin_user_path(id: @user, role: {authorizable_id: role.authorizable_id, authorizable_type: role.authorizable_type.downcase, authorizable_name: role.name }), { update: "#role_list" }, {class: 'btn btn-danger'} %></td>
      <% else -%>
        <td colspan="3"><%= role.authorizable_type %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>
