<tr class='<%= cycle("rowodd", "roweven") %>'>
  <td><%=h user.name %></td>
  <td><%= user.login %></td>
  <% unless user.created_at.nil? %>
    <td><%=h user.created_at.to_formatted_s(:full) %></td>
  <% else %>
    <td>&nbsp;</td>
  <% end %>
  <td><%= link_to "Show profile", user_path(user) %></td>
  <td><%= link_to "Edit profile", edit_user_path(user), :title => "Edit user #{user.login}" %></td>
  <td><%= link_to "Switch to user", switch_user_path(user) %></td>
</tr>
