<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<tr class='<%= cycle("rowodd", "roweven") %>'>
  <td><%=h user.name %></td>
  <td><%= user.login %></td>
  <% unless user.created_at.nil? %>
    <td><%=h user.created_at.to_formatted_s(:full) %></td>
  <% else %>
    <td>&nbsp;</td>
  <% end %>
  <td><%= link_to "Show profile", admin_user_path(user) %></td>
  <td><%= link_to "Edit profile", edit_admin_user_path(user), title: "Edit user #{user.login}" %></td>
  <td><%= link_to "Switch to user", switch_admin_user_path(user) %></td>
</tr>
