
<%- add :about, "Update your user profile." %>
<%- add :menu, "Back to all users" => admin_users_path %>

<%= page_title "Edit profile", @user.name %>

<%= form_for :user, url: admin_user_path(@user), html: {method: :put, class: 'horizontal-form'} do |f| %>
  <div class="columnize">
    <%= panel :info, title:"User Details" do %>
      <%= form_group do %>
        <label for="user_first_name">First name</label>
        <%= f.text_field :first_name, class: 'form-control' %>
      <% end %>
      <%= form_group do %>
        <label for="user_last_name">Last name</label>
        <%= f.text_field :last_name, class: 'form-control' %>
      <% end %>
      <%= form_group do %>
        <label for="user_email">Email</label>
        <%= f.text_field :email, class: 'form-control' %>
      <% end %>
    <% end %>

    <%= panel :info, title:"Roles" do %>
      <%= form_group(classes='form-check') do %>
        <%= check_box_tag "role[administrator]", "checked", @user.administrator?, class:'form-check-input' %>
        <label class="form-check-label" for="role_administrator">Administrator</label>?
      <% end %>
      <%= form_group(classes='form-check') do %>
        <%= check_box_tag "role[manager]", "checked", @user.manager?, class:'form-check-input' %>
        <label class="form-check-label" for="role_manager">Manager</label>?
      <% end %>
      <%= form_group(classes='form-check') do %>
        <%= check_box_tag "role[lab]", "checked", @user.lab?, class:'form-check-input' %>
        <label class="form-check-label" for="role_lab">Lab</label>?
      <% end %>
      <%= form_group(classes='form-check') do %>
        <%= check_box_tag "role[lab_manager]", "checked", @user.lab_manager?, class:'form-check-input' %>
        <label class="form-check-label" for="role_lab_manager">Lab manager</label>?
      <% end %>
      <%= form_group(classes='form-check') do %>
        <%= check_box_tag "role[owner]", "checked", @user.owner?, class:'form-check-input' %>
        <label class="form-check-label" for="role_owner">Owner</label>?
      <% end %>
      <%= form_group(classes='form-check') do %>
        <%= check_box_tag "role[slf_manager]", "checked", @user.slf_manager?, class:'form-check-input' %>
        <label class="form-check-label" for="role_slf_manager">SLF lab manager</label>?
      <% end %>
      <%= form_group(classes='form-check') do %>
        <%= check_box_tag "role[slf_gel]", "checked", @user.slf_gel?, class:'form-check-input' %>
        <label class="form-check-label" for="role_slf_gel">SLF Gels</label>?
      <% end %>
    <% end %>
  </div>
  <%= submit_tag "Update", class: 'btn btn-success' %> or <%= link_to 'cancel', "javascript:history.back();" %>
<% end %>

<div class="columnize">
  <%= panel(:info, title: "#{@user.name}'s roles") do %>
    <div class="help">You edit these roles independently of any changes above.</div>
    <div id="role_list">
      <% if @users_roles.empty? %>
        <%= alert(:warning) { "This user has no roles. Use the 'Add new roles' form to add the first one" } %>
      <% else %>
        <%= render partial: "roles" -%>
      <% end %>
    </div>
  <% end %>
  <%= panel(:info, title: 'Add new roles') do %>
    <%= render partial: "add_role", locals: {role_class_name: 'Study', authorizable_type: @studies} %>
    <%= render partial: "add_role", locals: {role_class_name: 'Project', authorizable_type: @projects} %>
  <% end %>
</div>
