<% semantic_form_for(:change_tags, :url => bulk_update_change_tags_path) do |form| %>
  <% form.inputs :name => "Change Tags" do %>
<table width="100%" class="sortable library_tube_list" cellpadding="4" cellspacing="0"  >
  <thead>
    <tr>
      <th><%= link_to "Library ID", "javascript:void(0);" %></th>
      <th><%= link_to "Library Tube", "javascript:void(0);" %></th>
      <th><%= link_to "Tag Group", "javascript:void(0);" %></th>
      <th><%= link_to "Existing Tag", "javascript:void(0);" %></th>
      <th><%= link_to "Tag", "javascript:void(0);" %></th>
    </tr>
  </thead>
  <tbody>
    <% @change_tag.library_tubes.each_with_index do |library_tube,index| %>
      <tr>
        <td><%= link_to library_tube.id, asset_path(library_tube) %></td>
        <td><%= link_to library_tube.barcode, asset_path(library_tube) %></td>
        <td><%= library_tube.get_tag.tag_group.try(:name) %></td>
        <td><%= library_tube.get_tag.name %></td>
        <td>
          <%= form.select "library_tubes[#{library_tube.id}]", ([[library_tube.get_tag.name, library_tube.get_tag.id]] | library_tube.sorted_tags_for_select ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @change_tag.library_tubes.each_with_index do |library_tube,index| %>
  <%= form.label "library_tubes[#{library_tube.id}]", "Library Tube Tag #{index}", :style => "display: none;" %>
<% end %>

    <%= form.commit_button %>
  <% end %>
<% end %>



