<h1>Listing activities</h1>

<table>
  <tr>
  </tr>

<% @activities.each do |activity| -%>
  <tr>
    <td><%= activity.key %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New activity', new_activity_path %>
