<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<%= page_title "New activity" %>

<%= form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <%= render partial: "activity_form", locals: {activity: @activity, f: f } %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', activities_path %>
