<% add :title, "This page details submissions made on a study." -%>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_workflow_path(@study, @workflow) -%>

<h1><%= link_to @study.name, study_path(@study) %> : <%= @workflow.name %></h1>
<div class='subtitle'>
  Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %>
</div>

<% unless @submissions.empty? %>
  <div class='quota_title'>
    <strong>Submissions</strong>
  </div>
  <div class="quota">
    <table width='100%' cellpadding='3' cellspacing='0' class='sortable'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Created at</th>
          <th></th>
          <% if @current_user.is_administrator? %>
          <th></th>
          <% end %>
        </tr>
      </thead>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= link_to submission.id, study_workflow_submission_path(@study, @workflow, submission) %></td>
          <td><%= submission.created_at.to_formatted_s(:day_full_with_time) %></td>
          <td><%= link_to "View", study_workflow_submission_path(@study, @workflow, submission) %></td>
          <% if @current_user.is_administrator? %>
            <td><%= link_to("<span style='color:red;'>Delete</span>", study_workflow_submission_path(@study, @workflow, submission), :method => :delete, :confirm => "Are you sure?") if current_user.administrator? %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
  </div>
<% else %>
  <% if current_user.is_administrator? || current_user.is_manager?(@study) %>
    <%= display_user_guide(I18n.t('studies.guidance.now_create_submission'), template_chooser_study_workflow_submissions_path(@study, @workflow)) %>
  <% end %>
<% end %>
