<%- add :title, "This page details the current status of a workflow." %>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_path(@study) -%>
<h1><%= @study.name %> : <%= @submission_template.name %></h1>
<div class='subtitle'>
  Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %>
</div>

<div class="content">
  <center>
  <!--h2>Requirements for <%= @workflow.name %></h2-->
  <h2>Requirements for <%= @submission_template.name %></h2>
  </center>

  <div class='info'>
    <%= custom_text("submission_info", @submission.info_differential) %>
  </div>

  <center>
  <%= link_to 'Accept and continue', new_submission_path %> or <%= link_to I18n.t("navigation.menu.back_to_study"), study_workflow_path(@study, @workflow)%>
  </center>
</div>
