<%- add :title, "This page details the current status of a workflow." %>
<%- add :menu, "Create a new project" => new_project_path  %>
<%- add :menu, "View asset groups" => study_asset_groups_path(@study)  %>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_workflow_path(@study, @workflow) -%>

<%# TODO[xxx]: need to use fields_for in this %>

<h1>
  <%
    # we can't use @submission.new_record as it will return true even though the
    # creation of the object failed
  if  @submission && @submission.id%>
  Add a new order to the submission
  <%= link_to @submission.name, submission_path(@submission) %>
  <% if @submission.editable? %>
    or <%= link_to 'submit', edit_submission_path(@submission) %> it
  <%end%>
<% else %>
Create an new order and a new submission.
<% end %>
</h1>


<h1><%= @study.name %> : REQUEST <%= @workflow.name %></h1>
<div class='subtitle'>
  Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %>
</div>
<h3><%= bullet_number=1%>. Requirements</h3>
Please read and accept the following <%= link_to 'requirements', info_study_workflow_submissions_path(@study, @workflow, :submission_template_id => @submission_template.id) %>.

<% form_for :order, :url => study_workflow_submissions_path(@study, @workflow,
                                                            :submission_template_id => @submission_template.id, :id => @submission.try(:id)),
:html => {:method => :post, :id => "submission_form"
} do |form| -%>

  <%= form.hidden_field :template_id, :value => params[:submission_template_id] %>
  <h3><%= bullet_number+=1%>. Select a study</h3>
  <div class="yui-g">
    <% @user_studies = current_user.sorted_study_names_and_ids << [@study.name, @study.id] %>
    <% @user_studies.uniq! %>
    <% if @user_studies.size <= 8 %>
      <div class="yui-u first centered">
        <%= label_tag(:order_study_id, 'Select a study') %>:
        <%= select_tag(:order_study_id, options_for_select(@user_studies, @order.study_id || params[:study_id]))  %>
      </div>
    <% else %>
      <%= hidden_label_tag_for_testing("study_name", "study Name") %>
      <input type="text" id="study_name" name="study_name" maxlength=256 size=50% value="<%= @order.study.try(:name) || params[:study_name] %>" />
      <div class="auto_complete" id="study_name_results"></div>
      <script language="JavaScript" type="text/javascript">
        new Autocompleter.Local('study_name','study_name_results', <%= @user_studies.map(&:first).inspect %>);
      </script>
      <small>(enter the first few characters of the study name)</small>
    <% end %>
  </div>

  <h3><%= bullet_number+=1%>. Select a project</h3>
  <div class="yui-g">
    <% @user_projects = current_user.sorted_project_names_and_ids %>
    <% if @user_projects.size <= 8 %>
      <div class="yui-u first centered">
        <%= label_tag(:project_id, 'Select a financial project') %>:
        <%= select_tag(:project_id, options_for_select(@user_projects, @order.project_id || params[:project_id]))  %>
      </div>
    <% else %>
      <%= hidden_label_tag_for_testing("project_name", "Project Name") %>
      <input type="text" id="project_name" name="project_name" maxlength=256 size=50% value="<%= @order.project.try(:name) || params[:project_name] %>" />
      <div class="auto_complete" id="project_name_results"></div>
      <script language="JavaScript" type="text/javascript">
        new Autocompleter.Local('project_name','project_name_results', <%= @user_projects.map(&:first).inspect %>);
      </script>
      <small>(enter the first few characters of the financial project name)</small>
    <% end %>
  </div>

<h3><%= bullet_number+=1%>. Select some assets</h3>
You need to select some assets that are  related to this study in order to create an order.
Please remember once you have created an order, any changes to the assets group <strong>are ignored!</strong>
<div class="yui-g first centered" width="80%" >
  <table id="asset_input_methods" class="boxContainer">
    <tr>
      <% @order.asset_input_methods.intersperse(nil).each do |input_method| %>
        <% if input_method.blank? %>
          <td class="separator" width="10%"> or </td>
        <% else %>
          <td>
            <div id="asset_inputs">
              <%= render(:partial => input_method.gsub(/\s+/, '_'), :locals => { :form => form, :submission => @order }) %>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>
  </table>
</div>

<% if @order.customize_partial %>
  <% #TODO render appropriate  partial %>
<% else %>
  <h3><%= bullet_number+=1%>. Customise the workflow</h3>
  <div class="yui-g">
    <div class="yui-u first">
      <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
          <td class="center">START</td>
        </tr>
        <tr>
          <td class="center">&darr;</td>
        </tr>
        <% @order.request_types_list.each_with_index do |request_types, order| %>
          <tr>
            <% if request_types.size == 1 %>
              <td class='center'>
                <label class='fixed_selection'>
                  <%= request_types.first.name %>
                  <%= hidden_field("request_type[#{order}]", nil, :name => "request_type[#{order}][request_type_id]", :value => request_types.first.id) %>
                </label>
              </label>
            </td>
          <% else %>
            <td class='center'>
              <%= hidden_label_tag_for_testing(:"request_type_#{ order }_request_type_id", "Request type for step #{ order+1 }") %>
              <%= select_tag("request_type[#{ order }][request_type_id]", options_from_collection_for_select(request_types, :id, :name)) %>
            </td>
          <% end %>
        </tr>
        <% unless request_types.detect{ |rt| rt.multiples_allowed? }.nil? %>
          <tr>
            <td class='center'>
              &times;
              <%= hidden_label_tag_for_testing(:"request_type_#{ order }_number", "Multiplier for step #{ order+1 }") %>
              <%= text_field_tag "request_type[#{order}][number]", :number, :value => params[:request_type].try(:[], order).try(:[], :number) || 1, :size => 1 %>
            </td>
          </tr>
        <% else %>
          <%= hidden_field_tag "request_type[#{order}][number]", :number, :value => 1 %>
        <% end %>
        <tr>
          <td class="center">&darr;</td>
        </tr>
      <% end %>
      <tr>
        <td class="center">END</td>
      </tr>
    </table>
  <% end %>

  <h3><%= bullet_number+=1%>. Add comments (if required)</h3>
  <div class="yui-g">
    <div class="yui-u first centered">
      <%= form.text_area :comments, :cols => 40, :rows => 5 %>
      <br />
    </div>
  </div>

  <h3><%= bullet_number+=1%>. Double check and create your order</h3>
  <div class="first centered">
    <div id="create_option">
      <p>
      <%= label_tag(:build_submission, "Finish and submit")%>
      <%= radio_button_tag(:build_submission, :yes) %>
      </p> <p>
      <%= label_tag(:build_submission, "Create a new order")%>
      <%= radio_button_tag(:build_submission, :no, true) %>
      </p> <p>
      <%= form.submit 'Create Order', :id => "submission_button", :disabled => false %>
      <% if @order.id.nil?%>
        or go <%= link_to I18n.t("navigation.menu.back_to_study"), study_path(@study) %>
      <% else%>
        , go <%= link_to I18n.t("navigation.menu.back_to_study"), study_path(@study) %>
        or <%= link_to :build, edit_submission_path(@submission)%> the submission.
      <% end %>
      </p>
    </div>

    <div id="being_created" style="display: none;">
      <p>The order is being made...</p>
      <%= loading_bar %>
    </div>
  </div>
</div>
<% unless (field_infos = @order.input_field_infos).empty? %>
  <div class="yui-u">
    <%= render :partial => "parameters", :locals => {:field_infos => field_infos } -%>
  </div>
<% end %>
<div class="yui-u">
  <p>
  Please add comments to your order to inform the labs of anything unusual or peculiar to the samples
  that you are submitting.
  </p>
  <p>
  Remember when you submit your orders, the requests will automatically be passed to the labs involved.
  You can only have a submission cancelled if no work has been started by the labs.
  </p>
</div>
  </div>
<% end -%>

<script>
(function(undefined) {
  document.observe('dom:loaded', function() {
    $('submission_form').observe('submit', function() {
      Element.hide('create_option');
      Element.show('being_created');
      Element.show('loading');
    });
  });
})();
(function ($) {
  $(function (){
    $("#order_study_id, #order_study_name").bind("change",
      function (ev){
      //var path = "/studies/"+study_id+"/workflows/<%=@workflow.id%>/asset_inputs".value.value.value
      var path = "<%=asset_inputs_study_workflow_submissions_path(@study, @workflow)%>"+"?"+this.name+"="+$(this).val();
        $.get(path,function (data){
          $("#asset_inputs").html(data);
        }
        )
      })
  });
})(jQuery);
</script>

