<% add :title, "This page details a submission sample." -%>
<% add :back_menu, I18n.t("navigation.menu.back_to_study") => study_workflow_path(@study, @workflow) -%>
<% if @study.approved? && @study.active? -%>
<% if current_user.is_administrator? || current_user.is_manager?(@study) %>
  <% add :back_menu, I18n.t("navigation.menu.new_similar_submission") => new_study_workflow_submission_path(@study, @workflow, :submission_template_id => @submission_template_id) if @submission_template_id -%>
  <% add :back_menu, I18n.t("navigation.menu.back_to_new_submission") => template_chooser_study_workflow_submissions_path(@study, @workflow) -%>
<% end %>
<% end -%>

<h1><%= link_to @study.name, study_workflow_path(@study, @workflow) %> : Submission <%= @submission.id %></h1>
<div class='subtitle'>
  Study <%= @study.id %> &middot; Created on <%= @study.created_at.to_formatted_s(:long) %> &middot; <%= @study.state.capitalize %>
</div>

<div class='help'>
  <h2>Important notice</h2>
  This submission describes the work you have requested. If you want to cancel it or alter it, <%= help_email_link %>.<br />
  If the information  is correct then you can leave the website now or follow the progress on the <%= link_to 'Status page', study_workflow_path(@study, @workflow) %>
</div>

<div class="info">
  Submission created at: <strong><%=h @submission.created_at.to_formatted_s(:day_full_with_time) %></strong>
  <% if @submission.building? %>
    <p><%= display_user_guide('Your submission is still being built.') %></p>
  <% elsif @submission.pending? %>
    <p><%= display_user_guide( "Your submission is currently pending.") %></p>
    <p>It should be processed approximately 10 minutes after you have submitted it, however sometimes this may take longer.</p>
  <% elsif @submission.processing? %>
    <p><%= display_user_guide("Your submission is currently being processed.  This should take no longer than five minutes.") %></p>
  <% elsif @submission.failed? %>
    <p>Your submission has failed:</p>
    <p><strong><%= @submission.message %></strong></p>
  <% elsif @submission.ready? %>
    <p>Your submission has been <strong>processed</strong>.</p>
  <% else %>
    <p>Your submission is in an unknown state (contact support).</p>
  <% end %>

  <% @submission.orders.each do |order| %>
    <% unless order.assets.empty? %>
      <h3>Assets</h3>
      <ul>
        <% order.assets.each do |asset| -%>
          <li><%= asset.name or "#{asset.sti_type} #{asset.id}" %></li>
        <% end -%>
      </ul>
    <% end %>

    <% unless order.request_types.blank? %>
      <h3>Request types</h3>
      <ul id="request_types_for_submission">
        <% RequestType.find(order.request_types).each do |request_type| %>
          <li><%= request_type.name %></li>
        <% end %>
      </ul>
    <% end %>
  <%end%>
</div>




