<%- add :menu, "View all plates" => study_plates_path(@study) %>

<h3><%= @plate.name %></h3>

<table width="100%" cellspacing="0" cellpadding="5">
  <tr>
    <th class="label">Well name</th>
    <th class="label">Created at</th>
  </tr>
<% for well in @wells %>
  <tr class="<%= cycle('rowodd', 'roweven') %>">
    <td width="45%"><% if well.name %><%= well.name %><% else %>No name is defined<% end %></td>
    <td width="25%"><%= well.created_at %></td>
  </tr>
<% end %>
</table>
<div style="text-align:center;">
  <%= will_paginate @wells %>
</div>
