
<% add :about, "Print barcode for this asset." -%>
<% add :menu, "View studies" => studies_path -%>
<% @asset.studies.uniq.each do |study| %>
  <% add :menu, "Back to #{study.name}" => study_url(study) %>
<% end %>


<%= page_title "Print Labels", "#{@printable.label} #{@printable.id} (#{@printable.human_barcode})" %>
<% unless @direct_printing %>
  <%= alert(:warning) do %>
    <strong>Caution!</strong>
    <p>The <%= @asset.label %> <%= @asset.display_name %> is not barcoded directly. This page is for printing barcodes for <%= @printable.label %> <%= @printable.human_barcode %> instead.</p>
  <% end %>
<% end %>
<%= render partial: 'print_form', locals: { asset: @printable } %>

