
<div class="page-header"><h1>Editing reference genome</h1></div>

<%= form_for(@reference_genome) do |f| %>
  <%= render_error_messages(@reference_genome) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @reference_genome %> |
<%= link_to 'Back', reference_genomes_path %>
