<h1>Editing reference genome</h1>

<% form_for(@reference_genome) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @reference_genome %> |
<%= link_to 'Back', reference_genomes_path %>
