<div class="form-group">
  <h3>Please, fill in this form</h3>
</div>

<%= form_for(@user_query) do |f| %>

  <%= f.hidden_field :url %>

  <div class="form-group">
    <%= f.label :user_email, 'Your email: ' %>
    <%= f.email_field :user_email %>
  </div>

  <div class="form-group">
    <%= f.label :what_was_trying_to_do, 'What were you trying to do?' %><br>
    <%= f.text_area :what_was_trying_to_do %>
  </div>

  <div class="form-group">
    <%= f.label :what_happened, 'What has happened?' %><br>
    <%= f.text_area :what_happened %>
  </div>

  <div class="form-group">
    <%= f.label :what_expected, 'What did you expect to happen?' %><br>
    <%= f.text_area :what_expected %>
  </div>


  <div class="form-group">
    <%= f.submit "Send" %>
  </div>

<% end %>
