<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<% add :title, I18n.t("studies.about") -%>
<% add :back_menu,I18n.t("navigation.menu.back_to_asset") => asset_path(@asset) -%>

<%= page_title("#{@asset.label} #{@asset.display_name}",'Comments') %>
<div class='subtitle'>
  Study <%= @asset.id %>
</div>

<%= render partial: "list", locals: {asset: @asset } %>

<div>
  <%= form_tag(asset_comments_path(@asset), data: { update: "#asset_annotations_#{@asset.id}", remote: true }, class:'remote-form') do %>
    <label for='comment'>Type your comment</label>
    <div class="input-group">
      <%= text_field_tag "comment", '',  class:'form-control' %><span class="input-group-btn"><%= submit_tag 'Add comment', class: 'btn btn-success' %></span>
    </div>
  <% end %>
</div>
