<% add :title, I18n.t("studies.about") -%>
<% add :back_menu,I18n.t("navigation.menu.back_to_asset") => asset_path(@asset) -%>

<h1><%= @asset.label %> <%= h(@asset.display_name) %> : Comments</h1>
<div class='subtitle'>
  Study <%= @asset.id %>
</div>

<%= render :partial => "list", :locals => {:asset => @asset } %>

<div>
  <p>Type your comment:</p>
  <%= form_remote_tag(:url => asset_comments_path(@asset), :update => "asset_annotations_#{@asset.id}") %>
  <%= text_field_tag "comment", '', :size  => 65 %><%= submit_tag 'Add comment' %>
</div>
