
<% add :about, I18n.t("studies.about") -%>
<% add :back_menu,I18n.t("navigation.menu.back_to_asset") => asset_path(@asset) -%>

<%= page_title("#{@asset.label} #{@asset.display_name}",'Comments') %>

<%= render partial: "list", locals: {asset: @asset } %>

<div>
  <%= form_tag(asset_comments_path(@asset), data: { update: "#asset_annotations_#{@asset.id}", remote: true }, class:'remote-form') do %>
    <label for='comment'>Type your comment</label>
    <div class="input-group">
      <%= text_field_tag "comment", '',  class:'form-control' %><span class="input-group-btn"><%= submit_tag 'Add comment', class: 'btn btn-success' %></span>
    </div>
  <% end %>
</div>
