<table id="summary" width="100%" class="sortable">
  <thead>
    <tr>
    <th>Request type</th>
    <th>Total quota</th>
    <th>Used quota</th>
    <th>Remaining quota</th>
    <th>Change quota</th>
    </tr>
  </thead>
  <tbody>
  <% workflow.request_types.each do |request_type| -%>
    <tr>
      <td><%= request_type.name %></td>
      <td><%= project.total_quota(request_type) %></td>
      <td><%= project.used_quota(request_type) %></td>
      <td><%= project.projected_remaining_quota(request_type) %></td>
      <td><%= link_to 'Request more', update_request_project_workflow_quotas_path(project, workflow) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
