<%- add :title, "Request more quota for the #{@project.name} project" %>
<% add :back_menu, I18n.t("navigation.menu.back_to_project") => project_path(@project) -%>

<h1><%= link_to @project.name, project_path(@project) %> : Request quota update</h1>
<div class='subtitle'>
  Project <%= @project.id %> &middot; Created on <%= @project.created_at.to_formatted_s(:long) %> &middot; <%= @project.state.capitalize %>
</div>

<table width="100%">
  <thead>
    <tr>
      <th>Type</th>
      <th>Quota</th>
    </tr>
  </thead>
  <tbody>
  <% form_for :quota, :url => send_request_project_workflow_quotas_path(@project,@workflow) do |form| %>
    <% @request_types.each do |request_type| %>
      <tr>
        <td><%= request_type.name %></td>
        <td><%= text_field_tag "limits[#{request_type.key}]", @project.total_quota(request_type) %></td>
      </tr>
    <% end %>
      <tr>
        <td>Comment:</td>
        <td><%= text_area_tag "comment", '', :cols => 40, :rows => 10 %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><br /><%= submit_tag "Send request" %> or <%= link_to 'cancel', "javascript:history.back();" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
