<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2014,2015,2016 Genome Research Ltd.%>

<% add(:tab, I18n.t('navigation.tabs.studies')   => studies_path) -%>
<% add(:tab, I18n.t('navigation.tabs.projects')  => projects_path) -%>
<% add(:tab, I18n.t('navigation.tabs.admin')     => admin_path) if logged_in? && current_user.is_administrator? -%>
<% add(:tab, I18n.t('navigation.tabs.pipelines') => pipelines_path) -%>
<% add(:tab, I18n.t('navigation.tabs.batches')   => batches_path) -%>
<% add(:tab, I18n.t('navigation.tabs.reception') => receptions_path) -%>
<% add(:tab, I18n.t('navigation.tabs.labwhere_reception') => labwhere_receptions_path) -%>
<% add(:tab, I18n.t('navigation.tabs.labview')   => lab_view_path) -%>
<% add(:tab, I18n.t('navigation.tabs.labsearch') => new_lab_search_path) -%>

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>
      Sequencescape : <%= controller.controller_name.capitalize %> - <%= @page_name || controller.action_name %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "tabview", "application", media: "all" %>


    <%#= stylesheet_link_tag("formtastic") + stylesheet_link_tag("formtastic_changes") %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  </head>

  <body class="<%= Rails.env %> <%= DeploymentEnvironment.role %> yui-skin-sam">
  <div id="doc3" class="container-fluid yui-t4">

    <header><%= render partial: 'shared/header' %></header>

    <section class="clearfix main-row">
      <section class="col-md-10">
        <%= render_flashes %>
        <div id="yield">
          <%= yield %>
        </div>
      </section>
      <div id="menu" class="col-md-2"><%= render partial: 'shared/sidebar' %></div>
    </section>

    <footer>
      <div class="well">
        <%= link_to "Feedback", "mailto:#{configatron.admin_email}" %> · <%= Deployed::VERSION_STRING %> · A tool from <%= link_to configatron.fetch(:team_name,'LIMS and Informatics'), configatron.fetch(:team_url,'http://www.sanger.ac.uk/science/groups/production-software-development') %>
      </div>
    </footer>

    </div>
  </body>
</html>
