
<% add(:tab, I18n.t('navigation.tabs.studies')              => studies_path) -%>
<% add(:tab, I18n.t('navigation.tabs.projects')             => projects_path) -%>
<% add(:tab, I18n.t('navigation.tabs.admin')                => admin_path) if can? :administer, Sequencescape -%>
<% add(:tab, I18n.t('navigation.tabs.uat_actions')          => uat_actions_path) unless Rails.env.production? -%>
<% add(:tab, I18n.t('navigation.tabs.pipelines')            => pipelines_path) -%>
<% add(:tab, I18n.t('navigation.tabs.batches')              => batches_path) -%>
<% add(:tab, I18n.t('navigation.tabs.labwhere_reception')   => labwhere_receptions_path) -%>
<% add(:tab, I18n.t('navigation.tabs.labview')              => lab_view_path) -%>
<% add(:tab, I18n.t('navigation.tabs.labsearch')            => new_lab_search_path) -%>
<% add(:tab, I18n.t('navigation.tabs.advancedsearch')       => advanced_search_path) if Flipper.enabled?(:dpl_395_2_enable_advanced_search_tab) -%>
<% add(:tab, I18n.t('navigation.tabs.report_fails')         => report_fails_path) if configatron.enable_report_fails -%>

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>
      Sequencescape : <%= controller.controller_name.capitalize %> - <%= @page_name || controller.action_name %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application.scss' %>
    <%= vite_javascript_tag 'application' %>

    <% if Rails.application.config.disable_animations %>
      <%= vite_stylesheet_tag 'disable_animations' %>

      <!-- Turn off animations in jQuery -->
      <%= legacy_javascript_tag do %>
        jQuery.fx.off = true;
      <% end %>
    <% end %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/<%= favicon %>" type="image/x-icon" />
    <link rel="icon" href="/<%= favicon %>" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="/<%= apple_icon %>" type="image/png" />
  </head>

  <body class="<%= Rails.env %> <%= DeploymentEnvironment.role %>">
    <header><%= render partial: 'shared/header' %></header>
    <%= render_flashes %>

    <div id='main-content'>
      <div class="row">
        <section id="page-content">
          <%= yield %>
        </section>

        <aside id="menu">
          <%= render partial: 'shared/sidebar' %>
        </aside>
      </div>
    </div>

    <div id="main-footer">
      <footer><%= render partial: 'shared/footer' %></footer>
    </div>
  </body>
</html>
