<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2015 Genome Research Ltd.%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= I18n.t("errors.occured") %></title>
  <%= stylesheet_link_tag "sessions" %>
  <style>
  h1 { margin-top: 0px; margin-bottom: 0.4em; }
  #content { padding: 10px;}
  div#logo { border: none; }
  div.flash { border: thin black solid; }
  </style>
</head>
<body>
  <div id="container">
    <div id="content">
      <h1><%= I18n.t("errors.occured") %></h1>
      <div id="logo">
        <%= image_tag "scape-large-dark.jpg", size: "600x229" %>
      </div>
      <h2>The problems...</h2>
      <%= yield %>
      <h2>What you can do</h2>
      <div>
        You can...
        <ul>
          <li><%= link_to "try your request again", request.referrer %></li>
          <li><%= link_to "go to the front page",'root' %>
          <li><%= link_to "report it to our support team",
            "mailto:configatron.admin_email?subject=Error%20report&body=Issue%20on%20page:%20#{request.referrer}" %></li>
      </div>
    </div>
  </div>
</body>
</html>
