<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= vite_stylesheet_tag "application.scss", media: "all" %>
    <title>Sequencescape : <%= I18n.t('global_links.login') %></title>
    <link rel="shortcut icon" href="/<%= favicon %>" type="image/x-icon" />
    <link rel="icon" href="/<%= favicon %>" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="/<%= apple_icon %>" type="image/png" />

    <style>
      .sessions {
        background-image:
          url('<%= vite_asset_url "images/sanger-pattern-corner.svg" %>'),
          linear-gradient(45deg, rgba(3, 155, 229, 1) 0%, rgba(139, 195, 74, 1) 100%);
      }
    </style>
    <% if Rails.application.config.disable_animations %>
      <%= vite_stylesheet_tag 'disable_animations' %>
    <% end %>
  </head>

  <body class="sessions">
    <div class="container-fluid p-0 d-flex flex-column justify-content-between align-items-center min-vh-100">
      <header></header><%# No header for login page, but helps with spacing %>

      <main id="login-panel">
        <%= vite_image_tag sequencescape_logo, class: "card-img-top", alt: "Sequencescape Logo" %>
        <%= yield %>
      </main>

      <footer id="main-footer" class="w-100">
        <%= render partial: 'shared/footer' %>
      </footer>
    </div>
  </body>

</html>
