
<div class="page-header"><h1>Editing asset group</h1></div>

<%= form_for [@study,@asset_group], method: :put do |f| %>
  <%= render_error_messages(@asset_group) %>

  <p>
    Name: <%= f.text_field :name %>
  </p>

  <p>
    Study: <%= f.collection_select :study_id, Study.all, :id, :name %>
  </p>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', study_asset_group_path(@study, @asset_group) %> |
<%= link_to 'Back', study_asset_groups_path(@study) %>
