
<div class="page-header"><h1>New asset group</h1></div>

<%= form_for @asset_group,  url: study_asset_groups_path(@study) do |f| %>
  <%= error_messages_for(f.object) %>

  <p><%= f.label(:name, 'Name') %>: <%= f.text_field :name %></p>
  <p><%= f.submit "Create" %></p>
<% end %>

<%= link_to 'Back', study_asset_groups_path(@study) %>
