<%# This file is part of SEQUENCESCAPE; it is distributed under the terms of
# GNU General Public License version 1 or later;
# Please refer to the LICENSE and README files for information on licensing and
# authorship of this file.
# Copyright (C) 2007-2011,2012,2015 Genome Research Ltd.%>

<%- add :menu, "Back to Study" => study_path(@study) -%>

<h3>Name: <%= @asset_group.name %></h3>

<div id=assets>
  <table class="hover_table">
    <thead>
      <th width="5%">Asset Name</th>
      <th width="5%">Sample Names</th>
      <th width="5%">Asset Type</th>
      <th width="5%">Asset Barcode</th>
    </thead>
    <% @asset_group.assets.each do |asset| -%>
      <tr>
        <td><%= link_to(h(asset.display_name), asset_path(asset)) %></td>
        <td>
          <% if asset.is_a?(Aliquot::Receptacle) and not asset.aliquots.empty? %>
              <% asset.aliquots.each do |aliquot| %>
                <%= link_to aliquot.sample.name, sample_path(aliquot.sample) %>
              <% end %>
          <% end %>
        </td>
        <td><%= asset.label %></td>
        <% unless asset.barcode.nil? %>
          <td><%= "Barcode: #{asset.barcode}" %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<hr />
<% if current_user.is_administrator? || current_user.is_manager?(@study) %>
  <%= form_for @asset_group, url: search_study_asset_group_path(@study, @asset_group), html: {method: :post} do |f| %>
    <p><%= label_tag(:q, 'Search for assets to add to group') %>: <%= text_field_tag :q %> <%= f.submit "Search" %></p>
  <% end %>
<hr />
<% end %>
<% if @asset_group.automatic_move? %>
  <%= render partial: "reception_form", locals: { barcodes: @asset_group.assets.map(&:ean13_barcode), receive_barcode: "receive_barcode", type: @asset_group.asset_types.first} %>
<hr />
<% end %>
<div class='section'>
  <% if current_user.is_admin? %>
    <%= link_to 'Edit', edit_study_asset_group_path(@study, @asset_group) %> |
  <% end %>
  <%= link_to 'Back', study_asset_groups_path(@study) %>
</div>
