<h1>Editing implement</h1>

<p>
  <% unless flash[:notice].nil? -%>
  <div class='notice'>
    <%= flash[:notice] %>
  </div>
  <% end %>
</p>
<% form_for(@implement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :equipment_type %><br />
    <%= f.text_field :equipment_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @implement %> |
<%= link_to 'Back', implements_path %>
