

<h1>PRINT LABELS</h1>
<div class="content">
  <div class="info">
    Print barcode labels for Lab Implements
  </div>
  <div class="info">
    <form action='/implements/print_barcodes' method='POST'>
			<%= render :partial => "shared/print" %>
			<table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="35%" class="item">Number of copies:</td>
          <td width="65%"><input name="count" size="2"  value="1" /></td>
        </tr>
    <% if @implements.nil? -%>
        <tr>
          <td colspan="6">No Barcodes to print</td>
        </tr>
    <% else -%>
          <% @implements.each do |implement| -%>
              <tr>
                <td width="35%" class="item"><%= implement.name %> with ID: <em><%= implement.barcode %></em></td>
                <td width="65%"><input type='checkbox' checked='on' name='printable[<%= implement.id %>]'></td>
              </tr>
          <% end -%>
    <% end -%>
        <tr>
          <td width="35%" class="item">&nbsp;</td>
          <td width="65%"><input type='submit' value='Print labels'> or <%= link_to 'cancel', :controller => 'implements', :action => 'index' %></td>
        </tr>
      </table>
  </div>
</div>
